# Start of Data Transformation

Task: use Pandas to transform csv files into DataFrames that match desired tables for database schema

In [1]:
import pandas as pd

In [2]:
!ls SourceData/CorrelatesOfWar/

Codebooks                    MID_Narratives_2002-2010.pdf
CowWarList.pdf               NMC_5_0-wsupplementary.csv
Entities.pdf                 Non-StateWarData_v4.0.csv
Extra-StateWarData_v4.0.csv  Territories.csv
IGO_stateunit_v2.3.csv       alliance_v4.1_by_member.csv
Inter-StateWarData_v4.0.csv  contdir.csv
Intra-StateWarData_v4.1.csv  igounit_v2.3.csv
MIDA_4.2.csv                 majors2016.csv
MIDB_4.2.csv                 states2016.csv
MIDLOCA_2.0.csv              system2016.csv
MID_Narratives_1993-2001.pdf tc2014.csv

## Create 'STATE' table

Task: transform states2016.csv into a table with attributes:

- StateID
- StateAbbr
- StateName

in which each StateID occurs once (as it is the Primary Key)

In [3]:
dfStates = pd.read_csv('SourceData/CorrelatesOfWar/states2016.csv')
dfStates

,stateabb,ccode,statenme,styear,stmonth,stday,endyear,endmonth,endday,version
0,USA,2,United States of America,1816,1,1,2016,12,31,2016
1,CAN,20,Canada,1920,1,10,2016,12,31,2016
2,BHM,31,Bahamas,1973,7,10,2016,12,31,2016
3,CUB,40,Cuba,1902,5,20,1906,9,25,2016
4,CUB,40,Cuba,1909,1,23,2016,12,31,2016
5,HAI,41,Haiti,1859,1,1,1915,7,28,2016
6,HAI,41,Haiti,1934,8,15,2016,12,31,2016
7,DOM,42,Dominican Republic,1894,1,1,1916,11,29,2016
8,DOM,42,Dominican Republic,1924,9,29,2016,12,31,2016
9,JAM,51,Jamaica,1962,8,6,2016,12,31,2016
10,TRI,52,Trinidad and Tobago,1962,8,31,2016,12,31,2016
11,BAR,53,Barbados,1966,11,30,2016,12,31,2016
12,DMA,54,Dominica,1978,11,3,2016,12,31,2016
13,GRN,55,Grenada,1974,2,7,2016,12,31,2016
14,SLU,56,St. Lucia,1979,2,22,2016,12,31,2016
15,SVG,57,St. Vincent and the Grenadines,1979,10,27,2016,12,31,2016
16,AAB,58,Antigua & Barbuda,1981,11,1,2016,12,31,2016
17,SKN,60,St. Kitts and Nevis,1983,9,19,2016,12,31,2016
18,MEX,70,Mexico,1831,1,1,2016,12,31,2016
19,BLZ,80,Belize,1981,9,21,2016,12,31,2016
20,GUA,90,Guatemala,1868,1,1,2016,12,31,2016
21,HON,91,Honduras,1899,1,1,2016,12,31,2016
22,SAL,92,El Salvador,1875,1,1,2016,12,31,2016
23,NIC,93,Nicaragua,1900,1,1,2016,12,31,2016
24,COS,94,Costa Rica,1920,1,1,2016,12,31,2016
25,PAN,95,Panama,1903,11,3,2016,12,31,2016
26,COL,100,Colombia,1831,1,1,2016,12,31,2016
27,VEN,101,Venezuela,1841,1,1,2016,12,31,2016
28,GUY,110,Guyana,1966,5,26,2016,12,31,2016
29,SUR,115,Suriname,1975,11,25,2016,12,31,2016
...,...,...,...,...,...,...,...,...,...,...
213,BNG,771,Bangladesh,1971,12,16,2016,12,31,2016
214,MYA,775,Myanmar,1948,1,4,2016,12,31,2016
215,SRI,780,Sri Lanka,1948,2,4,2016,12,31,2016
216,MAD,781,Maldives,1965,7,26,2016,12,31,2016
217,NEP,790,Nepal,1920,1,1,2016,12,31,2016
218,THI,800,Thailand,1887,1,1,2016,12,31,2016
219,CAM,811,Cambodia,1953,11,9,2016,12,31,2016
220,LAO,812,Laos,1953,10,23,2016,12,31,2016
221,DRV,816,Vietnam,1954,7,21,2016,12,31,2016
222,RVN,817,Republic of Vietnam,1954,6,4,1975,4,30,2016
223,MAL,820,Malaysia,1957,8,31,2016,12,31,2016
224,SIN,830,Singapore,1965,8,9,2016,12,31,2016
225,BRU,835,Brunei,1984,1,1,2016,12,31,2016
226,PHI,840,Philippines,1946,7,4,2016,12,31,2016
227,INS,850,Indonesia,1949,12,27,2016,12,31,2016
228,ETM,860,East Timor,2002,9,27,2016,12,31,2016
229,AUL,900,Australia,1920,1,10,2016,12,31,2016
230,PNG,910,Papua New Guinea,1975,9,16,2016,12,31,2016
231,NEW,920,New Zealand,1920,1,10,2016,12,31,2016
232,VAN,935,Vanuatu,1981,9,15,2016,12,31,2016
233,SOL,940,Solomon Islands,1978,7,7,2016,12,31,2016
234,KIR,946,Kiribati,1999,9,14,2016,12,31,2016
235,TUV,947,Tuvalu,2000,9,5,2016,12,31,2016
236,FIJ,950,Fiji,1970,10,10,2016,12,31,2016
237,TON,955,Tonga,1999,9,14,2016,12,31,2016
238,NAU,970,Nauru,1999,9,14,2016,12,31,2016
239,MSI,983,Marshall Islands,1991,9,17,2016,12,31,2016
240,PAL,986,Palau,1994,12,15,2016,12,31,2016
241,FSM,987,Federated States of Micronesia,1991,9,17,2016,12,31,2016
242,WSM,990,Samoa,1976,12,15,2016,12,31,2016

In [4]:
dfStates.drop(columns=['styear', 'stmonth', 'stday', 'endyear', 'endmonth', 'endday', 'version'], inplace=True)
dfStates.drop_duplicates(inplace=True)
dfStates.rename(columns={"stateabb": "StateAbbr", "ccode":"StateID", "statenme":"StateName"}, inplace=True)
dfStates =  dfStates[['StateID', 'StateAbbr', 'StateName']]
dfStates

     StateID StateAbbr                       StateName
0          2       USA        United States of America
1         20       CAN                          Canada
2         31       BHM                         Bahamas
3         40       CUB                            Cuba
5         41       HAI                           Haiti
7         42       DOM              Dominican Republic
9         51       JAM                         Jamaica
10        52       TRI             Trinidad and Tobago
11        53       BAR                        Barbados
12        54       DMA                        Dominica
13        55       GRN                         Grenada
14        56       SLU                       St. Lucia
15        57       SVG  St. Vincent and the Grenadines
16        58       AAB               Antigua & Barbuda
17        60       SKN             St. Kitts and Nevis
18        70       MEX                          Mexico
19        80       BLZ                          Belize
20        90       GUA                       Guatemala
21        91       HON                        Honduras
22        92       SAL                     El Salvador
23        93       NIC                       Nicaragua
24        94       COS                      Costa Rica
25        95       PAN                          Panama
26       100       COL                        Colombia
27       101       VEN                       Venezuela
28       110       GUY                          Guyana
29       115       SUR                        Suriname
30       130       ECU                         Ecuador
31       135       PER                            Peru
32       140       BRA                          Brazil
..       ...       ...                             ...
213      771       BNG                      Bangladesh
214      775       MYA                         Myanmar
215      780       SRI                       Sri Lanka
216      781       MAD                        Maldives
217      790       NEP                           Nepal
218      800       THI                        Thailand
219      811       CAM                        Cambodia
220      812       LAO                            Laos
221      816       DRV                         Vietnam
222      817       RVN             Republic of Vietnam
223      820       MAL                        Malaysia
224      830       SIN                       Singapore
225      835       BRU                          Brunei
226      840       PHI                     Philippines
227      850       INS                       Indonesia
228      860       ETM                      East Timor
229      900       AUL                       Australia
230      910       PNG                Papua New Guinea
231      920       NEW                     New Zealand
232      935       VAN                         Vanuatu
233      940       SOL                 Solomon Islands
234      946       KIR                        Kiribati
235      947       TUV                          Tuvalu
236      950       FIJ                            Fiji
237      955       TON                           Tonga
238      970       NAU                           Nauru
239      983       MSI                Marshall Islands
240      986       PAL                           Palau
241      987       FSM  Federated States of Micronesia
242      990       WSM                           Samoa

[217 rows x 3 columns]

## Create 'STATE_DATES' table

Task: transform states2016.csv into a table with attributes:

- StateID
- StartDate
- EndDate
- StartYear
- StartMonth
- StartDay
- EndYear
- EndMonth
- EndDay

in which each combination of StateID and StartDate occurs only once.

Note: StartDate and EndDate must be in the format 'YYYY-MM-DD'

In [5]:
dfStateDates = pd.read_csv('SourceData/CorrelatesOfWar/states2016.csv')
dfStateDates

,stateabb,ccode,statenme,styear,stmonth,stday,endyear,endmonth,endday,version
0,USA,2,United States of America,1816,1,1,2016,12,31,2016
1,CAN,20,Canada,1920,1,10,2016,12,31,2016
2,BHM,31,Bahamas,1973,7,10,2016,12,31,2016
3,CUB,40,Cuba,1902,5,20,1906,9,25,2016
4,CUB,40,Cuba,1909,1,23,2016,12,31,2016
5,HAI,41,Haiti,1859,1,1,1915,7,28,2016
6,HAI,41,Haiti,1934,8,15,2016,12,31,2016
7,DOM,42,Dominican Republic,1894,1,1,1916,11,29,2016
8,DOM,42,Dominican Republic,1924,9,29,2016,12,31,2016
9,JAM,51,Jamaica,1962,8,6,2016,12,31,2016
10,TRI,52,Trinidad and Tobago,1962,8,31,2016,12,31,2016
11,BAR,53,Barbados,1966,11,30,2016,12,31,2016
12,DMA,54,Dominica,1978,11,3,2016,12,31,2016
13,GRN,55,Grenada,1974,2,7,2016,12,31,2016
14,SLU,56,St. Lucia,1979,2,22,2016,12,31,2016
15,SVG,57,St. Vincent and the Grenadines,1979,10,27,2016,12,31,2016
16,AAB,58,Antigua & Barbuda,1981,11,1,2016,12,31,2016
17,SKN,60,St. Kitts and Nevis,1983,9,19,2016,12,31,2016
18,MEX,70,Mexico,1831,1,1,2016,12,31,2016
19,BLZ,80,Belize,1981,9,21,2016,12,31,2016
20,GUA,90,Guatemala,1868,1,1,2016,12,31,2016
21,HON,91,Honduras,1899,1,1,2016,12,31,2016
22,SAL,92,El Salvador,1875,1,1,2016,12,31,2016
23,NIC,93,Nicaragua,1900,1,1,2016,12,31,2016
24,COS,94,Costa Rica,1920,1,1,2016,12,31,2016
25,PAN,95,Panama,1903,11,3,2016,12,31,2016
26,COL,100,Colombia,1831,1,1,2016,12,31,2016
27,VEN,101,Venezuela,1841,1,1,2016,12,31,2016
28,GUY,110,Guyana,1966,5,26,2016,12,31,2016
29,SUR,115,Suriname,1975,11,25,2016,12,31,2016
...,...,...,...,...,...,...,...,...,...,...
213,BNG,771,Bangladesh,1971,12,16,2016,12,31,2016
214,MYA,775,Myanmar,1948,1,4,2016,12,31,2016
215,SRI,780,Sri Lanka,1948,2,4,2016,12,31,2016
216,MAD,781,Maldives,1965,7,26,2016,12,31,2016
217,NEP,790,Nepal,1920,1,1,2016,12,31,2016
218,THI,800,Thailand,1887,1,1,2016,12,31,2016
219,CAM,811,Cambodia,1953,11,9,2016,12,31,2016
220,LAO,812,Laos,1953,10,23,2016,12,31,2016
221,DRV,816,Vietnam,1954,7,21,2016,12,31,2016
222,RVN,817,Republic of Vietnam,1954,6,4,1975,4,30,2016
223,MAL,820,Malaysia,1957,8,31,2016,12,31,2016
224,SIN,830,Singapore,1965,8,9,2016,12,31,2016
225,BRU,835,Brunei,1984,1,1,2016,12,31,2016
226,PHI,840,Philippines,1946,7,4,2016,12,31,2016
227,INS,850,Indonesia,1949,12,27,2016,12,31,2016
228,ETM,860,East Timor,2002,9,27,2016,12,31,2016
229,AUL,900,Australia,1920,1,10,2016,12,31,2016
230,PNG,910,Papua New Guinea,1975,9,16,2016,12,31,2016
231,NEW,920,New Zealand,1920,1,10,2016,12,31,2016
232,VAN,935,Vanuatu,1981,9,15,2016,12,31,2016
233,SOL,940,Solomon Islands,1978,7,7,2016,12,31,2016
234,KIR,946,Kiribati,1999,9,14,2016,12,31,2016
235,TUV,947,Tuvalu,2000,9,5,2016,12,31,2016
236,FIJ,950,Fiji,1970,10,10,2016,12,31,2016
237,TON,955,Tonga,1999,9,14,2016,12,31,2016
238,NAU,970,Nauru,1999,9,14,2016,12,31,2016
239,MSI,983,Marshall Islands,1991,9,17,2016,12,31,2016
240,PAL,986,Palau,1994,12,15,2016,12,31,2016
241,FSM,987,Federated States of Micronesia,1991,9,17,2016,12,31,2016
242,WSM,990,Samoa,1976,12,15,2016,12,31,2016

In [6]:
dfStateDates.drop(columns=['stateabb', 'statenme', 'version'], inplace=True)
dfStateDates.rename(columns={"ccode":"StateID", "styear": "StartYear", "stmonth":"StartMonth", "stday":"StartDay", "endyear": "EndYear", "endmonth":"EndMonth", "endday":"EndDay"}, inplace=True)
dfStateDates['StartDate'] = pd.to_datetime(dict(year=dfStateDates.StartYear, month=dfStateDates.StartMonth, day=dfStateDates.StartDay))
dfStateDates['EndDate'] = pd.to_datetime(dict(year=dfStateDates.EndYear, month=dfStateDates.EndMonth, day=dfStateDates.EndDay))
dfStateDates = dfStateDates[['StateID', 'StartDate', 'EndDate', 'StartYear', 'StartMonth', 'StartDay', 'EndYear', 'EndMonth', 'EndDay']]
dfStateDates

,StateID,StartDate,EndDate,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,2,1816-01-01,2016-12-31,1816,1,1,2016,12,31
1,20,1920-01-10,2016-12-31,1920,1,10,2016,12,31
2,31,1973-07-10,2016-12-31,1973,7,10,2016,12,31
3,40,1902-05-20,1906-09-25,1902,5,20,1906,9,25
4,40,1909-01-23,2016-12-31,1909,1,23,2016,12,31
5,41,1859-01-01,1915-07-28,1859,1,1,1915,7,28
6,41,1934-08-15,2016-12-31,1934,8,15,2016,12,31
7,42,1894-01-01,1916-11-29,1894,1,1,1916,11,29
8,42,1924-09-29,2016-12-31,1924,9,29,2016,12,31
9,51,1962-08-06,2016-12-31,1962,8,6,2016,12,31
10,52,1962-08-31,2016-12-31,1962,8,31,2016,12,31
11,53,1966-11-30,2016-12-31,1966,11,30,2016,12,31
12,54,1978-11-03,2016-12-31,1978,11,3,2016,12,31
13,55,1974-02-07,2016-12-31,1974,2,7,2016,12,31
14,56,1979-02-22,2016-12-31,1979,2,22,2016,12,31
15,57,1979-10-27,2016-12-31,1979,10,27,2016,12,31
16,58,1981-11-01,2016-12-31,1981,11,1,2016,12,31
17,60,1983-09-19,2016-12-31,1983,9,19,2016,12,31
18,70,1831-01-01,2016-12-31,1831,1,1,2016,12,31
19,80,1981-09-21,2016-12-31,1981,9,21,2016,12,31
20,90,1868-01-01,2016-12-31,1868,1,1,2016,12,31
21,91,1899-01-01,2016-12-31,1899,1,1,2016,12,31
22,92,1875-01-01,2016-12-31,1875,1,1,2016,12,31
23,93,1900-01-01,2016-12-31,1900,1,1,2016,12,31
24,94,1920-01-01,2016-12-31,1920,1,1,2016,12,31
25,95,1903-11-03,2016-12-31,1903,11,3,2016,12,31
26,100,1831-01-01,2016-12-31,1831,1,1,2016,12,31
27,101,1841-01-01,2016-12-31,1841,1,1,2016,12,31
28,110,1966-05-26,2016-12-31,1966,5,26,2016,12,31
29,115,1975-11-25,2016-12-31,1975,11,25,2016,12,31
...,...,...,...,...,...,...,...,...,...
213,771,1971-12-16,2016-12-31,1971,12,16,2016,12,31
214,775,1948-01-04,2016-12-31,1948,1,4,2016,12,31
215,780,1948-02-04,2016-12-31,1948,2,4,2016,12,31
216,781,1965-07-26,2016-12-31,1965,7,26,2016,12,31
217,790,1920-01-01,2016-12-31,1920,1,1,2016,12,31
218,800,1887-01-01,2016-12-31,1887,1,1,2016,12,31
219,811,1953-11-09,2016-12-31,1953,11,9,2016,12,31
220,812,1953-10-23,2016-12-31,1953,10,23,2016,12,31
221,816,1954-07-21,2016-12-31,1954,7,21,2016,12,31
222,817,1954-06-04,1975-04-30,1954,6,4,1975,4,30
223,820,1957-08-31,2016-12-31,1957,8,31,2016,12,31
224,830,1965-08-09,2016-12-31,1965,8,9,2016,12,31
225,835,1984-01-01,2016-12-31,1984,1,1,2016,12,31
226,840,1946-07-04,2016-12-31,1946,7,4,2016,12,31
227,850,1949-12-27,2016-12-31,1949,12,27,2016,12,31
228,860,2002-09-27,2016-12-31,2002,9,27,2016,12,31
229,900,1920-01-10,2016-12-31,1920,1,10,2016,12,31
230,910,1975-09-16,2016-12-31,1975,9,16,2016,12,31
231,920,1920-01-10,2016-12-31,1920,1,10,2016,12,31
232,935,1981-09-15,2016-12-31,1981,9,15,2016,12,31
233,940,1978-07-07,2016-12-31,1978,7,7,2016,12,31
234,946,1999-09-14,2016-12-31,1999,9,14,2016,12,31
235,947,2000-09-05,2016-12-31,2000,9,5,2016,12,31
236,950,1970-10-10,2016-12-31,1970,10,10,2016,12,31
237,955,1999-09-14,2016-12-31,1999,9,14,2016,12,31
238,970,1999-09-14,2016-12-31,1999,9,14,2016,12,31
239,983,1991-09-17,2016-12-31,1991,9,17,2016,12,31
240,986,1994-12-15,2016-12-31,1994,12,15,2016,12,31
241,987,1991-09-17,2016-12-31,1991,9,17,2016,12,31
242,990,1976-12-15,2016-12-31,1976,12,15,2016,12,31

## Create 'STATE_CONTIGUITY' table

Task: transform contdir.csv into a table with attributes:

- StateA
- StateB
- StartDate
- EndDate
- StartYear
- StartMonth
- EndYear
- EndMonth
- Type
- Notes

In [7]:
dfStateCont = pd.read_csv('SourceData/CorrelatesOfWar/contdir.csv')
dfStateCont

,dyad,statelno,statelab,statehno,statehab,conttype,begin,end,notes,version
0,2020,2,USA,20,CAN,1,192001,201612,Begins with CAN system entry,3.2
1,2031,2,USA,31,BHM,4,197307,201612,Across Atlantic Ocean (closest=Florida-Bimini)...,3.2
2,2040,2,USA,40,CUB,4,190205,190609,Across Florida Straits (closest=Key West); beg...,3.2
3,2040,2,USA,40,CUB,4,190901,201612,Across Florida Straits (closest=Key West); res...,3.2
4,2070,2,USA,70,MEX,1,183101,201612,Begins with MEX system entry,3.2
5,2365,2,USA,365,RUS,2,195901,201612,Across Bering Strait (closest=Alaska-Siberia);...,3.2
6,31040,31,BHM,40,CUB,4,197307,201612,Across Atlantic Ocean (closest=Great Inagua); ...,3.2
7,31041,31,BHM,41,HAI,4,197307,201612,Across Atlantic Ocean (closest=Great Inagua); ...,3.2
8,31042,31,BHM,42,DOM,4,197307,201612,Across Atlantic Ocean (closest=Great Inagua); ...,3.2
9,31051,31,BHM,51,JAM,5,197307,201612,Across Windward Passage (closest=Great Inagua)...,3.2
10,40041,40,CUB,41,HAI,4,190205,190609,Across Windward Passage; begins with CUB syste...,3.2
11,40041,40,CUB,41,HAI,4,190901,191507,Across Windward Passage; resumes after USA occ...,3.2
12,40041,40,CUB,41,HAI,4,193408,201612,Across Windward Passage; resumes after USA occ...,3.2
13,40042,40,CUB,42,DOM,5,190205,190609,Across Windward Passage (closest=Great Inagua)...,3.2
14,40042,40,CUB,42,DOM,5,190901,191611,Across Windward Passage; resumes after USA occ...,3.2
15,40042,40,CUB,42,DOM,5,192409,201612,Across Windward Passage; resumes after USA occ...,3.2
16,40051,40,CUB,51,JAM,4,196208,201612,Across Caribbean Sea; begins with JAM system e...,3.2
17,40070,40,CUB,70,MEX,4,190205,190609,Across Yucatan Channel; begins with CUB system...,3.2
18,40070,40,CUB,70,MEX,4,190901,201612,Across Yucatan Channel; resumes after USA occu...,3.2
19,40080,40,CUB,80,BLZ,5,198109,201612,Across Caribbean Sea; begins with BLZ system e...,3.2
20,40091,40,CUB,91,HON,5,190205,190609,Across Caribbean Sea; begins with CUB system e...,3.2
21,40091,40,CUB,91,HON,5,190901,201612,Across Caribbean Sea; resumes after USA occupa...,3.2
22,41042,41,HAI,42,DOM,1,189401,191507,Begins with DOM system entry; ends with USA oc...,3.2
23,41042,41,HAI,42,DOM,1,193408,201612,Resumes after USA occupation of HAI ends,3.2
24,41051,41,HAI,51,JAM,4,196208,201612,Across Jamaica Channel; begins with JAM system...,3.2
25,41100,41,HAI,100,COL,5,185901,191507,Across Caribbean Sea; begins with HAI system e...,3.2
26,41100,41,HAI,100,COL,5,193408,201612,Across Caribbean Sea; resumes after USA occupa...,3.2
27,42051,42,DOM,51,JAM,5,196208,201612,Across Jamaica Channel/Caribbean Sea; begins w...,3.2
28,42060,42,DOM,60,SKN,5,198309,201612,Across Caribbean Sea; begins with SKN system e...,3.2
29,42100,42,DOM,100,COL,5,189401,191611,Across Caribbean Sea; begins with DOM system e...,3.2
...,...,...,...,...,...,...,...,...,...,...
817,816850,816,DRV,850,INS,5,197504,201612,Across South China Sea (through S.Vietnam); be...,3.2
818,817820,817,RVN,820,MAL,5,195708,197504,Across South China Sea; begins with MAL system...,3.2
819,817850,817,RVN,850,INS,5,195406,197504,Across Gulf of Thailand; begins with RVN syste...,3.2
820,820830,820,MAL,830,SIN,1,196508,201612,Begins with SIN system entry,3.2
821,820835,820,MAL,835,BRU,1,198401,201612,Begins with BRU system etry,3.2
822,820840,820,MAL,840,PHI,3,196309,201612,Across Balabac Strait (through Sabah-Palawan);...,3.2
823,820850,820,MAL,850,INS,3,195708,196309,Across Strait of Malacca (through Sumatra-Mala...,3.2
824,820850,820,MAL,850,INS,1,196309,201612,Begins when Sabah/Sarawak join MAL,3.2
825,830850,830,SIN,850,INS,2,196508,201612,Across Singapore Strait; begins with SIN syste...,3.2
826,835840,835,BRU,840,PHI,5,198401,201612,Across South China Sea (through Palawan); begi...,3.2
827,840850,840,PHI,850,INS,4,194912,201612,Across Celebes Sea (through Sulu Archipelago-B...,3.2
828,840986,840,PHI,986,PAL,5,199411,201612,Across Pacific Ocean; begins with PAL system e...,3.2
829,850860,850,INS,860,ETM,1,200209,201612,Begins with ETM system entry,3.2
830,850900,850,INS,900,AUL,5,194912,196304,Across Timor Sea (through Timor); begins with ...,3.2
831,850900,850,INS,900,AUL,4,196305,201612,Across Arafura Sea (through Irian Jaya); begin...,3.2
832,850910,850,INS,910,PNG,1,197509,201612,Begins with PNG system entry,3.2
833,850986,850,INS,986,PAL,4,199411,201612,Across Pacific Ocean; begins with PAL system e...,3.2
834,850987,850,INS,987,FSM,5,199109,201612,Across Pacific Ocean; begins with FSM system e...,3.2
835,860900,860,ETM,900,AUL,5,200209,201612,Across Timor Sea; begins with ETM system entry,3.2
836,900910,900,AUL,910,PNG,2,197509,201612,Across Torres Strait; begins with PNG system e...,3.2
837,910940,910,PNG,940,SOL,2,197807,201612,Across Solomon Sea; begins with SOL system entry,3.2
838,910987,910,PNG,987,FSM,5,199109,201612,Across Pacific Ocean; begins with FSM system e...,3.2
839,935940,935,VAN,940,SOL,4,198109,201612,Across Pacific Ocean; begins with VAN system e...,3.2
840,946947,946,KIR,947,TUV,5,200008,201612,Across Pacific Ocean; begins with TUV system e...,3.2
841,946970,946,KIR,970,NAU,5,199909,201612,Across Pacific Ocean; begins with KIR and NAU ...,3.2
842,946983,946,KIR,983,MSI,5,199909,201612,Across Pacific Ocean; begins with KIR system e...,3.2
843,947950,947,TUV,950,FIJ,5,200008,201612,Across Pacific Ocean; begins with TUV system e...,3.2
844,950955,950,FIJ,955,TON,5,199908,201612,Across Pacific Ocean; begins with TON system e...,3.2
845,955990,955,TON,990,WSM,5,199908,201612,Across Pacific Ocean; begins with TON system e...,3.2
846,986987,986,PAL,987,FSM,4,199411,201612,Across Pacific Ocean; begins with PAL system e...,3.2

In [8]:
dfStateCont.drop(columns=['dyad', 'statelab', 'statehab', 'version'], inplace=True)
dfStateCont.rename(columns={"statelno":"StateA", "statehno": "StateB", "conttype":"Type", "notes":"Notes"}, inplace=True)
dfStateCont['StartYear'] = dfStateCont['begin'].astype(str).str[0:4]
dfStateCont['StartMonth'] = dfStateCont['begin'].astype(str).str[4:6]
dfStateCont['EndYear'] = dfStateCont['end'].astype(str).str[0:4]
dfStateCont['EndMonth'] = dfStateCont['end'].astype(str).str[4:6]
dfStateCont.drop(columns=['begin', 'end'], inplace=True)
dfStateCont['StartDate'] = pd.to_datetime(dict(year=dfStateCont.StartYear, month=dfStateCont.StartMonth, day='01'))
dfStateCont['EndDate'] = pd.to_datetime(dict(year=dfStateCont.EndYear, month=dfStateCont.EndMonth, day='01'))
dfStateCont = dfStateCont[['StateA', 'StateB', 'StartDate', 'EndDate', 'StartYear', 'StartMonth', 'EndYear', 'EndMonth', 'Type', 'Notes']]
dfStateCont

,StateA,StateB,StartDate,EndDate,StartYear,StartMonth,EndYear,EndMonth,Type,Notes
0,2,20,1920-01-01,2016-12-01,1920,01,2016,12,1,Begins with CAN system entry
1,2,31,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Florida-Bimini)...
2,2,40,1902-05-01,1906-09-01,1902,05,1906,09,4,Across Florida Straits (closest=Key West); beg...
3,2,40,1909-01-01,2016-12-01,1909,01,2016,12,4,Across Florida Straits (closest=Key West); res...
4,2,70,1831-01-01,2016-12-01,1831,01,2016,12,1,Begins with MEX system entry
5,2,365,1959-01-01,2016-12-01,1959,01,2016,12,2,Across Bering Strait (closest=Alaska-Siberia);...
6,31,40,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Great Inagua); ...
7,31,41,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Great Inagua); ...
8,31,42,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Great Inagua); ...
9,31,51,1973-07-01,2016-12-01,1973,07,2016,12,5,Across Windward Passage (closest=Great Inagua)...
10,40,41,1902-05-01,1906-09-01,1902,05,1906,09,4,Across Windward Passage; begins with CUB syste...
11,40,41,1909-01-01,1915-07-01,1909,01,1915,07,4,Across Windward Passage; resumes after USA occ...
12,40,41,1934-08-01,2016-12-01,1934,08,2016,12,4,Across Windward Passage; resumes after USA occ...
13,40,42,1902-05-01,1906-09-01,1902,05,1906,09,5,Across Windward Passage (closest=Great Inagua)...
14,40,42,1909-01-01,1916-11-01,1909,01,1916,11,5,Across Windward Passage; resumes after USA occ...
15,40,42,1924-09-01,2016-12-01,1924,09,2016,12,5,Across Windward Passage; resumes after USA occ...
16,40,51,1962-08-01,2016-12-01,1962,08,2016,12,4,Across Caribbean Sea; begins with JAM system e...
17,40,70,1902-05-01,1906-09-01,1902,05,1906,09,4,Across Yucatan Channel; begins with CUB system...
18,40,70,1909-01-01,2016-12-01,1909,01,2016,12,4,Across Yucatan Channel; resumes after USA occu...
19,40,80,1981-09-01,2016-12-01,1981,09,2016,12,5,Across Caribbean Sea; begins with BLZ system e...
20,40,91,1902-05-01,1906-09-01,1902,05,1906,09,5,Across Caribbean Sea; begins with CUB system e...
21,40,91,1909-01-01,2016-12-01,1909,01,2016,12,5,Across Caribbean Sea; resumes after USA occupa...
22,41,42,1894-01-01,1915-07-01,1894,01,1915,07,1,Begins with DOM system entry; ends with USA oc...
23,41,42,1934-08-01,2016-12-01,1934,08,2016,12,1,Resumes after USA occupation of HAI ends
24,41,51,1962-08-01,2016-12-01,1962,08,2016,12,4,Across Jamaica Channel; begins with JAM system...
25,41,100,1859-01-01,1915-07-01,1859,01,1915,07,5,Across Caribbean Sea; begins with HAI system e...
26,41,100,1934-08-01,2016-12-01,1934,08,2016,12,5,Across Caribbean Sea; resumes after USA occupa...
27,42,51,1962-08-01,2016-12-01,1962,08,2016,12,5,Across Jamaica Channel/Caribbean Sea; begins w...
28,42,60,1983-09-01,2016-12-01,1983,09,2016,12,5,Across Caribbean Sea; begins with SKN system e...
29,42,100,1894-01-01,1916-11-01,1894,01,1916,11,5,Across Caribbean Sea; begins with DOM system e...
...,...,...,...,...,...,...,...,...,...,...
817,816,850,1975-04-01,2016-12-01,1975,04,2016,12,5,Across South China Sea (through S.Vietnam); be...
818,817,820,1957-08-01,1975-04-01,1957,08,1975,04,5,Across South China Sea; begins with MAL system...
819,817,850,1954-06-01,1975-04-01,1954,06,1975,04,5,Across Gulf of Thailand; begins with RVN syste...
820,820,830,1965-08-01,2016-12-01,1965,08,2016,12,1,Begins with SIN system entry
821,820,835,1984-01-01,2016-12-01,1984,01,2016,12,1,Begins with BRU system etry
822,820,840,1963-09-01,2016-12-01,1963,09,2016,12,3,Across Balabac Strait (through Sabah-Palawan);...
823,820,850,1957-08-01,1963-09-01,1957,08,1963,09,3,Across Strait of Malacca (through Sumatra-Mala...
824,820,850,1963-09-01,2016-12-01,1963,09,2016,12,1,Begins when Sabah/Sarawak join MAL
825,830,850,1965-08-01,2016-12-01,1965,08,2016,12,2,Across Singapore Strait; begins with SIN syste...
826,835,840,1984-01-01,2016-12-01,1984,01,2016,12,5,Across South China Sea (through Palawan); begi...
827,840,850,1949-12-01,2016-12-01,1949,12,2016,12,4,Across Celebes Sea (through Sulu Archipelago-B...
828,840,986,1994-11-01,2016-12-01,1994,11,2016,12,5,Across Pacific Ocean; begins with PAL system e...
829,850,860,2002-09-01,2016-12-01,2002,09,2016,12,1,Begins with ETM system entry
830,850,900,1949-12-01,1963-04-01,1949,12,1963,04,5,Across Timor Sea (through Timor); begins with ...
831,850,900,1963-05-01,2016-12-01,1963,05,2016,12,4,Across Arafura Sea (through Irian Jaya); begin...
832,850,910,1975-09-01,2016-12-01,1975,09,2016,12,1,Begins with PNG system entry
833,850,986,1994-11-01,2016-12-01,1994,11,2016,12,4,Across Pacific Ocean; begins with PAL system e...
834,850,987,1991-09-01,2016-12-01,1991,09,2016,12,5,Across Pacific Ocean; begins with FSM system e...
835,860,900,2002-09-01,2016-12-01,2002,09,2016,12,5,Across Timor Sea; begins with ETM system entry
836,900,910,1975-09-01,2016-12-01,1975,09,2016,12,2,Across Torres Strait; begins with PNG system e...
837,910,940,1978-07-01,2016-12-01,1978,07,2016,12,2,Across Solomon Sea; begins with SOL system entry
838,910,987,1991-09-01,2016-12-01,1991,09,2016,12,5,Across Pacific Ocean; begins with FSM system e...
839,935,940,1981-09-01,2016-12-01,1981,09,2016,12,4,Across Pacific Ocean; begins with VAN system e...
840,946,947,2000-08-01,2016-12-01,2000,08,2016,12,5,Across Pacific Ocean; begins with TUV system e...
841,946,970,1999-09-01,2016-12-01,1999,09,2016,12,5,Across Pacific Ocean; begins with KIR and NAU ...
842,946,983,1999-09-01,2016-12-01,1999,09,2016,12,5,Across Pacific Ocean; begins with KIR system e...
843,947,950,2000-08-01,2016-12-01,2000,08,2016,12,5,Across Pacific Ocean; begins with TUV system e...
844,950,955,1999-08-01,2016-12-01,1999,08,2016,12,5,Across Pacific Ocean; begins with TON system e...
845,955,990,1999-08-01,2016-12-01,1999,08,2016,12,5,Across Pacific Ocean; begins with TON system e...
846,986,987,1994-11-01,2016-12-01,1994,11,2016,12,4,Across Pacific Ocean; begins with PAL system e...

## Create 'TERRITORIALCHANGE' table

Task: transform tc2014.csv into a table with attributes:

- TerritorialChangeID
- Gainer
- Loser
- TransferDate
- Year
- Month
- Procedure
- TerritoryID
- TerritoryArea
- TerritoryPopulation
- IsWholeTerritory
- IsMilConflict
- IsIndependence
- GainerIsCont
- LoserIsCont
- IsGainerHomeland
- IsLoserHomeland
- IsSystemEntry
- IsSystemExit

In [9]:
dfTerrChange = pd.read_csv('SourceData/CorrelatesOfWar/tc2014.csv')
dfTerrChange

,year,month,gainer,gaintype,procedur,entity,contgain,area,pop,portion,loser,losetype,contlose,entry,exit,number,indep,conflict,version
0,1816,7,160,1,-9,160,-9,2093164.00,1970000,1,230,0,0,1,0,3,1,0,5
1,1816,3,200,0,3,790,0,1.00,.,0,790,1,1,0,0,4,0,1,5
2,1816,.,200,0,3,420,0,179.00,.,0,-9,1,-9,0,0,5,0,0,5
3,1817,.,220,0,3,433,0,7819.00,100000,1,200,0,0,0,0,28,0,0,5
4,1817,.,365,1,1,365,1,650.00,.,0,-9,1,1,0,0,29,0,1,5
5,1818,10,2,1,3,20,1,84240.00,.,0,200,0,0,0,0,30,0,0,5
6,1818,12,155,1,-9,155,-9,464568.00,1656300,1,230,0,0,1,0,31,1,1,5
7,1818,10,200,0,3,2,0,41600.00,.,0,2,1,1,0,0,32,0,0,5
8,1818,6,200,0,1,750,0,421200.00,.,0,-9,1,-9,0,0,33,0,1,5
9,1818,.,200,0,2,438,0,16.00,.,0,-9,1,-9,0,0,34,0,0,5
10,1818,.,640,1,3,671,1,388500.00,.,1,-9,1,-9,0,0,35,0,1,5
11,1819,2,2,1,3,40,1,186488.00,54477,0,230,0,0,0,0,36,0,0,5
12,1819,12,100,1,-9,100,-9,660760.00,1400000,1,230,0,0,1,0,37,1,0,5
13,1819,.,220,0,2,580,0,1.00,.,0,580,1,1,0,0,38,0,0,5
14,1821,11,42,1,-9,42,-9,48734.00,89000,1,230,0,0,-9,0,39,1,0,5
15,1821,3,70,1,-9,70,-9,1426757.00,7000000,1,230,0,0,1,0,40,1,0,5
16,1821,6,100,1,1,101,1,1082207.00,800000,1,230,0,0,0,0,41,0,1,5
17,1821,7,135,1,-9,135,-9,1559891.00,1929300,1,230,0,0,-9,0,42,1,0,5
18,1821,11,235,0,3,165,0,269810.00,70000,1,230,0,0,0,0,43,0,0,5
19,1822,5,100,1,1,130,1,550685.00,600000,1,230,0,0,0,0,44,0,1,5
20,1822,.,640,1,1,625,1,229471.00,100000,1,-9,1,-9,0,0,45,0,1,5
21,1824,12,140,1,-9,140,-9,8259504.00,5306418,1,235,0,0,1,0,46,1,0,5
22,1824,3,200,0,3,830,0,583.00,10000,1,-9,1,1,0,0,47,0,0,5
23,1824,3,200,0,3,827,0,1658.00,77756,0,210,0,0,0,0,48,0,0,5
24,1824,3,210,0,3,850,0,25089.00,93875,0,200,0,0,0,0,49,0,0,5
25,1825,8,145,1,-9,145,-9,3016000.00,1750000,1,230,0,0,1,0,50,1,0,5
26,1825,12,200,0,2,9993,0,48.00,0,1,-9,1,-9,0,0,51,0,0,5
27,1825,.,580,1,1,580,1,1.00,.,0,220,0,0,0,0,52,0,0,5
28,1825,.,616,1,4,616,-9,116348.00,875000,1,640,0,1,-9,0,53,1,0,5
29,1826,.,200,0,2,561,0,200000.00,.,0,-9,1,-9,0,0,54,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,1993,1,316,1,4,316,-9,79228.00,10300000,1,315,1,1,1,1,861,1,0,5
808,1993,1,317,1,4,317,-9,48666.00,5200000,1,315,1,1,1,1,862,1,0,5
809,1993,4,531,1,4,531,-9,124993.00,3000000,1,530,1,1,1,0,863,1,1,5
810,1993,5,690,1,3,645,1,.,0,0,645,1,1,0,0,864,0,0,5
811,1994,3,565,1,3,5651,1,1124.00,30000,1,560,0,0,0,0,865,0,0,5
812,1994,10,986,1,-9,980,-9,487.00,15600,0,2,0,0,1,0,866,1,0,5
813,1995,2,663,1,3,666,1,340.00,0,0,666,1,1,0,0,867,0,0,5
814,1996,4,710,1,3,365,1,18.00,0,0,365,1,1,0,0,868,0,0,5
815,1997,6,316,1,3,317,1,4.52,31,0,317,1,1,0,0,869,0,0,5
816,1997,6,317,1,3,316,1,4.52,120,0,316,1,1,0,0,870,0,0,5
817,1997,7,710,1,3,720,1,1084.00,6700000,1,200,0,0,0,0,871,0,0,5
818,1998,7,710,1,3,705,1,470.00,.,0,705,1,1,0,0,872,0,0,5
819,1998,8,369,1,3,359,1,1.00,0,0,359,1,1,0,0,873,0,0,5
820,1998,8,359,1,3,369,1,1.00,0,0,369,1,1,0,0,874,0,0,5
821,1999,3,365,1,3,366,1,30.00,0,0,366,1,1,0,0,875,0,0,5
822,1999,3,366,1,3,365,1,30.00,0,0,365,1,1,0,0,876,0,0,5
823,1999,10,1,-9,3,860,-9,14926.00,780000,1,850,1,1,0,0,877,0,1,5
824,1999,12,710,1,3,721,1,21.45,447000,1,235,0,0,0,0,878,0,0,5
825,1991,.,571,1,1,.,1,5.00,0,0,-9,-9,-9,0,0,879,0,0,5
826,2000,1,651,1,1,625,1,20580.00,5000,0,625,1,1,0,0,880,0,0,5
827,2002,5,860,1,-9,860,-9,14926.00,950000,1,1,-9,-9,1,0,881,1,0,5
828,2003,12,475,1,3,471,1,.,.,0,471,1,1,0,0,882,0,0,5
829,2003,12,471,1,3,475,1,.,.,0,475,1,1,0,0,883,0,0,5
830,2004,7,679,1,3,670,1,40000.00,.,0,670,1,1,0,0,884,0,1,5
831,2006,6,348,1,4,348,-9,13812.00,650000,1,345,1,1,1,0,885,1,0,5
832,2008,8,471,1,3,475,1,665.00,300000,0,475,1,1,0,0,886,0,1,5
833,2008,10,710,1,3,365,1,174.00,0,0,365,1,1,0,0,887,0,0,5
834,2011,1,710,1,3,702,1,1142.00,.,0,702,1,1,0,0,888,0,0,5
835,2011,7,626,1,-9,626,-9,619745,8260000,1,625,1,1,1,0,889,1,1,5
836,2014,3,365,1,1,369,1,27000.00,2400000,1,369,1,1,0,0,890,0,1,5

In [10]:
dfTerrChange.rename(columns={"year":"Year", "month": "Month", "gainer":"Gainer", "gaintype":"IsGainerHomeland", "procedur":"Procedure", "entity":"TerritoryID", "contgain":"GainerIsCont", "area":"TerritoryArea", "pop":"TerritoryPopulation", "portion":"IsWholeTerritory", "loser":"Loser", "losetype":"IsLoserHomeland", "contlose": "LoserIsCont", "entry":"IsSystemEntry", "exit":"IsSystemExit", "number":"TerritorialChangeID", "indep":"IsIndependence", "conflict":"IsMilConflict"}, inplace=True)
dfTerrChange.drop(columns=['version'], inplace=True)
missingmonth = (dfTerrChange['Month'] == '.')
dfTerrChange['MonthClean'] = dfTerrChange['Month']
dfTerrChange['MonthClean'] [dfTerrChange['MonthClean'] == '.'] = 1 # boolean mask
dfTerrChange['TransferDate'] = pd.to_datetime(dict(year=dfTerrChange.Year, month=dfTerrChange.MonthClean, day='01'))
dfTerrChange.replace({'Month':'.'}, {'Month':''}, inplace=True)
dfTerrChange = dfTerrChange[['TerritorialChangeID', 'Gainer', 'Loser', 'TransferDate', 'Year', 'Month', 'Procedure', 'TerritoryID', 'TerritoryArea', 'TerritoryPopulation', 'IsWholeTerritory', 'IsMilConflict', 'IsIndependence', 'GainerIsCont', 'LoserIsCont', 'IsGainerHomeland', 'IsLoserHomeland', 'IsSystemEntry', 'IsSystemExit']]
dfTerrChange

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
0,3,160,230,1816-07-01,1816,7,-9,160,2093164.00,1970000,1,0,1,-9,0,1,0,1,0
1,4,200,790,1816-03-01,1816,3,3,790,1.00,.,0,1,0,0,1,0,1,0,0
2,5,200,-9,1816-01-01,1816,,3,420,179.00,.,0,0,0,0,-9,0,1,0,0
3,28,220,200,1817-01-01,1817,,3,433,7819.00,100000,1,0,0,0,0,0,0,0,0
4,29,365,-9,1817-01-01,1817,,1,365,650.00,.,0,1,0,1,1,1,1,0,0
5,30,2,200,1818-10-01,1818,10,3,20,84240.00,.,0,0,0,1,0,1,0,0,0
6,31,155,230,1818-12-01,1818,12,-9,155,464568.00,1656300,1,1,1,-9,0,1,0,1,0
7,32,200,2,1818-10-01,1818,10,3,2,41600.00,.,0,0,0,0,1,0,1,0,0
8,33,200,-9,1818-06-01,1818,6,1,750,421200.00,.,0,1,0,0,-9,0,1,0,0
9,34,200,-9,1818-01-01,1818,,2,438,16.00,.,0,0,0,0,-9,0,1,0,0
10,35,640,-9,1818-01-01,1818,,3,671,388500.00,.,1,1,0,1,-9,1,1,0,0
11,36,2,230,1819-02-01,1819,2,3,40,186488.00,54477,0,0,0,1,0,1,0,0,0
12,37,100,230,1819-12-01,1819,12,-9,100,660760.00,1400000,1,0,1,-9,0,1,0,1,0
13,38,220,580,1819-01-01,1819,,2,580,1.00,.,0,0,0,0,1,0,1,0,0
14,39,42,230,1821-11-01,1821,11,-9,42,48734.00,89000,1,0,1,-9,0,1,0,-9,0
15,40,70,230,1821-03-01,1821,3,-9,70,1426757.00,7000000,1,0,1,-9,0,1,0,1,0
16,41,100,230,1821-06-01,1821,6,1,101,1082207.00,800000,1,1,0,1,0,1,0,0,0
17,42,135,230,1821-07-01,1821,7,-9,135,1559891.00,1929300,1,0,1,-9,0,1,0,-9,0
18,43,235,230,1821-11-01,1821,11,3,165,269810.00,70000,1,0,0,0,0,0,0,0,0
19,44,100,230,1822-05-01,1822,5,1,130,550685.00,600000,1,1,0,1,0,1,0,0,0
20,45,640,-9,1822-01-01,1822,,1,625,229471.00,100000,1,1,0,1,-9,1,1,0,0
21,46,140,235,1824-12-01,1824,12,-9,140,8259504.00,5306418,1,0,1,-9,0,1,0,1,0
22,47,200,-9,1824-03-01,1824,3,3,830,583.00,10000,1,0,0,0,1,0,1,0,0
23,48,200,210,1824-03-01,1824,3,3,827,1658.00,77756,0,0,0,0,0,0,0,0,0
24,49,210,200,1824-03-01,1824,3,3,850,25089.00,93875,0,0,0,0,0,0,0,0,0
25,50,145,230,1825-08-01,1825,8,-9,145,3016000.00,1750000,1,0,1,-9,0,1,0,1,0
26,51,200,-9,1825-12-01,1825,12,2,9993,48.00,0,1,0,0,0,-9,0,1,0,0
27,52,580,220,1825-01-01,1825,,1,580,1.00,.,0,0,0,1,0,1,0,0,0
28,53,616,640,1825-01-01,1825,,4,616,116348.00,875000,1,0,1,-9,1,1,0,-9,0
29,54,200,-9,1826-01-01,1826,,2,561,200000.00,.,0,0,0,0,-9,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,861,316,315,1993-01-01,1993,1,4,316,79228.00,10300000,1,0,1,-9,1,1,1,1,1
808,862,317,315,1993-01-01,1993,1,4,317,48666.00,5200000,1,0,1,-9,1,1,1,1,1
809,863,531,530,1993-04-01,1993,4,4,531,124993.00,3000000,1,1,1,-9,1,1,1,1,0
810,864,690,645,1993-05-01,1993,5,3,645,.,0,0,0,0,1,1,1,1,0,0
811,865,565,560,1994-03-01,1994,3,3,5651,1124.00,30000,1,0,0,1,0,1,0,0,0
812,866,986,2,1994-10-01,1994,10,-9,980,487.00,15600,0,0,1,-9,0,1,0,1,0
813,867,663,666,1995-02-01,1995,2,3,666,340.00,0,0,0,0,1,1,1,1,0,0
814,868,710,365,1996-04-01,1996,4,3,365,18.00,0,0,0,0,1,1,1,1,0,0
815,869,316,317,1997-06-01,1997,6,3,317,4.52,31,0,0,0,1,1,1,1,0,0
816,870,317,316,1997-06-01,1997,6,3,316,4.52,120,0,0,0,1,1,1,1,0,0
817,871,710,200,1997-07-01,1997,7,3,720,1084.00,6700000,1,0,0,1,0,1,0,0,0
818,872,710,705,1998-07-01,1998,7,3,705,470.00,.,0,0,0,1,1,1,1,0,0
819,873,369,359,1998-08-01,1998,8,3,359,1.00,0,0,0,0,1,1,1,1,0,0
820,874,359,369,1998-08-01,1998,8,3,369,1.00,0,0,0,0,1,1,1,1,0,0
821,875,365,366,1999-03-01,1999,3,3,366,30.00,0,0,0,0,1,1,1,1,0,0
822,876,366,365,1999-03-01,1999,3,3,365,30.00,0,0,0,0,1,1,1,1,0,0
823,877,1,850,1999-10-01,1999,10,3,860,14926.00,780000,1,1,0,-9,1,-9,1,0,0
824,878,710,235,1999-12-01,1999,12,3,721,21.45,447000,1,0,0,1,0,1,0,0,0
825,879,571,-9,1991-01-01,1991,,1,.,5.00,0,0,0,0,1,-9,1,-9,0,0
826,880,651,625,2000-01-01,2000,1,1,625,20580.00,5000,0,0,0,1,1,1,1,0,0
827,881,860,1,2002-05-01,2002,5,-9,860,14926.00,950000,1,0,1,-9,-9,1,-9,1,0
828,882,475,471,2003-12-01,2003,12,3,471,.,.,0,0,0,1,1,1,1,0,0
829,883,471,475,2003-12-01,2003,12,3,475,.,.,0,0,0,1,1,1,1,0,0
830,884,679,670,2004-07-01,2004,7,3,670,40000.00,.,0,1,0,1,1,1,1,0,0
831,885,348,345,2006-06-01,2006,6,4,348,13812.00,650000,1,0,1,-9,1,1,1,1,0
832,886,471,475,2008-08-01,2008,8,3,475,665.00,300000,0,1,0,1,1,1,1,0,0
833,887,710,365,2008-10-01,2008,10,3,365,174.00,0,0,0,0,1,1,1,1,0,0
834,888,710,702,2011-01-01,2011,1,3,702,1142.00,.,0,0,0,1,1,1,1,0,0
835,889,626,625,2011-07-01,2011,7,-9,626,619745,8260000,1,1,1,-9,1,1,1,1,0
836,890,365,369,2014-03-01,2014,3,1,369,27000.00,2400000,1,1,0,1,1,1,1,0,0

## Create 'TERRITORY' table

Task: transform Territory.csv into a table with attributes:

- TerritoryID
- TerritoryName

Note: Territory.csv was created by running Entities.pdf through [Tabula](https://tabula.technology/) and hand-correcting minor errors (some sets of rows were shifted to the left).