# Start of Data Transformation

Task: use Pandas to transform csv files into DataFrames that match desired tables for database schema

Tables:

- STATE (done)
- STATE_DATES (done)
- STATE_CONTIGUITY (done)
- TERRITORY (done)
- TERRITORIALCHANGE (done)
- STATE_RESOURCE
- IGO
- IGO_MEMBERSHIP
- STATE_ALLIANCE
- ALLIANCE_MEMBERSHIP
- ALLIANCE_TRAITS
- WAR
- WAR_LOCATION
- WAR_DATES
- WAR_PARTICIPANTS
- WAR_TRANSITIONS

In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls SourceData/CorrelatesOfWar/

Codebooks                    MID_Narratives_2002-2010.pdf
CowWarList.csv               NMC_5_0-wsupplementary.csv
CowWarList.pdf               Non-StateWarData_v4.0.csv
Entities.pdf                 Territories.csv
Extra-StateWarData_v4.0.csv  alliance_v4.1_by_member.csv
IGO_stateunit_v2.3.csv       contdir.csv
Inter-StateWarData_v4.0.csv  igounit_v2.3.csv
Intra-StateWarData_v4.1.csv  majors2016.csv
MIDA_4.2.csv                 states2016.csv
MIDB_4.2.csv                 system2016.csv
MIDLOCA_2.0.csv              tc2014.csv
MID_Narratives_1993-2001.pdf

## Create 'STATE' table

Task: transform states2016.csv into a table with attributes:

- StateID
- StateAbbr
- StateName

in which each StateID occurs once (as it is the Primary Key)

In [3]:
dfStates = pd.read_csv('SourceData/CorrelatesOfWar/states2016.csv')
dfStates

,stateabb,ccode,statenme,styear,stmonth,stday,endyear,endmonth,endday,version
0,USA,2,United States of America,1816,1,1,2016,12,31,2016
1,CAN,20,Canada,1920,1,10,2016,12,31,2016
2,BHM,31,Bahamas,1973,7,10,2016,12,31,2016
3,CUB,40,Cuba,1902,5,20,1906,9,25,2016
4,CUB,40,Cuba,1909,1,23,2016,12,31,2016
5,HAI,41,Haiti,1859,1,1,1915,7,28,2016
6,HAI,41,Haiti,1934,8,15,2016,12,31,2016
7,DOM,42,Dominican Republic,1894,1,1,1916,11,29,2016
8,DOM,42,Dominican Republic,1924,9,29,2016,12,31,2016
9,JAM,51,Jamaica,1962,8,6,2016,12,31,2016
10,TRI,52,Trinidad and Tobago,1962,8,31,2016,12,31,2016
11,BAR,53,Barbados,1966,11,30,2016,12,31,2016
12,DMA,54,Dominica,1978,11,3,2016,12,31,2016
13,GRN,55,Grenada,1974,2,7,2016,12,31,2016
14,SLU,56,St. Lucia,1979,2,22,2016,12,31,2016
15,SVG,57,St. Vincent and the Grenadines,1979,10,27,2016,12,31,2016
16,AAB,58,Antigua & Barbuda,1981,11,1,2016,12,31,2016
17,SKN,60,St. Kitts and Nevis,1983,9,19,2016,12,31,2016
18,MEX,70,Mexico,1831,1,1,2016,12,31,2016
19,BLZ,80,Belize,1981,9,21,2016,12,31,2016
20,GUA,90,Guatemala,1868,1,1,2016,12,31,2016
21,HON,91,Honduras,1899,1,1,2016,12,31,2016
22,SAL,92,El Salvador,1875,1,1,2016,12,31,2016
23,NIC,93,Nicaragua,1900,1,1,2016,12,31,2016
24,COS,94,Costa Rica,1920,1,1,2016,12,31,2016
25,PAN,95,Panama,1903,11,3,2016,12,31,2016
26,COL,100,Colombia,1831,1,1,2016,12,31,2016
27,VEN,101,Venezuela,1841,1,1,2016,12,31,2016
28,GUY,110,Guyana,1966,5,26,2016,12,31,2016
29,SUR,115,Suriname,1975,11,25,2016,12,31,2016
...,...,...,...,...,...,...,...,...,...,...
213,BNG,771,Bangladesh,1971,12,16,2016,12,31,2016
214,MYA,775,Myanmar,1948,1,4,2016,12,31,2016
215,SRI,780,Sri Lanka,1948,2,4,2016,12,31,2016
216,MAD,781,Maldives,1965,7,26,2016,12,31,2016
217,NEP,790,Nepal,1920,1,1,2016,12,31,2016
218,THI,800,Thailand,1887,1,1,2016,12,31,2016
219,CAM,811,Cambodia,1953,11,9,2016,12,31,2016
220,LAO,812,Laos,1953,10,23,2016,12,31,2016
221,DRV,816,Vietnam,1954,7,21,2016,12,31,2016
222,RVN,817,Republic of Vietnam,1954,6,4,1975,4,30,2016
223,MAL,820,Malaysia,1957,8,31,2016,12,31,2016
224,SIN,830,Singapore,1965,8,9,2016,12,31,2016
225,BRU,835,Brunei,1984,1,1,2016,12,31,2016
226,PHI,840,Philippines,1946,7,4,2016,12,31,2016
227,INS,850,Indonesia,1949,12,27,2016,12,31,2016
228,ETM,860,East Timor,2002,9,27,2016,12,31,2016
229,AUL,900,Australia,1920,1,10,2016,12,31,2016
230,PNG,910,Papua New Guinea,1975,9,16,2016,12,31,2016
231,NEW,920,New Zealand,1920,1,10,2016,12,31,2016
232,VAN,935,Vanuatu,1981,9,15,2016,12,31,2016
233,SOL,940,Solomon Islands,1978,7,7,2016,12,31,2016
234,KIR,946,Kiribati,1999,9,14,2016,12,31,2016
235,TUV,947,Tuvalu,2000,9,5,2016,12,31,2016
236,FIJ,950,Fiji,1970,10,10,2016,12,31,2016
237,TON,955,Tonga,1999,9,14,2016,12,31,2016
238,NAU,970,Nauru,1999,9,14,2016,12,31,2016
239,MSI,983,Marshall Islands,1991,9,17,2016,12,31,2016
240,PAL,986,Palau,1994,12,15,2016,12,31,2016
241,FSM,987,Federated States of Micronesia,1991,9,17,2016,12,31,2016
242,WSM,990,Samoa,1976,12,15,2016,12,31,2016

In [4]:
dfStates.drop(columns=['styear', 'stmonth', 'stday', 'endyear', 'endmonth', 'endday', 'version'], inplace=True)
dfStates.drop_duplicates(inplace=True)
dfStates.rename(columns={"stateabb": "StateAbbr", "ccode":"StateID", "statenme":"StateName"}, inplace=True)
dfStates =  dfStates[['StateID', 'StateAbbr', 'StateName']]
dfStates

     StateID StateAbbr                       StateName
0          2       USA        United States of America
1         20       CAN                          Canada
2         31       BHM                         Bahamas
3         40       CUB                            Cuba
5         41       HAI                           Haiti
7         42       DOM              Dominican Republic
9         51       JAM                         Jamaica
10        52       TRI             Trinidad and Tobago
11        53       BAR                        Barbados
12        54       DMA                        Dominica
13        55       GRN                         Grenada
14        56       SLU                       St. Lucia
15        57       SVG  St. Vincent and the Grenadines
16        58       AAB               Antigua & Barbuda
17        60       SKN             St. Kitts and Nevis
18        70       MEX                          Mexico
19        80       BLZ                          Belize
20        90       GUA                       Guatemala
21        91       HON                        Honduras
22        92       SAL                     El Salvador
23        93       NIC                       Nicaragua
24        94       COS                      Costa Rica
25        95       PAN                          Panama
26       100       COL                        Colombia
27       101       VEN                       Venezuela
28       110       GUY                          Guyana
29       115       SUR                        Suriname
30       130       ECU                         Ecuador
31       135       PER                            Peru
32       140       BRA                          Brazil
..       ...       ...                             ...
213      771       BNG                      Bangladesh
214      775       MYA                         Myanmar
215      780       SRI                       Sri Lanka
216      781       MAD                        Maldives
217      790       NEP                           Nepal
218      800       THI                        Thailand
219      811       CAM                        Cambodia
220      812       LAO                            Laos
221      816       DRV                         Vietnam
222      817       RVN             Republic of Vietnam
223      820       MAL                        Malaysia
224      830       SIN                       Singapore
225      835       BRU                          Brunei
226      840       PHI                     Philippines
227      850       INS                       Indonesia
228      860       ETM                      East Timor
229      900       AUL                       Australia
230      910       PNG                Papua New Guinea
231      920       NEW                     New Zealand
232      935       VAN                         Vanuatu
233      940       SOL                 Solomon Islands
234      946       KIR                        Kiribati
235      947       TUV                          Tuvalu
236      950       FIJ                            Fiji
237      955       TON                           Tonga
238      970       NAU                           Nauru
239      983       MSI                Marshall Islands
240      986       PAL                           Palau
241      987       FSM  Federated States of Micronesia
242      990       WSM                           Samoa

[217 rows x 3 columns]

In [5]:
badstatenames = dfStates['StateName'].str.contains('\&', regex=True)
sum(badstatenames)

1

In [6]:
dfStates['StateName'] = dfStates['StateName'].str.replace('\&', 'and')
dfStates

     StateID StateAbbr                       StateName
0          2       USA        United States of America
1         20       CAN                          Canada
2         31       BHM                         Bahamas
3         40       CUB                            Cuba
5         41       HAI                           Haiti
7         42       DOM              Dominican Republic
9         51       JAM                         Jamaica
10        52       TRI             Trinidad and Tobago
11        53       BAR                        Barbados
12        54       DMA                        Dominica
13        55       GRN                         Grenada
14        56       SLU                       St. Lucia
15        57       SVG  St. Vincent and the Grenadines
16        58       AAB             Antigua and Barbuda
17        60       SKN             St. Kitts and Nevis
18        70       MEX                          Mexico
19        80       BLZ                          Belize
20        90       GUA                       Guatemala
21        91       HON                        Honduras
22        92       SAL                     El Salvador
23        93       NIC                       Nicaragua
24        94       COS                      Costa Rica
25        95       PAN                          Panama
26       100       COL                        Colombia
27       101       VEN                       Venezuela
28       110       GUY                          Guyana
29       115       SUR                        Suriname
30       130       ECU                         Ecuador
31       135       PER                            Peru
32       140       BRA                          Brazil
..       ...       ...                             ...
213      771       BNG                      Bangladesh
214      775       MYA                         Myanmar
215      780       SRI                       Sri Lanka
216      781       MAD                        Maldives
217      790       NEP                           Nepal
218      800       THI                        Thailand
219      811       CAM                        Cambodia
220      812       LAO                            Laos
221      816       DRV                         Vietnam
222      817       RVN             Republic of Vietnam
223      820       MAL                        Malaysia
224      830       SIN                       Singapore
225      835       BRU                          Brunei
226      840       PHI                     Philippines
227      850       INS                       Indonesia
228      860       ETM                      East Timor
229      900       AUL                       Australia
230      910       PNG                Papua New Guinea
231      920       NEW                     New Zealand
232      935       VAN                         Vanuatu
233      940       SOL                 Solomon Islands
234      946       KIR                        Kiribati
235      947       TUV                          Tuvalu
236      950       FIJ                            Fiji
237      955       TON                           Tonga
238      970       NAU                           Nauru
239      983       MSI                Marshall Islands
240      986       PAL                           Palau
241      987       FSM  Federated States of Micronesia
242      990       WSM                           Samoa

[217 rows x 3 columns]

In [7]:
dfStates.to_csv('FinalData/state.csv', encoding='utf-8', index=False)

In [8]:
StateNameMaxLength = int(dfStates['StateName'].str.encode(encoding='utf-8').str.len().max())
print(StateNameMaxLength)
StateAbbrLength = int(dfStates['StateAbbr'].str.encode(encoding='utf-8').str.len().max())
print(StateAbbrLength)

32
3

## Create 'STATE_DATES' table

Task: transform states2016.csv into a table with attributes:

- StateID
- StartDate
- EndDate
- StartYear
- StartMonth
- StartDay
- EndYear
- EndMonth
- EndDay

in which each combination of StateID and StartDate occurs only once.

Note: StartDate and EndDate must be in the format 'YYYY-MM-DD'

In [9]:
dfStateDates = pd.read_csv('SourceData/CorrelatesOfWar/states2016.csv')
dfStateDates

,stateabb,ccode,statenme,styear,stmonth,stday,endyear,endmonth,endday,version
0,USA,2,United States of America,1816,1,1,2016,12,31,2016
1,CAN,20,Canada,1920,1,10,2016,12,31,2016
2,BHM,31,Bahamas,1973,7,10,2016,12,31,2016
3,CUB,40,Cuba,1902,5,20,1906,9,25,2016
4,CUB,40,Cuba,1909,1,23,2016,12,31,2016
5,HAI,41,Haiti,1859,1,1,1915,7,28,2016
6,HAI,41,Haiti,1934,8,15,2016,12,31,2016
7,DOM,42,Dominican Republic,1894,1,1,1916,11,29,2016
8,DOM,42,Dominican Republic,1924,9,29,2016,12,31,2016
9,JAM,51,Jamaica,1962,8,6,2016,12,31,2016
10,TRI,52,Trinidad and Tobago,1962,8,31,2016,12,31,2016
11,BAR,53,Barbados,1966,11,30,2016,12,31,2016
12,DMA,54,Dominica,1978,11,3,2016,12,31,2016
13,GRN,55,Grenada,1974,2,7,2016,12,31,2016
14,SLU,56,St. Lucia,1979,2,22,2016,12,31,2016
15,SVG,57,St. Vincent and the Grenadines,1979,10,27,2016,12,31,2016
16,AAB,58,Antigua & Barbuda,1981,11,1,2016,12,31,2016
17,SKN,60,St. Kitts and Nevis,1983,9,19,2016,12,31,2016
18,MEX,70,Mexico,1831,1,1,2016,12,31,2016
19,BLZ,80,Belize,1981,9,21,2016,12,31,2016
20,GUA,90,Guatemala,1868,1,1,2016,12,31,2016
21,HON,91,Honduras,1899,1,1,2016,12,31,2016
22,SAL,92,El Salvador,1875,1,1,2016,12,31,2016
23,NIC,93,Nicaragua,1900,1,1,2016,12,31,2016
24,COS,94,Costa Rica,1920,1,1,2016,12,31,2016
25,PAN,95,Panama,1903,11,3,2016,12,31,2016
26,COL,100,Colombia,1831,1,1,2016,12,31,2016
27,VEN,101,Venezuela,1841,1,1,2016,12,31,2016
28,GUY,110,Guyana,1966,5,26,2016,12,31,2016
29,SUR,115,Suriname,1975,11,25,2016,12,31,2016
...,...,...,...,...,...,...,...,...,...,...
213,BNG,771,Bangladesh,1971,12,16,2016,12,31,2016
214,MYA,775,Myanmar,1948,1,4,2016,12,31,2016
215,SRI,780,Sri Lanka,1948,2,4,2016,12,31,2016
216,MAD,781,Maldives,1965,7,26,2016,12,31,2016
217,NEP,790,Nepal,1920,1,1,2016,12,31,2016
218,THI,800,Thailand,1887,1,1,2016,12,31,2016
219,CAM,811,Cambodia,1953,11,9,2016,12,31,2016
220,LAO,812,Laos,1953,10,23,2016,12,31,2016
221,DRV,816,Vietnam,1954,7,21,2016,12,31,2016
222,RVN,817,Republic of Vietnam,1954,6,4,1975,4,30,2016
223,MAL,820,Malaysia,1957,8,31,2016,12,31,2016
224,SIN,830,Singapore,1965,8,9,2016,12,31,2016
225,BRU,835,Brunei,1984,1,1,2016,12,31,2016
226,PHI,840,Philippines,1946,7,4,2016,12,31,2016
227,INS,850,Indonesia,1949,12,27,2016,12,31,2016
228,ETM,860,East Timor,2002,9,27,2016,12,31,2016
229,AUL,900,Australia,1920,1,10,2016,12,31,2016
230,PNG,910,Papua New Guinea,1975,9,16,2016,12,31,2016
231,NEW,920,New Zealand,1920,1,10,2016,12,31,2016
232,VAN,935,Vanuatu,1981,9,15,2016,12,31,2016
233,SOL,940,Solomon Islands,1978,7,7,2016,12,31,2016
234,KIR,946,Kiribati,1999,9,14,2016,12,31,2016
235,TUV,947,Tuvalu,2000,9,5,2016,12,31,2016
236,FIJ,950,Fiji,1970,10,10,2016,12,31,2016
237,TON,955,Tonga,1999,9,14,2016,12,31,2016
238,NAU,970,Nauru,1999,9,14,2016,12,31,2016
239,MSI,983,Marshall Islands,1991,9,17,2016,12,31,2016
240,PAL,986,Palau,1994,12,15,2016,12,31,2016
241,FSM,987,Federated States of Micronesia,1991,9,17,2016,12,31,2016
242,WSM,990,Samoa,1976,12,15,2016,12,31,2016

In [10]:
dfStateDates.drop(columns=['stateabb', 'statenme', 'version'], inplace=True)
dfStateDates.rename(columns={"ccode":"StateID", "styear": "StartYear", "stmonth":"StartMonth", "stday":"StartDay", "endyear": "EndYear", "endmonth":"EndMonth", "endday":"EndDay"}, inplace=True)
dfStateDates['StartDate'] = pd.to_datetime(dict(year=dfStateDates.StartYear, month=dfStateDates.StartMonth, day=dfStateDates.StartDay))
dfStateDates['EndDate'] = pd.to_datetime(dict(year=dfStateDates.EndYear, month=dfStateDates.EndMonth, day=dfStateDates.EndDay))
dfStateDates = dfStateDates[['StateID', 'StartDate', 'EndDate', 'StartYear', 'StartMonth', 'StartDay', 'EndYear', 'EndMonth', 'EndDay']]
dfStateDates

,StateID,StartDate,EndDate,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,2,1816-01-01,2016-12-31,1816,1,1,2016,12,31
1,20,1920-01-10,2016-12-31,1920,1,10,2016,12,31
2,31,1973-07-10,2016-12-31,1973,7,10,2016,12,31
3,40,1902-05-20,1906-09-25,1902,5,20,1906,9,25
4,40,1909-01-23,2016-12-31,1909,1,23,2016,12,31
5,41,1859-01-01,1915-07-28,1859,1,1,1915,7,28
6,41,1934-08-15,2016-12-31,1934,8,15,2016,12,31
7,42,1894-01-01,1916-11-29,1894,1,1,1916,11,29
8,42,1924-09-29,2016-12-31,1924,9,29,2016,12,31
9,51,1962-08-06,2016-12-31,1962,8,6,2016,12,31
10,52,1962-08-31,2016-12-31,1962,8,31,2016,12,31
11,53,1966-11-30,2016-12-31,1966,11,30,2016,12,31
12,54,1978-11-03,2016-12-31,1978,11,3,2016,12,31
13,55,1974-02-07,2016-12-31,1974,2,7,2016,12,31
14,56,1979-02-22,2016-12-31,1979,2,22,2016,12,31
15,57,1979-10-27,2016-12-31,1979,10,27,2016,12,31
16,58,1981-11-01,2016-12-31,1981,11,1,2016,12,31
17,60,1983-09-19,2016-12-31,1983,9,19,2016,12,31
18,70,1831-01-01,2016-12-31,1831,1,1,2016,12,31
19,80,1981-09-21,2016-12-31,1981,9,21,2016,12,31
20,90,1868-01-01,2016-12-31,1868,1,1,2016,12,31
21,91,1899-01-01,2016-12-31,1899,1,1,2016,12,31
22,92,1875-01-01,2016-12-31,1875,1,1,2016,12,31
23,93,1900-01-01,2016-12-31,1900,1,1,2016,12,31
24,94,1920-01-01,2016-12-31,1920,1,1,2016,12,31
25,95,1903-11-03,2016-12-31,1903,11,3,2016,12,31
26,100,1831-01-01,2016-12-31,1831,1,1,2016,12,31
27,101,1841-01-01,2016-12-31,1841,1,1,2016,12,31
28,110,1966-05-26,2016-12-31,1966,5,26,2016,12,31
29,115,1975-11-25,2016-12-31,1975,11,25,2016,12,31
...,...,...,...,...,...,...,...,...,...
213,771,1971-12-16,2016-12-31,1971,12,16,2016,12,31
214,775,1948-01-04,2016-12-31,1948,1,4,2016,12,31
215,780,1948-02-04,2016-12-31,1948,2,4,2016,12,31
216,781,1965-07-26,2016-12-31,1965,7,26,2016,12,31
217,790,1920-01-01,2016-12-31,1920,1,1,2016,12,31
218,800,1887-01-01,2016-12-31,1887,1,1,2016,12,31
219,811,1953-11-09,2016-12-31,1953,11,9,2016,12,31
220,812,1953-10-23,2016-12-31,1953,10,23,2016,12,31
221,816,1954-07-21,2016-12-31,1954,7,21,2016,12,31
222,817,1954-06-04,1975-04-30,1954,6,4,1975,4,30
223,820,1957-08-31,2016-12-31,1957,8,31,2016,12,31
224,830,1965-08-09,2016-12-31,1965,8,9,2016,12,31
225,835,1984-01-01,2016-12-31,1984,1,1,2016,12,31
226,840,1946-07-04,2016-12-31,1946,7,4,2016,12,31
227,850,1949-12-27,2016-12-31,1949,12,27,2016,12,31
228,860,2002-09-27,2016-12-31,2002,9,27,2016,12,31
229,900,1920-01-10,2016-12-31,1920,1,10,2016,12,31
230,910,1975-09-16,2016-12-31,1975,9,16,2016,12,31
231,920,1920-01-10,2016-12-31,1920,1,10,2016,12,31
232,935,1981-09-15,2016-12-31,1981,9,15,2016,12,31
233,940,1978-07-07,2016-12-31,1978,7,7,2016,12,31
234,946,1999-09-14,2016-12-31,1999,9,14,2016,12,31
235,947,2000-09-05,2016-12-31,2000,9,5,2016,12,31
236,950,1970-10-10,2016-12-31,1970,10,10,2016,12,31
237,955,1999-09-14,2016-12-31,1999,9,14,2016,12,31
238,970,1999-09-14,2016-12-31,1999,9,14,2016,12,31
239,983,1991-09-17,2016-12-31,1991,9,17,2016,12,31
240,986,1994-12-15,2016-12-31,1994,12,15,2016,12,31
241,987,1991-09-17,2016-12-31,1991,9,17,2016,12,31
242,990,1976-12-15,2016-12-31,1976,12,15,2016,12,31

In [11]:
dfStateDates['StartDate'] = dfStateDates['StartDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
dfStateDates['EndDate'] = dfStateDates['EndDate'].apply(lambda x: x.strftime('%Y-%m-%d'))

presentdate = dfStateDates.loc[0,'EndDate']
dfStateDates['EndDate'] = dfStateDates['EndDate'].replace(presentdate, '')
dfStateDates

,StateID,StartDate,EndDate,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,2,1816-01-01,,1816,1,1,2016,12,31
1,20,1920-01-10,,1920,1,10,2016,12,31
2,31,1973-07-10,,1973,7,10,2016,12,31
3,40,1902-05-20,1906-09-25,1902,5,20,1906,9,25
4,40,1909-01-23,,1909,1,23,2016,12,31
5,41,1859-01-01,1915-07-28,1859,1,1,1915,7,28
6,41,1934-08-15,,1934,8,15,2016,12,31
7,42,1894-01-01,1916-11-29,1894,1,1,1916,11,29
8,42,1924-09-29,,1924,9,29,2016,12,31
9,51,1962-08-06,,1962,8,6,2016,12,31
10,52,1962-08-31,,1962,8,31,2016,12,31
11,53,1966-11-30,,1966,11,30,2016,12,31
12,54,1978-11-03,,1978,11,3,2016,12,31
13,55,1974-02-07,,1974,2,7,2016,12,31
14,56,1979-02-22,,1979,2,22,2016,12,31
15,57,1979-10-27,,1979,10,27,2016,12,31
16,58,1981-11-01,,1981,11,1,2016,12,31
17,60,1983-09-19,,1983,9,19,2016,12,31
18,70,1831-01-01,,1831,1,1,2016,12,31
19,80,1981-09-21,,1981,9,21,2016,12,31
20,90,1868-01-01,,1868,1,1,2016,12,31
21,91,1899-01-01,,1899,1,1,2016,12,31
22,92,1875-01-01,,1875,1,1,2016,12,31
23,93,1900-01-01,,1900,1,1,2016,12,31
24,94,1920-01-01,,1920,1,1,2016,12,31
25,95,1903-11-03,,1903,11,3,2016,12,31
26,100,1831-01-01,,1831,1,1,2016,12,31
27,101,1841-01-01,,1841,1,1,2016,12,31
28,110,1966-05-26,,1966,5,26,2016,12,31
29,115,1975-11-25,,1975,11,25,2016,12,31
...,...,...,...,...,...,...,...,...,...
213,771,1971-12-16,,1971,12,16,2016,12,31
214,775,1948-01-04,,1948,1,4,2016,12,31
215,780,1948-02-04,,1948,2,4,2016,12,31
216,781,1965-07-26,,1965,7,26,2016,12,31
217,790,1920-01-01,,1920,1,1,2016,12,31
218,800,1887-01-01,,1887,1,1,2016,12,31
219,811,1953-11-09,,1953,11,9,2016,12,31
220,812,1953-10-23,,1953,10,23,2016,12,31
221,816,1954-07-21,,1954,7,21,2016,12,31
222,817,1954-06-04,1975-04-30,1954,6,4,1975,4,30
223,820,1957-08-31,,1957,8,31,2016,12,31
224,830,1965-08-09,,1965,8,9,2016,12,31
225,835,1984-01-01,,1984,1,1,2016,12,31
226,840,1946-07-04,,1946,7,4,2016,12,31
227,850,1949-12-27,,1949,12,27,2016,12,31
228,860,2002-09-27,,2002,9,27,2016,12,31
229,900,1920-01-10,,1920,1,10,2016,12,31
230,910,1975-09-16,,1975,9,16,2016,12,31
231,920,1920-01-10,,1920,1,10,2016,12,31
232,935,1981-09-15,,1981,9,15,2016,12,31
233,940,1978-07-07,,1978,7,7,2016,12,31
234,946,1999-09-14,,1999,9,14,2016,12,31
235,947,2000-09-05,,2000,9,5,2016,12,31
236,950,1970-10-10,,1970,10,10,2016,12,31
237,955,1999-09-14,,1999,9,14,2016,12,31
238,970,1999-09-14,,1999,9,14,2016,12,31
239,983,1991-09-17,,1991,9,17,2016,12,31
240,986,1994-12-15,,1994,12,15,2016,12,31
241,987,1991-09-17,,1991,9,17,2016,12,31
242,990,1976-12-15,,1976,12,15,2016,12,31

In [12]:
dfStateDates.dtypes

StateID        int64
StartDate     object
EndDate       object
StartYear      int64
StartMonth     int64
StartDay       int64
EndYear        int64
EndMonth       int64
EndDay         int64
dtype: object

In [13]:
dfStateDates.to_csv('FinalData/state_dates.csv', encoding='utf-8', index=False)

## Create 'STATE_CONTIGUITY' table

Task: transform contdir.csv into a table with attributes:

- StateA
- StateB
- StartDate
- EndDate
- StartYear
- StartMonth
- EndYear
- EndMonth
- Type
- Notes

In [14]:
dfStateCont = pd.read_csv('SourceData/CorrelatesOfWar/contdir.csv')
dfStateCont

,dyad,statelno,statelab,statehno,statehab,conttype,begin,end,notes,version
0,2020,2,USA,20,CAN,1,192001,201612,Begins with CAN system entry,3.2
1,2031,2,USA,31,BHM,4,197307,201612,Across Atlantic Ocean (closest=Florida-Bimini)...,3.2
2,2040,2,USA,40,CUB,4,190205,190609,Across Florida Straits (closest=Key West); beg...,3.2
3,2040,2,USA,40,CUB,4,190901,201612,Across Florida Straits (closest=Key West); res...,3.2
4,2070,2,USA,70,MEX,1,183101,201612,Begins with MEX system entry,3.2
5,2365,2,USA,365,RUS,2,195901,201612,Across Bering Strait (closest=Alaska-Siberia);...,3.2
6,31040,31,BHM,40,CUB,4,197307,201612,Across Atlantic Ocean (closest=Great Inagua); ...,3.2
7,31041,31,BHM,41,HAI,4,197307,201612,Across Atlantic Ocean (closest=Great Inagua); ...,3.2
8,31042,31,BHM,42,DOM,4,197307,201612,Across Atlantic Ocean (closest=Great Inagua); ...,3.2
9,31051,31,BHM,51,JAM,5,197307,201612,Across Windward Passage (closest=Great Inagua)...,3.2
10,40041,40,CUB,41,HAI,4,190205,190609,Across Windward Passage; begins with CUB syste...,3.2
11,40041,40,CUB,41,HAI,4,190901,191507,Across Windward Passage; resumes after USA occ...,3.2
12,40041,40,CUB,41,HAI,4,193408,201612,Across Windward Passage; resumes after USA occ...,3.2
13,40042,40,CUB,42,DOM,5,190205,190609,Across Windward Passage (closest=Great Inagua)...,3.2
14,40042,40,CUB,42,DOM,5,190901,191611,Across Windward Passage; resumes after USA occ...,3.2
15,40042,40,CUB,42,DOM,5,192409,201612,Across Windward Passage; resumes after USA occ...,3.2
16,40051,40,CUB,51,JAM,4,196208,201612,Across Caribbean Sea; begins with JAM system e...,3.2
17,40070,40,CUB,70,MEX,4,190205,190609,Across Yucatan Channel; begins with CUB system...,3.2
18,40070,40,CUB,70,MEX,4,190901,201612,Across Yucatan Channel; resumes after USA occu...,3.2
19,40080,40,CUB,80,BLZ,5,198109,201612,Across Caribbean Sea; begins with BLZ system e...,3.2
20,40091,40,CUB,91,HON,5,190205,190609,Across Caribbean Sea; begins with CUB system e...,3.2
21,40091,40,CUB,91,HON,5,190901,201612,Across Caribbean Sea; resumes after USA occupa...,3.2
22,41042,41,HAI,42,DOM,1,189401,191507,Begins with DOM system entry; ends with USA oc...,3.2
23,41042,41,HAI,42,DOM,1,193408,201612,Resumes after USA occupation of HAI ends,3.2
24,41051,41,HAI,51,JAM,4,196208,201612,Across Jamaica Channel; begins with JAM system...,3.2
25,41100,41,HAI,100,COL,5,185901,191507,Across Caribbean Sea; begins with HAI system e...,3.2
26,41100,41,HAI,100,COL,5,193408,201612,Across Caribbean Sea; resumes after USA occupa...,3.2
27,42051,42,DOM,51,JAM,5,196208,201612,Across Jamaica Channel/Caribbean Sea; begins w...,3.2
28,42060,42,DOM,60,SKN,5,198309,201612,Across Caribbean Sea; begins with SKN system e...,3.2
29,42100,42,DOM,100,COL,5,189401,191611,Across Caribbean Sea; begins with DOM system e...,3.2
...,...,...,...,...,...,...,...,...,...,...
817,816850,816,DRV,850,INS,5,197504,201612,Across South China Sea (through S.Vietnam); be...,3.2
818,817820,817,RVN,820,MAL,5,195708,197504,Across South China Sea; begins with MAL system...,3.2
819,817850,817,RVN,850,INS,5,195406,197504,Across Gulf of Thailand; begins with RVN syste...,3.2
820,820830,820,MAL,830,SIN,1,196508,201612,Begins with SIN system entry,3.2
821,820835,820,MAL,835,BRU,1,198401,201612,Begins with BRU system etry,3.2
822,820840,820,MAL,840,PHI,3,196309,201612,Across Balabac Strait (through Sabah-Palawan);...,3.2
823,820850,820,MAL,850,INS,3,195708,196309,Across Strait of Malacca (through Sumatra-Mala...,3.2
824,820850,820,MAL,850,INS,1,196309,201612,Begins when Sabah/Sarawak join MAL,3.2
825,830850,830,SIN,850,INS,2,196508,201612,Across Singapore Strait; begins with SIN syste...,3.2
826,835840,835,BRU,840,PHI,5,198401,201612,Across South China Sea (through Palawan); begi...,3.2
827,840850,840,PHI,850,INS,4,194912,201612,Across Celebes Sea (through Sulu Archipelago-B...,3.2
828,840986,840,PHI,986,PAL,5,199411,201612,Across Pacific Ocean; begins with PAL system e...,3.2
829,850860,850,INS,860,ETM,1,200209,201612,Begins with ETM system entry,3.2
830,850900,850,INS,900,AUL,5,194912,196304,Across Timor Sea (through Timor); begins with ...,3.2
831,850900,850,INS,900,AUL,4,196305,201612,Across Arafura Sea (through Irian Jaya); begin...,3.2
832,850910,850,INS,910,PNG,1,197509,201612,Begins with PNG system entry,3.2
833,850986,850,INS,986,PAL,4,199411,201612,Across Pacific Ocean; begins with PAL system e...,3.2
834,850987,850,INS,987,FSM,5,199109,201612,Across Pacific Ocean; begins with FSM system e...,3.2
835,860900,860,ETM,900,AUL,5,200209,201612,Across Timor Sea; begins with ETM system entry,3.2
836,900910,900,AUL,910,PNG,2,197509,201612,Across Torres Strait; begins with PNG system e...,3.2
837,910940,910,PNG,940,SOL,2,197807,201612,Across Solomon Sea; begins with SOL system entry,3.2
838,910987,910,PNG,987,FSM,5,199109,201612,Across Pacific Ocean; begins with FSM system e...,3.2
839,935940,935,VAN,940,SOL,4,198109,201612,Across Pacific Ocean; begins with VAN system e...,3.2
840,946947,946,KIR,947,TUV,5,200008,201612,Across Pacific Ocean; begins with TUV system e...,3.2
841,946970,946,KIR,970,NAU,5,199909,201612,Across Pacific Ocean; begins with KIR and NAU ...,3.2
842,946983,946,KIR,983,MSI,5,199909,201612,Across Pacific Ocean; begins with KIR system e...,3.2
843,947950,947,TUV,950,FIJ,5,200008,201612,Across Pacific Ocean; begins with TUV system e...,3.2
844,950955,950,FIJ,955,TON,5,199908,201612,Across Pacific Ocean; begins with TON system e...,3.2
845,955990,955,TON,990,WSM,5,199908,201612,Across Pacific Ocean; begins with TON system e...,3.2
846,986987,986,PAL,987,FSM,4,199411,201612,Across Pacific Ocean; begins with PAL system e...,3.2

In [15]:
dfStateCont.drop(columns=['dyad', 'statelab', 'statehab', 'version'], inplace=True)
dfStateCont.rename(columns={"statelno":"StateA", "statehno": "StateB", "conttype":"Type", "notes":"Notes"}, inplace=True)
dfStateCont['StartYear'] = dfStateCont['begin'].astype(str).str[0:4]
dfStateCont['StartMonth'] = dfStateCont['begin'].astype(str).str[4:6]
dfStateCont['EndYear'] = dfStateCont['end'].astype(str).str[0:4]
dfStateCont['EndMonth'] = dfStateCont['end'].astype(str).str[4:6]
dfStateCont.drop(columns=['begin', 'end'], inplace=True)
dfStateCont['StartDate'] = pd.to_datetime(dict(year=dfStateCont.StartYear, month=dfStateCont.StartMonth, day='01'))
dfStateCont['EndDate'] = pd.to_datetime(dict(year=dfStateCont.EndYear, month=dfStateCont.EndMonth, day='01'))
dfStateCont = dfStateCont[['StateA', 'StateB', 'StartDate', 'EndDate', 'StartYear', 'StartMonth', 'EndYear', 'EndMonth', 'Type', 'Notes']]
dfStateCont

,StateA,StateB,StartDate,EndDate,StartYear,StartMonth,EndYear,EndMonth,Type,Notes
0,2,20,1920-01-01,2016-12-01,1920,01,2016,12,1,Begins with CAN system entry
1,2,31,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Florida-Bimini)...
2,2,40,1902-05-01,1906-09-01,1902,05,1906,09,4,Across Florida Straits (closest=Key West); beg...
3,2,40,1909-01-01,2016-12-01,1909,01,2016,12,4,Across Florida Straits (closest=Key West); res...
4,2,70,1831-01-01,2016-12-01,1831,01,2016,12,1,Begins with MEX system entry
5,2,365,1959-01-01,2016-12-01,1959,01,2016,12,2,Across Bering Strait (closest=Alaska-Siberia);...
6,31,40,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Great Inagua); ...
7,31,41,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Great Inagua); ...
8,31,42,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Great Inagua); ...
9,31,51,1973-07-01,2016-12-01,1973,07,2016,12,5,Across Windward Passage (closest=Great Inagua)...
10,40,41,1902-05-01,1906-09-01,1902,05,1906,09,4,Across Windward Passage; begins with CUB syste...
11,40,41,1909-01-01,1915-07-01,1909,01,1915,07,4,Across Windward Passage; resumes after USA occ...
12,40,41,1934-08-01,2016-12-01,1934,08,2016,12,4,Across Windward Passage; resumes after USA occ...
13,40,42,1902-05-01,1906-09-01,1902,05,1906,09,5,Across Windward Passage (closest=Great Inagua)...
14,40,42,1909-01-01,1916-11-01,1909,01,1916,11,5,Across Windward Passage; resumes after USA occ...
15,40,42,1924-09-01,2016-12-01,1924,09,2016,12,5,Across Windward Passage; resumes after USA occ...
16,40,51,1962-08-01,2016-12-01,1962,08,2016,12,4,Across Caribbean Sea; begins with JAM system e...
17,40,70,1902-05-01,1906-09-01,1902,05,1906,09,4,Across Yucatan Channel; begins with CUB system...
18,40,70,1909-01-01,2016-12-01,1909,01,2016,12,4,Across Yucatan Channel; resumes after USA occu...
19,40,80,1981-09-01,2016-12-01,1981,09,2016,12,5,Across Caribbean Sea; begins with BLZ system e...
20,40,91,1902-05-01,1906-09-01,1902,05,1906,09,5,Across Caribbean Sea; begins with CUB system e...
21,40,91,1909-01-01,2016-12-01,1909,01,2016,12,5,Across Caribbean Sea; resumes after USA occupa...
22,41,42,1894-01-01,1915-07-01,1894,01,1915,07,1,Begins with DOM system entry; ends with USA oc...
23,41,42,1934-08-01,2016-12-01,1934,08,2016,12,1,Resumes after USA occupation of HAI ends
24,41,51,1962-08-01,2016-12-01,1962,08,2016,12,4,Across Jamaica Channel; begins with JAM system...
25,41,100,1859-01-01,1915-07-01,1859,01,1915,07,5,Across Caribbean Sea; begins with HAI system e...
26,41,100,1934-08-01,2016-12-01,1934,08,2016,12,5,Across Caribbean Sea; resumes after USA occupa...
27,42,51,1962-08-01,2016-12-01,1962,08,2016,12,5,Across Jamaica Channel/Caribbean Sea; begins w...
28,42,60,1983-09-01,2016-12-01,1983,09,2016,12,5,Across Caribbean Sea; begins with SKN system e...
29,42,100,1894-01-01,1916-11-01,1894,01,1916,11,5,Across Caribbean Sea; begins with DOM system e...
...,...,...,...,...,...,...,...,...,...,...
817,816,850,1975-04-01,2016-12-01,1975,04,2016,12,5,Across South China Sea (through S.Vietnam); be...
818,817,820,1957-08-01,1975-04-01,1957,08,1975,04,5,Across South China Sea; begins with MAL system...
819,817,850,1954-06-01,1975-04-01,1954,06,1975,04,5,Across Gulf of Thailand; begins with RVN syste...
820,820,830,1965-08-01,2016-12-01,1965,08,2016,12,1,Begins with SIN system entry
821,820,835,1984-01-01,2016-12-01,1984,01,2016,12,1,Begins with BRU system etry
822,820,840,1963-09-01,2016-12-01,1963,09,2016,12,3,Across Balabac Strait (through Sabah-Palawan);...
823,820,850,1957-08-01,1963-09-01,1957,08,1963,09,3,Across Strait of Malacca (through Sumatra-Mala...
824,820,850,1963-09-01,2016-12-01,1963,09,2016,12,1,Begins when Sabah/Sarawak join MAL
825,830,850,1965-08-01,2016-12-01,1965,08,2016,12,2,Across Singapore Strait; begins with SIN syste...
826,835,840,1984-01-01,2016-12-01,1984,01,2016,12,5,Across South China Sea (through Palawan); begi...
827,840,850,1949-12-01,2016-12-01,1949,12,2016,12,4,Across Celebes Sea (through Sulu Archipelago-B...
828,840,986,1994-11-01,2016-12-01,1994,11,2016,12,5,Across Pacific Ocean; begins with PAL system e...
829,850,860,2002-09-01,2016-12-01,2002,09,2016,12,1,Begins with ETM system entry
830,850,900,1949-12-01,1963-04-01,1949,12,1963,04,5,Across Timor Sea (through Timor); begins with ...
831,850,900,1963-05-01,2016-12-01,1963,05,2016,12,4,Across Arafura Sea (through Irian Jaya); begin...
832,850,910,1975-09-01,2016-12-01,1975,09,2016,12,1,Begins with PNG system entry
833,850,986,1994-11-01,2016-12-01,1994,11,2016,12,4,Across Pacific Ocean; begins with PAL system e...
834,850,987,1991-09-01,2016-12-01,1991,09,2016,12,5,Across Pacific Ocean; begins with FSM system e...
835,860,900,2002-09-01,2016-12-01,2002,09,2016,12,5,Across Timor Sea; begins with ETM system entry
836,900,910,1975-09-01,2016-12-01,1975,09,2016,12,2,Across Torres Strait; begins with PNG system e...
837,910,940,1978-07-01,2016-12-01,1978,07,2016,12,2,Across Solomon Sea; begins with SOL system entry
838,910,987,1991-09-01,2016-12-01,1991,09,2016,12,5,Across Pacific Ocean; begins with FSM system e...
839,935,940,1981-09-01,2016-12-01,1981,09,2016,12,4,Across Pacific Ocean; begins with VAN system e...
840,946,947,2000-08-01,2016-12-01,2000,08,2016,12,5,Across Pacific Ocean; begins with TUV system e...
841,946,970,1999-09-01,2016-12-01,1999,09,2016,12,5,Across Pacific Ocean; begins with KIR and NAU ...
842,946,983,1999-09-01,2016-12-01,1999,09,2016,12,5,Across Pacific Ocean; begins with KIR system e...
843,947,950,2000-08-01,2016-12-01,2000,08,2016,12,5,Across Pacific Ocean; begins with TUV system e...
844,950,955,1999-08-01,2016-12-01,1999,08,2016,12,5,Across Pacific Ocean; begins with TON system e...
845,955,990,1999-08-01,2016-12-01,1999,08,2016,12,5,Across Pacific Ocean; begins with TON system e...
846,986,987,1994-11-01,2016-12-01,1994,11,2016,12,4,Across Pacific Ocean; begins with PAL system e...

In [16]:
NoteMaxLength = int(dfStateCont['Notes'].str.encode(encoding='utf-8').str.len().max())
print(NoteMaxLength)
dfStateCont.Type.unique()

163

array([1, 4, 2, 5, 3])

In [17]:
dfStateCont['StartDate'] = dfStateCont['StartDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
dfStateCont['EndDate'] = dfStateCont['EndDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
dfStateCont.dtypes

StateA         int64
StateB         int64
StartDate     object
EndDate       object
StartYear     object
StartMonth    object
EndYear       object
EndMonth      object
Type           int64
Notes         object
dtype: object

In [18]:
badnotes = dfStateCont['Notes'].str.contains('\&', regex=True)
sum(badnotes)

8

In [19]:
dfStateCont['Notes'] = dfStateCont['Notes'].str.replace('\&', 'and')
dfStateCont

,StateA,StateB,StartDate,EndDate,StartYear,StartMonth,EndYear,EndMonth,Type,Notes
0,2,20,1920-01-01,2016-12-01,1920,01,2016,12,1,Begins with CAN system entry
1,2,31,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Florida-Bimini)...
2,2,40,1902-05-01,1906-09-01,1902,05,1906,09,4,Across Florida Straits (closest=Key West); beg...
3,2,40,1909-01-01,2016-12-01,1909,01,2016,12,4,Across Florida Straits (closest=Key West); res...
4,2,70,1831-01-01,2016-12-01,1831,01,2016,12,1,Begins with MEX system entry
5,2,365,1959-01-01,2016-12-01,1959,01,2016,12,2,Across Bering Strait (closest=Alaska-Siberia);...
6,31,40,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Great Inagua); ...
7,31,41,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Great Inagua); ...
8,31,42,1973-07-01,2016-12-01,1973,07,2016,12,4,Across Atlantic Ocean (closest=Great Inagua); ...
9,31,51,1973-07-01,2016-12-01,1973,07,2016,12,5,Across Windward Passage (closest=Great Inagua)...
10,40,41,1902-05-01,1906-09-01,1902,05,1906,09,4,Across Windward Passage; begins with CUB syste...
11,40,41,1909-01-01,1915-07-01,1909,01,1915,07,4,Across Windward Passage; resumes after USA occ...
12,40,41,1934-08-01,2016-12-01,1934,08,2016,12,4,Across Windward Passage; resumes after USA occ...
13,40,42,1902-05-01,1906-09-01,1902,05,1906,09,5,Across Windward Passage (closest=Great Inagua)...
14,40,42,1909-01-01,1916-11-01,1909,01,1916,11,5,Across Windward Passage; resumes after USA occ...
15,40,42,1924-09-01,2016-12-01,1924,09,2016,12,5,Across Windward Passage; resumes after USA occ...
16,40,51,1962-08-01,2016-12-01,1962,08,2016,12,4,Across Caribbean Sea; begins with JAM system e...
17,40,70,1902-05-01,1906-09-01,1902,05,1906,09,4,Across Yucatan Channel; begins with CUB system...
18,40,70,1909-01-01,2016-12-01,1909,01,2016,12,4,Across Yucatan Channel; resumes after USA occu...
19,40,80,1981-09-01,2016-12-01,1981,09,2016,12,5,Across Caribbean Sea; begins with BLZ system e...
20,40,91,1902-05-01,1906-09-01,1902,05,1906,09,5,Across Caribbean Sea; begins with CUB system e...
21,40,91,1909-01-01,2016-12-01,1909,01,2016,12,5,Across Caribbean Sea; resumes after USA occupa...
22,41,42,1894-01-01,1915-07-01,1894,01,1915,07,1,Begins with DOM system entry; ends with USA oc...
23,41,42,1934-08-01,2016-12-01,1934,08,2016,12,1,Resumes after USA occupation of HAI ends
24,41,51,1962-08-01,2016-12-01,1962,08,2016,12,4,Across Jamaica Channel; begins with JAM system...
25,41,100,1859-01-01,1915-07-01,1859,01,1915,07,5,Across Caribbean Sea; begins with HAI system e...
26,41,100,1934-08-01,2016-12-01,1934,08,2016,12,5,Across Caribbean Sea; resumes after USA occupa...
27,42,51,1962-08-01,2016-12-01,1962,08,2016,12,5,Across Jamaica Channel/Caribbean Sea; begins w...
28,42,60,1983-09-01,2016-12-01,1983,09,2016,12,5,Across Caribbean Sea; begins with SKN system e...
29,42,100,1894-01-01,1916-11-01,1894,01,1916,11,5,Across Caribbean Sea; begins with DOM system e...
...,...,...,...,...,...,...,...,...,...,...
817,816,850,1975-04-01,2016-12-01,1975,04,2016,12,5,Across South China Sea (through S.Vietnam); be...
818,817,820,1957-08-01,1975-04-01,1957,08,1975,04,5,Across South China Sea; begins with MAL system...
819,817,850,1954-06-01,1975-04-01,1954,06,1975,04,5,Across Gulf of Thailand; begins with RVN syste...
820,820,830,1965-08-01,2016-12-01,1965,08,2016,12,1,Begins with SIN system entry
821,820,835,1984-01-01,2016-12-01,1984,01,2016,12,1,Begins with BRU system etry
822,820,840,1963-09-01,2016-12-01,1963,09,2016,12,3,Across Balabac Strait (through Sabah-Palawan);...
823,820,850,1957-08-01,1963-09-01,1957,08,1963,09,3,Across Strait of Malacca (through Sumatra-Mala...
824,820,850,1963-09-01,2016-12-01,1963,09,2016,12,1,Begins when Sabah/Sarawak join MAL
825,830,850,1965-08-01,2016-12-01,1965,08,2016,12,2,Across Singapore Strait; begins with SIN syste...
826,835,840,1984-01-01,2016-12-01,1984,01,2016,12,5,Across South China Sea (through Palawan); begi...
827,840,850,1949-12-01,2016-12-01,1949,12,2016,12,4,Across Celebes Sea (through Sulu Archipelago-B...
828,840,986,1994-11-01,2016-12-01,1994,11,2016,12,5,Across Pacific Ocean; begins with PAL system e...
829,850,860,2002-09-01,2016-12-01,2002,09,2016,12,1,Begins with ETM system entry
830,850,900,1949-12-01,1963-04-01,1949,12,1963,04,5,Across Timor Sea (through Timor); begins with ...
831,850,900,1963-05-01,2016-12-01,1963,05,2016,12,4,Across Arafura Sea (through Irian Jaya); begin...
832,850,910,1975-09-01,2016-12-01,1975,09,2016,12,1,Begins with PNG system entry
833,850,986,1994-11-01,2016-12-01,1994,11,2016,12,4,Across Pacific Ocean; begins with PAL system e...
834,850,987,1991-09-01,2016-12-01,1991,09,2016,12,5,Across Pacific Ocean; begins with FSM system e...
835,860,900,2002-09-01,2016-12-01,2002,09,2016,12,5,Across Timor Sea; begins with ETM system entry
836,900,910,1975-09-01,2016-12-01,1975,09,2016,12,2,Across Torres Strait; begins with PNG system e...
837,910,940,1978-07-01,2016-12-01,1978,07,2016,12,2,Across Solomon Sea; begins with SOL system entry
838,910,987,1991-09-01,2016-12-01,1991,09,2016,12,5,Across Pacific Ocean; begins with FSM system e...
839,935,940,1981-09-01,2016-12-01,1981,09,2016,12,4,Across Pacific Ocean; begins with VAN system e...
840,946,947,2000-08-01,2016-12-01,2000,08,2016,12,5,Across Pacific Ocean; begins with TUV system e...
841,946,970,1999-09-01,2016-12-01,1999,09,2016,12,5,Across Pacific Ocean; begins with KIR and NAU ...
842,946,983,1999-09-01,2016-12-01,1999,09,2016,12,5,Across Pacific Ocean; begins with KIR system e...
843,947,950,2000-08-01,2016-12-01,2000,08,2016,12,5,Across Pacific Ocean; begins with TUV system e...
844,950,955,1999-08-01,2016-12-01,1999,08,2016,12,5,Across Pacific Ocean; begins with TON system e...
845,955,990,1999-08-01,2016-12-01,1999,08,2016,12,5,Across Pacific Ocean; begins with TON system e...
846,986,987,1994-11-01,2016-12-01,1994,11,2016,12,4,Across Pacific Ocean; begins with PAL system e...

In [20]:
dfStateCont.to_csv('FinalData/state_contiguity.csv', encoding='utf-8', index=False)

## Create 'TERRITORIALCHANGE' table

Task: transform tc2014.csv into a table with attributes:

- TerritorialChangeID
- Gainer
- Loser
- TransferDate
- Year
- Month
- Procedure
- TerritoryID
- TerritoryArea
- TerritoryPopulation
- IsWholeTerritory
- IsMilConflict
- IsIndependence
- GainerIsCont
- LoserIsCont
- IsGainerHomeland
- IsLoserHomeland
- IsSystemEntry
- IsSystemExit

In [21]:
dfTerrChange = pd.read_csv('SourceData/CorrelatesOfWar/tc2014.csv')
dfTerrChange

,year,month,gainer,gaintype,procedur,entity,contgain,area,pop,portion,loser,losetype,contlose,entry,exit,number,indep,conflict,version
0,1816,7,160,1,-9,160,-9,2093164.00,1970000,1,230,0,0,1,0,3,1,0,5
1,1816,3,200,0,3,790,0,1.00,.,0,790,1,1,0,0,4,0,1,5
2,1816,.,200,0,3,420,0,179.00,.,0,-9,1,-9,0,0,5,0,0,5
3,1817,.,220,0,3,433,0,7819.00,100000,1,200,0,0,0,0,28,0,0,5
4,1817,.,365,1,1,365,1,650.00,.,0,-9,1,1,0,0,29,0,1,5
5,1818,10,2,1,3,20,1,84240.00,.,0,200,0,0,0,0,30,0,0,5
6,1818,12,155,1,-9,155,-9,464568.00,1656300,1,230,0,0,1,0,31,1,1,5
7,1818,10,200,0,3,2,0,41600.00,.,0,2,1,1,0,0,32,0,0,5
8,1818,6,200,0,1,750,0,421200.00,.,0,-9,1,-9,0,0,33,0,1,5
9,1818,.,200,0,2,438,0,16.00,.,0,-9,1,-9,0,0,34,0,0,5
10,1818,.,640,1,3,671,1,388500.00,.,1,-9,1,-9,0,0,35,0,1,5
11,1819,2,2,1,3,40,1,186488.00,54477,0,230,0,0,0,0,36,0,0,5
12,1819,12,100,1,-9,100,-9,660760.00,1400000,1,230,0,0,1,0,37,1,0,5
13,1819,.,220,0,2,580,0,1.00,.,0,580,1,1,0,0,38,0,0,5
14,1821,11,42,1,-9,42,-9,48734.00,89000,1,230,0,0,-9,0,39,1,0,5
15,1821,3,70,1,-9,70,-9,1426757.00,7000000,1,230,0,0,1,0,40,1,0,5
16,1821,6,100,1,1,101,1,1082207.00,800000,1,230,0,0,0,0,41,0,1,5
17,1821,7,135,1,-9,135,-9,1559891.00,1929300,1,230,0,0,-9,0,42,1,0,5
18,1821,11,235,0,3,165,0,269810.00,70000,1,230,0,0,0,0,43,0,0,5
19,1822,5,100,1,1,130,1,550685.00,600000,1,230,0,0,0,0,44,0,1,5
20,1822,.,640,1,1,625,1,229471.00,100000,1,-9,1,-9,0,0,45,0,1,5
21,1824,12,140,1,-9,140,-9,8259504.00,5306418,1,235,0,0,1,0,46,1,0,5
22,1824,3,200,0,3,830,0,583.00,10000,1,-9,1,1,0,0,47,0,0,5
23,1824,3,200,0,3,827,0,1658.00,77756,0,210,0,0,0,0,48,0,0,5
24,1824,3,210,0,3,850,0,25089.00,93875,0,200,0,0,0,0,49,0,0,5
25,1825,8,145,1,-9,145,-9,3016000.00,1750000,1,230,0,0,1,0,50,1,0,5
26,1825,12,200,0,2,9993,0,48.00,0,1,-9,1,-9,0,0,51,0,0,5
27,1825,.,580,1,1,580,1,1.00,.,0,220,0,0,0,0,52,0,0,5
28,1825,.,616,1,4,616,-9,116348.00,875000,1,640,0,1,-9,0,53,1,0,5
29,1826,.,200,0,2,561,0,200000.00,.,0,-9,1,-9,0,0,54,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,1993,1,316,1,4,316,-9,79228.00,10300000,1,315,1,1,1,1,861,1,0,5
808,1993,1,317,1,4,317,-9,48666.00,5200000,1,315,1,1,1,1,862,1,0,5
809,1993,4,531,1,4,531,-9,124993.00,3000000,1,530,1,1,1,0,863,1,1,5
810,1993,5,690,1,3,645,1,.,0,0,645,1,1,0,0,864,0,0,5
811,1994,3,565,1,3,5651,1,1124.00,30000,1,560,0,0,0,0,865,0,0,5
812,1994,10,986,1,-9,980,-9,487.00,15600,0,2,0,0,1,0,866,1,0,5
813,1995,2,663,1,3,666,1,340.00,0,0,666,1,1,0,0,867,0,0,5
814,1996,4,710,1,3,365,1,18.00,0,0,365,1,1,0,0,868,0,0,5
815,1997,6,316,1,3,317,1,4.52,31,0,317,1,1,0,0,869,0,0,5
816,1997,6,317,1,3,316,1,4.52,120,0,316,1,1,0,0,870,0,0,5
817,1997,7,710,1,3,720,1,1084.00,6700000,1,200,0,0,0,0,871,0,0,5
818,1998,7,710,1,3,705,1,470.00,.,0,705,1,1,0,0,872,0,0,5
819,1998,8,369,1,3,359,1,1.00,0,0,359,1,1,0,0,873,0,0,5
820,1998,8,359,1,3,369,1,1.00,0,0,369,1,1,0,0,874,0,0,5
821,1999,3,365,1,3,366,1,30.00,0,0,366,1,1,0,0,875,0,0,5
822,1999,3,366,1,3,365,1,30.00,0,0,365,1,1,0,0,876,0,0,5
823,1999,10,1,-9,3,860,-9,14926.00,780000,1,850,1,1,0,0,877,0,1,5
824,1999,12,710,1,3,721,1,21.45,447000,1,235,0,0,0,0,878,0,0,5
825,1991,.,571,1,1,.,1,5.00,0,0,-9,-9,-9,0,0,879,0,0,5
826,2000,1,651,1,1,625,1,20580.00,5000,0,625,1,1,0,0,880,0,0,5
827,2002,5,860,1,-9,860,-9,14926.00,950000,1,1,-9,-9,1,0,881,1,0,5
828,2003,12,475,1,3,471,1,.,.,0,471,1,1,0,0,882,0,0,5
829,2003,12,471,1,3,475,1,.,.,0,475,1,1,0,0,883,0,0,5
830,2004,7,679,1,3,670,1,40000.00,.,0,670,1,1,0,0,884,0,1,5
831,2006,6,348,1,4,348,-9,13812.00,650000,1,345,1,1,1,0,885,1,0,5
832,2008,8,471,1,3,475,1,665.00,300000,0,475,1,1,0,0,886,0,1,5
833,2008,10,710,1,3,365,1,174.00,0,0,365,1,1,0,0,887,0,0,5
834,2011,1,710,1,3,702,1,1142.00,.,0,702,1,1,0,0,888,0,0,5
835,2011,7,626,1,-9,626,-9,619745,8260000,1,625,1,1,1,0,889,1,1,5
836,2014,3,365,1,1,369,1,27000.00,2400000,1,369,1,1,0,0,890,0,1,5

In [22]:
dfTerrChange.rename(columns={"year":"Year", "month": "Month", "gainer":"Gainer", "gaintype":"IsGainerHomeland", "procedur":"Procedure", "entity":"TerritoryID", "contgain":"GainerIsCont", "area":"TerritoryArea", "pop":"TerritoryPopulation", "portion":"IsWholeTerritory", "loser":"Loser", "losetype":"IsLoserHomeland", "contlose": "LoserIsCont", "entry":"IsSystemEntry", "exit":"IsSystemExit", "number":"TerritorialChangeID", "indep":"IsIndependence", "conflict":"IsMilConflict"}, inplace=True)
dfTerrChange.drop(columns=['version'], inplace=True)
missingmonth = (dfTerrChange['Month'] == '.')
dfTerrChange['MonthClean'] = dfTerrChange['Month']
dfTerrChange['MonthClean'] [dfTerrChange['MonthClean'] == '.'] = 1 # boolean mask
dfTerrChange['TransferDate'] = pd.to_datetime(dict(year=dfTerrChange.Year, month=dfTerrChange.MonthClean, day='01'))
dfTerrChange = dfTerrChange[['TerritorialChangeID', 'Gainer', 'Loser', 'TransferDate', 'Year', 'Month', 'Procedure', 'TerritoryID', 'TerritoryArea', 'TerritoryPopulation', 'IsWholeTerritory', 'IsMilConflict', 'IsIndependence', 'GainerIsCont', 'LoserIsCont', 'IsGainerHomeland', 'IsLoserHomeland', 'IsSystemEntry', 'IsSystemExit']]
dfTerrChange

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
0,3,160,230,1816-07-01,1816,7,-9,160,2093164.00,1970000,1,0,1,-9,0,1,0,1,0
1,4,200,790,1816-03-01,1816,3,3,790,1.00,.,0,1,0,0,1,0,1,0,0
2,5,200,-9,1816-01-01,1816,.,3,420,179.00,.,0,0,0,0,-9,0,1,0,0
3,28,220,200,1817-01-01,1817,.,3,433,7819.00,100000,1,0,0,0,0,0,0,0,0
4,29,365,-9,1817-01-01,1817,.,1,365,650.00,.,0,1,0,1,1,1,1,0,0
5,30,2,200,1818-10-01,1818,10,3,20,84240.00,.,0,0,0,1,0,1,0,0,0
6,31,155,230,1818-12-01,1818,12,-9,155,464568.00,1656300,1,1,1,-9,0,1,0,1,0
7,32,200,2,1818-10-01,1818,10,3,2,41600.00,.,0,0,0,0,1,0,1,0,0
8,33,200,-9,1818-06-01,1818,6,1,750,421200.00,.,0,1,0,0,-9,0,1,0,0
9,34,200,-9,1818-01-01,1818,.,2,438,16.00,.,0,0,0,0,-9,0,1,0,0
10,35,640,-9,1818-01-01,1818,.,3,671,388500.00,.,1,1,0,1,-9,1,1,0,0
11,36,2,230,1819-02-01,1819,2,3,40,186488.00,54477,0,0,0,1,0,1,0,0,0
12,37,100,230,1819-12-01,1819,12,-9,100,660760.00,1400000,1,0,1,-9,0,1,0,1,0
13,38,220,580,1819-01-01,1819,.,2,580,1.00,.,0,0,0,0,1,0,1,0,0
14,39,42,230,1821-11-01,1821,11,-9,42,48734.00,89000,1,0,1,-9,0,1,0,-9,0
15,40,70,230,1821-03-01,1821,3,-9,70,1426757.00,7000000,1,0,1,-9,0,1,0,1,0
16,41,100,230,1821-06-01,1821,6,1,101,1082207.00,800000,1,1,0,1,0,1,0,0,0
17,42,135,230,1821-07-01,1821,7,-9,135,1559891.00,1929300,1,0,1,-9,0,1,0,-9,0
18,43,235,230,1821-11-01,1821,11,3,165,269810.00,70000,1,0,0,0,0,0,0,0,0
19,44,100,230,1822-05-01,1822,5,1,130,550685.00,600000,1,1,0,1,0,1,0,0,0
20,45,640,-9,1822-01-01,1822,.,1,625,229471.00,100000,1,1,0,1,-9,1,1,0,0
21,46,140,235,1824-12-01,1824,12,-9,140,8259504.00,5306418,1,0,1,-9,0,1,0,1,0
22,47,200,-9,1824-03-01,1824,3,3,830,583.00,10000,1,0,0,0,1,0,1,0,0
23,48,200,210,1824-03-01,1824,3,3,827,1658.00,77756,0,0,0,0,0,0,0,0,0
24,49,210,200,1824-03-01,1824,3,3,850,25089.00,93875,0,0,0,0,0,0,0,0,0
25,50,145,230,1825-08-01,1825,8,-9,145,3016000.00,1750000,1,0,1,-9,0,1,0,1,0
26,51,200,-9,1825-12-01,1825,12,2,9993,48.00,0,1,0,0,0,-9,0,1,0,0
27,52,580,220,1825-01-01,1825,.,1,580,1.00,.,0,0,0,1,0,1,0,0,0
28,53,616,640,1825-01-01,1825,.,4,616,116348.00,875000,1,0,1,-9,1,1,0,-9,0
29,54,200,-9,1826-01-01,1826,.,2,561,200000.00,.,0,0,0,0,-9,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,861,316,315,1993-01-01,1993,1,4,316,79228.00,10300000,1,0,1,-9,1,1,1,1,1
808,862,317,315,1993-01-01,1993,1,4,317,48666.00,5200000,1,0,1,-9,1,1,1,1,1
809,863,531,530,1993-04-01,1993,4,4,531,124993.00,3000000,1,1,1,-9,1,1,1,1,0
810,864,690,645,1993-05-01,1993,5,3,645,.,0,0,0,0,1,1,1,1,0,0
811,865,565,560,1994-03-01,1994,3,3,5651,1124.00,30000,1,0,0,1,0,1,0,0,0
812,866,986,2,1994-10-01,1994,10,-9,980,487.00,15600,0,0,1,-9,0,1,0,1,0
813,867,663,666,1995-02-01,1995,2,3,666,340.00,0,0,0,0,1,1,1,1,0,0
814,868,710,365,1996-04-01,1996,4,3,365,18.00,0,0,0,0,1,1,1,1,0,0
815,869,316,317,1997-06-01,1997,6,3,317,4.52,31,0,0,0,1,1,1,1,0,0
816,870,317,316,1997-06-01,1997,6,3,316,4.52,120,0,0,0,1,1,1,1,0,0
817,871,710,200,1997-07-01,1997,7,3,720,1084.00,6700000,1,0,0,1,0,1,0,0,0
818,872,710,705,1998-07-01,1998,7,3,705,470.00,.,0,0,0,1,1,1,1,0,0
819,873,369,359,1998-08-01,1998,8,3,359,1.00,0,0,0,0,1,1,1,1,0,0
820,874,359,369,1998-08-01,1998,8,3,369,1.00,0,0,0,0,1,1,1,1,0,0
821,875,365,366,1999-03-01,1999,3,3,366,30.00,0,0,0,0,1,1,1,1,0,0
822,876,366,365,1999-03-01,1999,3,3,365,30.00,0,0,0,0,1,1,1,1,0,0
823,877,1,850,1999-10-01,1999,10,3,860,14926.00,780000,1,1,0,-9,1,-9,1,0,0
824,878,710,235,1999-12-01,1999,12,3,721,21.45,447000,1,0,0,1,0,1,0,0,0
825,879,571,-9,1991-01-01,1991,.,1,.,5.00,0,0,0,0,1,-9,1,-9,0,0
826,880,651,625,2000-01-01,2000,1,1,625,20580.00,5000,0,0,0,1,1,1,1,0,0
827,881,860,1,2002-05-01,2002,5,-9,860,14926.00,950000,1,0,1,-9,-9,1,-9,1,0
828,882,475,471,2003-12-01,2003,12,3,471,.,.,0,0,0,1,1,1,1,0,0
829,883,471,475,2003-12-01,2003,12,3,475,.,.,0,0,0,1,1,1,1,0,0
830,884,679,670,2004-07-01,2004,7,3,670,40000.00,.,0,1,0,1,1,1,1,0,0
831,885,348,345,2006-06-01,2006,6,4,348,13812.00,650000,1,0,1,-9,1,1,1,1,0
832,886,471,475,2008-08-01,2008,8,3,475,665.00,300000,0,1,0,1,1,1,1,0,0
833,887,710,365,2008-10-01,2008,10,3,365,174.00,0,0,0,0,1,1,1,1,0,0
834,888,710,702,2011-01-01,2011,1,3,702,1142.00,.,0,0,0,1,1,1,1,0,0
835,889,626,625,2011-07-01,2011,7,-9,626,619745,8260000,1,1,1,-9,1,1,1,1,0
836,890,365,369,2014-03-01,2014,3,1,369,27000.00,2400000,1,1,0,1,1,1,1,0,0

In [23]:
dfTerrChange = dfTerrChange.replace(-9, '')
dfTerrChange['Loser'] [dfTerrChange['Loser'] == 0 ] = ''
dfTerrChange['Loser'] [dfTerrChange['Loser'] == 7693 ] = ''
dfTerrChange['Loser'] [dfTerrChange['Loser'] == 2292 ] = ''
dfTerrChange['Loser'] [dfTerrChange['Loser'] == 7507 ] = ''
dfTerrChange['Month'] = dfTerrChange['Month'].replace('.', '')
dfTerrChange['TerritoryPopulation'] = dfTerrChange['TerritoryPopulation'].replace('.', '')
dfTerrChange['TerritoryArea'] = dfTerrChange['TerritoryArea'].replace('.', '')
dfTerrChange['TerritoryID'] = dfTerrChange['TerritoryID'].replace('.', '')
dfTerrChange['TransferDate'] = dfTerrChange['TransferDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
dfTerrChange

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,TerritorialChangeID,Gainer,Loser,TransferDate,Year,Month,Procedure,TerritoryID,TerritoryArea,TerritoryPopulation,IsWholeTerritory,IsMilConflict,IsIndependence,GainerIsCont,LoserIsCont,IsGainerHomeland,IsLoserHomeland,IsSystemEntry,IsSystemExit
0,3,160,230,1816-07-01,1816,7,,160,2093164.00,1970000,1,0,1,,0,1,0,1,0
1,4,200,790,1816-03-01,1816,3,3,790,1.00,,0,1,0,0,1,0,1,0,0
2,5,200,,1816-01-01,1816,,3,420,179.00,,0,0,0,0,,0,1,0,0
3,28,220,200,1817-01-01,1817,,3,433,7819.00,100000,1,0,0,0,0,0,0,0,0
4,29,365,,1817-01-01,1817,,1,365,650.00,,0,1,0,1,1,1,1,0,0
5,30,2,200,1818-10-01,1818,10,3,20,84240.00,,0,0,0,1,0,1,0,0,0
6,31,155,230,1818-12-01,1818,12,,155,464568.00,1656300,1,1,1,,0,1,0,1,0
7,32,200,2,1818-10-01,1818,10,3,2,41600.00,,0,0,0,0,1,0,1,0,0
8,33,200,,1818-06-01,1818,6,1,750,421200.00,,0,1,0,0,,0,1,0,0
9,34,200,,1818-01-01,1818,,2,438,16.00,,0,0,0,0,,0,1,0,0
10,35,640,,1818-01-01,1818,,3,671,388500.00,,1,1,0,1,,1,1,0,0
11,36,2,230,1819-02-01,1819,2,3,40,186488.00,54477,0,0,0,1,0,1,0,0,0
12,37,100,230,1819-12-01,1819,12,,100,660760.00,1400000,1,0,1,,0,1,0,1,0
13,38,220,580,1819-01-01,1819,,2,580,1.00,,0,0,0,0,1,0,1,0,0
14,39,42,230,1821-11-01,1821,11,,42,48734.00,89000,1,0,1,,0,1,0,,0
15,40,70,230,1821-03-01,1821,3,,70,1426757.00,7000000,1,0,1,,0,1,0,1,0
16,41,100,230,1821-06-01,1821,6,1,101,1082207.00,800000,1,1,0,1,0,1,0,0,0
17,42,135,230,1821-07-01,1821,7,,135,1559891.00,1929300,1,0,1,,0,1,0,,0
18,43,235,230,1821-11-01,1821,11,3,165,269810.00,70000,1,0,0,0,0,0,0,0,0
19,44,100,230,1822-05-01,1822,5,1,130,550685.00,600000,1,1,0,1,0,1,0,0,0
20,45,640,,1822-01-01,1822,,1,625,229471.00,100000,1,1,0,1,,1,1,0,0
21,46,140,235,1824-12-01,1824,12,,140,8259504.00,5306418,1,0,1,,0,1,0,1,0
22,47,200,,1824-03-01,1824,3,3,830,583.00,10000,1,0,0,0,1,0,1,0,0
23,48,200,210,1824-03-01,1824,3,3,827,1658.00,77756,0,0,0,0,0,0,0,0,0
24,49,210,200,1824-03-01,1824,3,3,850,25089.00,93875,0,0,0,0,0,0,0,0,0
25,50,145,230,1825-08-01,1825,8,,145,3016000.00,1750000,1,0,1,,0,1,0,1,0
26,51,200,,1825-12-01,1825,12,2,9993,48.00,0,1,0,0,0,,0,1,0,0
27,52,580,220,1825-01-01,1825,,1,580,1.00,,0,0,0,1,0,1,0,0,0
28,53,616,640,1825-01-01,1825,,4,616,116348.00,875000,1,0,1,,1,1,0,,0
29,54,200,,1826-01-01,1826,,2,561,200000.00,,0,0,0,0,,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,861,316,315,1993-01-01,1993,1,4,316,79228.00,10300000,1,0,1,,1,1,1,1,1
808,862,317,315,1993-01-01,1993,1,4,317,48666.00,5200000,1,0,1,,1,1,1,1,1
809,863,531,530,1993-04-01,1993,4,4,531,124993.00,3000000,1,1,1,,1,1,1,1,0
810,864,690,645,1993-05-01,1993,5,3,645,,0,0,0,0,1,1,1,1,0,0
811,865,565,560,1994-03-01,1994,3,3,5651,1124.00,30000,1,0,0,1,0,1,0,0,0
812,866,986,2,1994-10-01,1994,10,,980,487.00,15600,0,0,1,,0,1,0,1,0
813,867,663,666,1995-02-01,1995,2,3,666,340.00,0,0,0,0,1,1,1,1,0,0
814,868,710,365,1996-04-01,1996,4,3,365,18.00,0,0,0,0,1,1,1,1,0,0
815,869,316,317,1997-06-01,1997,6,3,317,4.52,31,0,0,0,1,1,1,1,0,0
816,870,317,316,1997-06-01,1997,6,3,316,4.52,120,0,0,0,1,1,1,1,0,0
817,871,710,200,1997-07-01,1997,7,3,720,1084.00,6700000,1,0,0,1,0,1,0,0,0
818,872,710,705,1998-07-01,1998,7,3,705,470.00,,0,0,0,1,1,1,1,0,0
819,873,369,359,1998-08-01,1998,8,3,359,1.00,0,0,0,0,1,1,1,1,0,0
820,874,359,369,1998-08-01,1998,8,3,369,1.00,0,0,0,0,1,1,1,1,0,0
821,875,365,366,1999-03-01,1999,3,3,366,30.00,0,0,0,0,1,1,1,1,0,0
822,876,366,365,1999-03-01,1999,3,3,365,30.00,0,0,0,0,1,1,1,1,0,0
823,877,1,850,1999-10-01,1999,10,3,860,14926.00,780000,1,1,0,,1,,1,0,0
824,878,710,235,1999-12-01,1999,12,3,721,21.45,447000,1,0,0,1,0,1,0,0,0
825,879,571,,1991-01-01,1991,,1,,5.00,0,0,0,0,1,,1,,0,0
826,880,651,625,2000-01-01,2000,1,1,625,20580.00,5000,0,0,0,1,1,1,1,0,0
827,881,860,1,2002-05-01,2002,5,,860,14926.00,950000,1,0,1,,,1,,1,0
828,882,475,471,2003-12-01,2003,12,3,471,,,0,0,0,1,1,1,1,0,0
829,883,471,475,2003-12-01,2003,12,3,475,,,0,0,0,1,1,1,1,0,0
830,884,679,670,2004-07-01,2004,7,3,670,40000.00,,0,1,0,1,1,1,1,0,0
831,885,348,345,2006-06-01,2006,6,4,348,13812.00,650000,1,0,1,,1,1,1,1,0
832,886,471,475,2008-08-01,2008,8,3,475,665.00,300000,0,1,0,1,1,1,1,0,0
833,887,710,365,2008-10-01,2008,10,3,365,174.00,0,0,0,0,1,1,1,1,0,0
834,888,710,702,2011-01-01,2011,1,3,702,1142.00,,0,0,0,1,1,1,1,0,0
835,889,626,625,2011-07-01,2011,7,,626,619745,8260000,1,1,1,,1,1,1,1,0
836,890,365,369,2014-03-01,2014,3,1,369,27000.00,2400000,1,1,0,1,1,1,1,0,0

In [24]:
dfTerrChange.to_csv('FinalData/territorialchange.csv', encoding='utf-8', index=False)

## Create 'TERRITORY' table

Task: transform Territories.csv into a table with attributes:

- TerritoryID
- TerritoryName

Note: Territory.csv was created by running Entities.pdf through [Tabula](https://tabula.technology/) and hand-correcting minor errors (for instance, some sets of rows were shifted to the left).

There were also some `\r`s introduced into rows where the TerritoryName was too long. I removed these by hand.

Some TerritoryIDs matched up to multiple TerritoryNames. Those Territory IDs were:

- 374
- 1152
- 3351
- 3377

I suspect this is a coding error, as the names these IDs corresponded to were in different (albiet relatively close) locations. For the sake of having a unique ID, and because only the ID is recorded in the TERRITORIALCHANGE table, I modified these by hand to be the same, with the second name in parentheses.

I used this code to investigate these irregularities:

```
weirdnames = dfTerritory['TerritoryName'].str.contains('\\r', regex=True)
sum(weirdnames)
dfTerritory['TerritoryID'].value_counts()
```

In [25]:
dfTerritory = pd.read_csv('SourceData/CorrelatesOfWar/Territories.csv')
dfTerritory

,Entity Number,Name,Begin Year,End Year,Ending Political Status
0,3,Alaska,1816.0,1867.0,Became colony of 365
1,3,Alaska,1867.0,1959.0,Became colony of 2
2,3,Alaska,1959.0,1993.0,Became part of 2
3,4,Hawaii,1898.0,1960.0,Became colony of 2
4,4,Hawaii,1960.0,1993.0,Became part of 2
5,5,Virgin Islands,1816.0,1917.0,Became colony of 390
6,5,Virgin Islands,1917.0,1993.0,Became colony of 2
7,6,Puerto Rico,1816.0,1821.0,Became part of 1070
8,6,Puerto Rico,1821.0,1898.0,Became colony of 230
9,6,Puerto Rico,1898.0,1952.0,Became colony of 2
10,7,Texas,1816.0,1836.0,Became part of 70
11,7,Texas,1845.0,1861.0,Became part of 2
12,7,Texas,1861.0,1865.0,Became part of 1002
13,7,Texas,1865.0,1993.0,Became part of 2
14,10,Greenland,1816.0,1953.0,Became colony of 390
15,10,Greenland,1941.0,1945.0,Occupied by 2
16,11,Faeroe Is.,1816.0,1947.0,Became colony of 390
17,11,Faeroe Is.,1940.0,1945.0,Occupied by 200
18,20,Canada,1816.0,1841.0,Became part of 1025
19,20,Canada,1841.0,1919.0,Became colony of 200
20,21,Newfoundland,1816.0,1920.0,Became colony of 200
21,21,Newfoundland,1933.0,1949.0,Became colony of 200
22,21,Newfoundland,1949.0,1993.0,Became part of 20
23,30,Bermuda,1816.0,1993.0,Became colony of 200
24,31,Bahamas,1816.0,1973.0,Became colony of 200
25,40,Cuba,1816.0,1821.0,Became part of 1070
26,40,Cuba,1816.0,1898.0,Became colony of 230
27,40,Cuba,1898.0,1902.0,Occupied by 2
28,40,Cuba,1906.0,1909.0,Occupied by 2
29,41,Haiti,1915.0,1934.0,Occupied by 2
...,...,...,...,...,...
2621,9900,Samoa,1889.0,1900.0,Became protectorate of 2
2622,9900,Samoa,1900.0,1993.0,Became part of 990
2623,9960,Australian Antarctic Territory,1933.0,1993.0,Claimed by 900
2624,9970,French and Southern Antarctic Territories (F.S...,1955.0,1993.0,Became possession of 220
2625,9971,Adelie Land,1840.0,1955.0,Claimed by 220
2626,9971,Adelie Land,1955.0,1993.0,Became part of 9970
2627,9972,St. Paul and New Amsterdam Is.,1843.0,1955.0,Became possession of 220
2628,9972,St. Paul and New Amsterdam Is.,1955.0,1993.0,Became part of 9970
2629,9973,Kerguelen Is.,1893.0,1955.0,Became possession of 220
2630,9973,Kerguelen Is.,1955.0,1993.0,Became part of 9970
2631,9974,Crozet Is.,1816.0,1955.0,Became possession of 220
2632,9974,Crozet Is.,1955.0,1993.0,Became part of 9970
2633,9980,British Antarctic Territory,1962.0,1993.0,Became possession of 200
2634,9981,Palmer Antarctic Territory,1908.0,1962.0,Claimed by 1163
2635,9981,Palmer Antarctic Territory,1962.0,1993.0,Became part of 9980
2636,9982,South Orkney Is.,1821.0,1833.0,Became possession of 200
2637,9982,South Orkney Is.,1833.0,1962.0,Became part of 1163
2638,9982,South Orkney Is.,1962.0,1993.0,Became part of 9980
2639,9983,South Shetland Is.,1819.0,1833.0,Became possession of 200
2640,9983,South Shetland Is.,1833.0,1962.0,Became part of 1163
2641,9983,South Shetland Is.,1962.0,1993.0,Became part of 9980
2642,9984,South Sandwich Is.,1816.0,1833.0,Became possession of 200
2643,9984,South Sandwich Is.,1833.0,1962.0,Became part of 1163
2644,9984,South Sandwich Is.,1962.0,1985.0,Became part of 9980
2645,9984,South Sandwich Is.,1985.0,1993.0,Became part of 1165
2646,9985,Argentine Antarctica,1942.0,1993.0,Claimed by 160
2647,9986,Chilean Antarctica,1940.0,1993.0,Claimed by 155
2648,9987,Neu Schwabenland,1939.0,1945.0,Claimed by 255
2649,9991,Peter I I.,1931.0,1993.0,Became possession of 385
2650,9993,Bouvet I.,1927.0,1993.0,Became possession of 385

In [26]:
dfTerritory.drop(columns=['Begin Year', 'End Year', 'Ending Political Status'], inplace=True)
dfTerritory.rename(columns={'Entity Number':'TerritoryID', 'Name':'TerritoryName'}, inplace=True)
dfTerritory.drop_duplicates(inplace=True)
dfTerritory

      TerritoryID                                      TerritoryName
0               3                                             Alaska
3               4                                             Hawaii
5               5                                     Virgin Islands
7               6                                        Puerto Rico
10              7                                              Texas
14             10                                          Greenland
16             11                                         Faeroe Is.
18             20                                             Canada
20             21                                       Newfoundland
23             30                                            Bermuda
24             31                                            Bahamas
25             40                                               Cuba
29             41                                              Haiti
30             42                 Dominican Republic (Santo Domingo)
36             50                             West Indies Federation
56             51                                            Jamaica
58             52                                Trinidad and Tobago
60             53                                           Barbados
63             54                                           Dominica
68             55                                            Grenada
73             56                                          St. Lucia
77             57                     St. Vincent and the Grenadines
81             58                                  Antigua & Barbuda
86             59                                         Montserrat
91             60                                    St. Kitts-Nevis
96             65                                         Guadeloupe
98             66                                         Martinique
99             68                               Netherlands Antilles
102            70                                             Mexico
105            80                          Belize (British Honduras)
...           ...                                                ...
2591         9610                                      Clipperton I.
2595         9620                                       Pitcairn Is.
2596         9621                                           Ducie I.
2598         9720                                            Wake I.
2600         9730                                         Midway Is.
2601         9740                                        Palmyra Is.
2605         9750                                        Johnston I.
2606         9760                                       Kingman Reef
2607         9770                                         Howland I.
2608         9771                                           Baker I.
2609         9772                                          Jarvis I.
2610         9810                                       Caroline Is.
2616         9820                                        Mariana Is.
2621         9900                                              Samoa
2623         9960                     Australian Antarctic Territory
2624         9970  French and Southern Antarctic Territories (F.S...
2625         9971                                        Adelie Land
2627         9972                     St. Paul and New Amsterdam Is.
2629         9973                                      Kerguelen Is.
2631         9974                                         Crozet Is.
2633         9980                        British Antarctic Territory
2634         9981                         Palmer Antarctic Territory
2636         9982                                   South Orkney Is.
2639         9983                                 South Shetland Is.
2642         9984                                 South Sandwich Is.
2646         9985                               Argentine Antarctica
2647         9986                                 Chilean Antarctica
2648         9987                                   Neu Schwabenland
2649         9991                                         Peter I I.
2650         9993                                          Bouvet I.

[1146 rows x 2 columns]

In [27]:
TerritoryNameMaxLength = int(dfTerritory['TerritoryName'].str.encode(encoding='utf-8').str.len().max())
print(TerritoryNameMaxLength)

68

In [28]:
dfTerritory['TerritoryName'] = dfTerritory['TerritoryName'].str.replace('\&', 'and')
dfTerritory

      TerritoryID                                      TerritoryName
0               3                                             Alaska
3               4                                             Hawaii
5               5                                     Virgin Islands
7               6                                        Puerto Rico
10              7                                              Texas
14             10                                          Greenland
16             11                                         Faeroe Is.
18             20                                             Canada
20             21                                       Newfoundland
23             30                                            Bermuda
24             31                                            Bahamas
25             40                                               Cuba
29             41                                              Haiti
30             42                 Dominican Republic (Santo Domingo)
36             50                             West Indies Federation
56             51                                            Jamaica
58             52                                Trinidad and Tobago
60             53                                           Barbados
63             54                                           Dominica
68             55                                            Grenada
73             56                                          St. Lucia
77             57                     St. Vincent and the Grenadines
81             58                                Antigua and Barbuda
86             59                                         Montserrat
91             60                                    St. Kitts-Nevis
96             65                                         Guadeloupe
98             66                                         Martinique
99             68                               Netherlands Antilles
102            70                                             Mexico
105            80                          Belize (British Honduras)
...           ...                                                ...
2591         9610                                      Clipperton I.
2595         9620                                       Pitcairn Is.
2596         9621                                           Ducie I.
2598         9720                                            Wake I.
2600         9730                                         Midway Is.
2601         9740                                        Palmyra Is.
2605         9750                                        Johnston I.
2606         9760                                       Kingman Reef
2607         9770                                         Howland I.
2608         9771                                           Baker I.
2609         9772                                          Jarvis I.
2610         9810                                       Caroline Is.
2616         9820                                        Mariana Is.
2621         9900                                              Samoa
2623         9960                     Australian Antarctic Territory
2624         9970  French and Southern Antarctic Territories (F.S...
2625         9971                                        Adelie Land
2627         9972                     St. Paul and New Amsterdam Is.
2629         9973                                      Kerguelen Is.
2631         9974                                         Crozet Is.
2633         9980                        British Antarctic Territory
2634         9981                         Palmer Antarctic Territory
2636         9982                                   South Orkney Is.
2639         9983                                 South Shetland Is.
2642         9984                                 South Sandwich Is.
2646         9985                               Argentine Antarctica
2647         9986                                 Chilean Antarctica
2648         9987                                   Neu Schwabenland
2649         9991                                         Peter I I.
2650         9993                                          Bouvet I.

[1146 rows x 2 columns]

In [29]:
dfTerritory.to_csv('FinalData/territory.csv', encoding='utf-8', index=False)

## Create 'WAR' table

Task: transform the following csv files into one table:

- Inter-StateWarData_v4.0.csv
- Intra-StateWarData_v4.1.csv (note: had to be resaved in UTF-8 encoding)
- Non-StateWarData_v4.0.csv (note: had to be resaved in UTF-8 encoding)
- Extra-StateWarData_v4.0.csv (note: had to be resaved in UTF-8 encoding)
- CowWarList.csv (note: generated from pdf using Tabula, with `\r`s removed by hand)

with the following attributes:

- WarID
- WarShortName
- WarLongName (from CowWarList.csv)
- WarType
- IsIntervention (only relevant for Extra-State Wars)
- IsInternational (only relevant for Intra-State Wars)

In [30]:
dfInterStateWar = pd.read_csv('SourceData/CorrelatesOfWar/Inter-StateWarData_v4.0.csv')
dfInterStateWar

,WarNum,WarName,WarType,ccode,StateName,Side,StartMonth1,StartDay1,StartYear1,EndMonth1,...,EndMonth2,EndDay2,EndYear2,TransFrom,WhereFought,Initiator,Outcome,TransTo,BatDeath,Version
0,1,Franco-Spanish War,1,230,Spain,2,4,7,1823,11,...,-8,-8,-8,503,2,2,2,-8,600,4
1,1,Franco-Spanish War,1,220,France,1,4,7,1823,11,...,-8,-8,-8,503,2,1,1,-8,400,4
2,4,First Russo-Turkish,1,640,Ottoman Empire,2,4,26,1828,9,...,-8,-8,-8,506,11,2,2,-8,80000,4
3,4,First Russo-Turkish,1,365,Russia,1,4,26,1828,9,...,-8,-8,-8,506,11,1,1,-8,50000,4
4,7,Mexican-American,1,70,Mexico,2,4,25,1846,9,...,-8,-8,-8,-8,1,2,2,-8,6000,4
5,7,Mexican-American,1,2,United States of America,1,4,25,1846,9,...,-8,-8,-8,-8,1,1,1,-8,13283,4
6,10,Austro-Sardinian,1,337,Tuscany,2,3,29,1848,8,...,-8,-8,-8,-8,2,2,2,-8,100,4
7,10,Austro-Sardinian,1,325,Italy,2,3,24,1848,8,...,3,30,1849,551,2,1,2,-8,3400,4
8,10,Austro-Sardinian,1,300,Austria,1,3,24,1848,8,...,3,30,1849,551,2,2,1,-8,3927,4
9,10,Austro-Sardinian,1,332,Modena,2,4,9,1848,8,...,-8,-8,-8,-8,2,2,2,-8,100,4
10,13,First Schleswig-Holstein,1,255,Prussia,1,4,10,1848,8,...,7,10,1849,-8,2,1,1,-8,2500,4
11,13,First Schleswig-Holstein,1,390,Denmark,2,4,10,1848,8,...,7,10,1849,-8,2,2,2,-8,3500,4
12,16,Roman Republic,1,220,France,1,4,30,1849,7,...,-8,-8,-8,-8,2,1,1,-8,1000,4
13,16,Roman Republic,1,329,Two Sicilies,1,5,8,1849,7,...,-8,-8,-8,-8,2,2,1,-8,100,4
14,16,Roman Republic,1,300,Austria,1,5,8,1849,7,...,-8,-8,-8,-8,2,2,1,-8,100,4
15,16,Roman Republic,1,327,Papal States,2,4,30,1849,7,...,-8,-8,-8,-8,2,2,2,-8,1400,4
16,19,La Plata,1,160,Argentina,2,7,19,1851,2,...,-8,-8,-8,327,1,2,2,-8,800,4
17,19,La Plata,1,140,Brazil,1,7,19,1851,2,...,-8,-8,-8,327,1,1,1,-8,500,4
18,22,Crimean,1,640,Turkey,1,10,23,1853,3,...,-8,-8,-8,-8,2,1,1,-8,45000,4
19,22,Crimean,1,325,Italy,1,1,10,1855,3,...,-8,-8,-8,-8,2,2,1,-8,2200,4
20,22,Crimean,1,220,France,1,3,31,1854,3,...,-8,-8,-8,-8,2,2,1,-8,95000,4
21,22,Crimean,1,200,United Kingdom,1,3,31,1854,3,...,-8,-8,-8,-8,2,2,1,-8,22000,4
22,22,Crimean,1,365,Russia,2,10,23,1853,3,...,-8,-8,-8,-8,2,2,2,-8,100000,4
23,25,Anglo-Persian,1,200,United Kingdom,1,10,25,1856,4,...,-8,-8,-8,-8,6,1,1,-8,500,4
24,25,Anglo-Persian,1,630,Iran,2,10,25,1856,4,...,-8,-8,-8,-8,6,2,2,-8,1500,4
25,28,Italian Unification,1,325,Sardinia/Piedmont,1,4,29,1859,7,...,-8,-8,-8,-8,2,2,1,-8,2500,4
26,28,Italian Unification,1,300,Austria,2,4,29,1859,7,...,-8,-8,-8,-8,2,1,2,-8,12500,4
27,28,Italian Unification,1,220,France,1,5,3,1859,7,...,-8,-8,-8,-8,2,2,1,-8,7500,4
28,31,First Spanish-Moroccan,1,600,Morocco,2,10,22,1859,3,...,-8,-8,-8,-8,6,2,2,-8,6000,4
29,31,First Spanish-Moroccan,1,230,Spain,1,10,22,1859,3,...,-8,-8,-8,-8,6,1,1,-8,4000,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,211,Gulf War,1,652,Syria,1,1,16,1991,4,...,-8,-8,-8,-8,6,2,1,-8,0,4
308,215,Bosnian Independence,1,344,Croatia,1,4,7,1992,5,...,-8,-8,-8,-8,2,2,4,877,500,4
309,215,Bosnian Independence,1,346,Bosnia,1,4,7,1992,5,...,-8,-8,-8,-8,2,2,4,877,2850,4
310,215,Bosnian Independence,1,345,Yugoslavia,2,4,7,1992,5,...,-8,-8,-8,-8,2,1,4,877,1890,4
311,216,Azeri-Armenian,1,373,Azerbaijan,2,2,6,1993,5,...,-8,-8,-8,872,2,2,2,-8,8500,4
312,216,Azeri-Armenian,1,371,Armenia,1,2,6,1993,5,...,-8,-8,-8,872,2,1,1,-8,5500,4
313,217,Cenepa Valley,1,130,Ecuador,2,1,9,1995,2,...,-8,-8,-8,-8,1,1,3,-8,550,4
314,217,Cenepa Valley,1,135,Peru,1,1,9,1995,2,...,-8,-8,-8,-8,1,2,3,-8,950,4
315,219,Badme Border,1,531,Eritrea,1,5,6,1998,12,...,-8,-8,-8,-8,4,1,6,-8,50000,4
316,219,Badme Border,1,530,Ethiopia,2,5,6,1998,12,...,-8,-8,-8,-8,4,2,6,-8,70000,4
317,221,War for Kosovo,1,640,Turkey,1,3,24,1999,6,...,-8,-8,-8,900,2,1,1,-8,0,4
318,221,War for Kosovo,1,325,Italy,1,3,24,1999,6,...,-8,-8,-8,900,2,1,1,-8,0,4
319,221,War for Kosovo,1,200,United Kingdom,1,3,24,1999,6,...,-8,-8,-8,900,2,1,1,-8,0,4
320,221,War for Kosovo,1,2,United States of America,1,3,24,1999,6,...,-8,-8,-8,900,2,1,1,-8,2,4
321,221,War for Kosovo,1,210,Netherlands,1,3,24,1999,6,...,-8,-8,-8,900,2,1,1,-8,0,4
322,221,War for Kosovo,1,220,France,1,3,24,1999,6,...,-8,-8,-8,900,2,1,1,-8,0,4
323,221,War for Kosovo,1,345,Yugoslavia,2,3,24,1999,6,...,-8,-8,-8,900,2,2,2,-8,5000,4
324,221,War for Kosovo,1,255,Germany,1,3,24,1999,6,...,-8,-8,-8,900,2,1,1,-8,0,4
325,223,Kargil War,1,750,India,1,5,8,1999,7,...,-8,-8,-8,-8,7,2,1,-8,474,4
326,223,Kargil War,1,770,Pakistan,2,5,8,1999,7,...,-8,-8,-8,-8,7,1,2,-8,698,4
327,225,Invasion of Afghanistan,1,20,Canada,1,11,15,2001,12,...,-8,-8,-8,851,7,2,4,481,0,4
328,225,Invasion of Afghanistan,1,220,France,1,10,21,2001,12,...,-8,-8,-8,851,7,2,4,481,0,4
329,225,Invasion of Afghanistan,1,200,United Kingdom,1,10,7,2001,12,...,-8,-8,-8,851,7,1,4,481,0,4
330,225,Invasion of Afghanistan,1,2,United States of America,1,10,7,2001,12,...,-8,-8,-8,851,7,1,4,481,2,4
331,225,Invasion of Afghanistan,1,900,Australia,1,10,17,2001,12,...,-8,-8,-8,851,7,2,4,481,0,4
332,225,Invasion of Afghanistan,1,700,Afghanistan,2,10,7,2001,12,...,-8,-8,-8,851,7,2,4,481,4000,4
333,227,Invasion of Iraq,1,900,Australia,1,3,19,2003,5,...,-8,-8,-8,-8,6,1,4,482,0,4
334,227,Invasion of Iraq,1,200,United Kingdom,1,3,19,2003,5,...,-8,-8,-8,-8,6,1,4,482,33,4
335,227,Invasion of Iraq,1,2,United States of America,1,3,19,2003,5,...,-8,-8,-8,-8,6,1,4,482,140,4
336,227,Invasion of Iraq,1,645,Iraq,2,3,19,2003,5,...,-8,-8,-8,-8,6,2,4,482,7000,4

In [31]:
dfInterWar = dfInterStateWar[['WarNum', 'WarName', 'WarType']]
dfInterWar.rename(columns={'WarNum':'WarID', 'WarName':'WarShortName'}, inplace=True)
dfInterWar.drop_duplicates(inplace=True)
dfInterWar

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     WarID                WarShortName  WarType
0        1          Franco-Spanish War        1
2        4         First Russo-Turkish        1
4        7            Mexican-American        1
6       10            Austro-Sardinian        1
10      13    First Schleswig-Holstein        1
12      16              Roman Republic        1
16      19                    La Plata        1
18      22                     Crimean        1
23      25               Anglo-Persian        1
25      28         Italian Unification        1
28      31      First Spanish-Moroccan        1
30      34               Italian-Roman        1
32      37                  Neapolitan        1
34      40              Franco-Mexican        1
36      43        Ecuadorian-Colombian        1
38      46   Second Schleswig-Holstein        1
41      49                       Lopez        1
44      52                   Naval War        1
47      55                 Seven Weeks        1
58      58             Franco-Prussian        1
63      60      First Central American        1
65      61        Second Russo-Turkish        1
67      64          War of the Pacific        1
70      65           Conquest of Egypt        1
72      67                 Sino-French        1
74      70     Second Central American        1
76      73         First Sino-Japanese        1
78      76               Greco-Turkish        1
80      79            Spanish-American        1
82      82             Boxer Rebellion        1
..     ...                         ...      ...
232    160                       Assam        1
234    163        Vietnam War, Phase 2        1
242    166              Second Kashmir        1
244    169                 Six Day War        1
248    170     Second Laotian, Phase 2        1
252    172            War of Attrition        1
254    175                Football War        1
256    176         Communist Coalition        1
260    178                  Bangladesh        1
262    181              Yom Kippur War        1
268    184               Turco-Cypriot        1
270    186             War over Angola        1
274    187  Second Ogaden War, Phase 2        1
277    189        Vietnamese-Cambodian        1
279    190          Ugandian-Tanzanian        1
282    193    Sino-Vietnamese Punitive        1
284    199                   Iran-Iraq        1
286    202            Falkland Islands        1
288    205            War over Lebanon        1
290    207   War over the Aouzou Strip        1
292    208  Sino-Vietnamese Border War        1
294    211                    Gulf War        1
308    215        Bosnian Independence        1
311    216              Azeri-Armenian        1
313    217               Cenepa Valley        1
315    219                Badme Border        1
317    221              War for Kosovo        1
325    223                  Kargil War        1
327    225     Invasion of Afghanistan        1
333    227            Invasion of Iraq        1

[95 rows x 3 columns]

In [32]:
dfIntraStateWar = pd.read_csv('SourceData/CorrelatesOfWar/Intra-StateWarData_v4.1.csv')
dfIntraStateWar

,WarNum,WarName,WarType,CcodeA,SideA,CcodeB,SideB,Intnl,StartMonth1,StartDay1,...,EndDay2,EndYear2,TransFrom,WhereFought,Initiator,Outcome,TransTo,SideADeaths,SideBDeaths,Version
0,500,First Caucasus,5,365.0,Russia,-8.0,"Georgians, Dhagestania, Chechens",0,6,10,...,-8,-8,-8.0,2,Chechens,1,-8,5000,6000,4.1
1,501,Sidon-Damascus,6,-8.0,Sidon,-8.0,Damascus & Aleppo,0,6,-9,...,-8,-8,-8.0,6,Sidon,2,-8,-9,-9,4.1
2,502,First Two Sicilies,4,300.0,Austria,-8.0,-8,1,3,-9,...,-8,-8,-8.0,2,Liberals,1,-8,-9,-8,4.1
3,502,First Two Sicilies,4,329.0,Two Sicilies,-8.0,Liberals,1,7,2,...,-8,-8,-8.0,2,Liberals,1,-8,-9,-9,4.1
4,503,Spanish Royalists,4,230.0,Spain,-8.0,Royalists,0,12,1,...,-8,-8,-8.0,2,Royalists,4,1,-9,-9,4.1
5,505,Sardinian Revolt,4,300.0,Austria,-8.0,-8,1,3,10,...,-8,-8,-8.0,2,Carbonari,1,-8,-9,-8,4.1
6,505,Sardinian Revolt,4,325.0,Sardinia,-8.0,Carbonari,1,3,10,...,-8,-8,-8.0,2,Carbonari,1,-8,-9,-9,4.1
7,506,Greek Independence,5,640.0,Ottoman Empire,-8.0,Greeks,1,3,25,...,-8,-8,-8.0,2,Greeks,4,4,6000,3000,4.1
8,506,Greek Independence,5,-8.0,-8,200.0,United Kingdom,1,10,20,...,-8,-8,-8.0,2,Greeks,4,4,-8,80,4.1
9,506,Greek Independence,5,-8.0,-8,220.0,France,1,10,20,...,-8,-8,-8.0,2,Greeks,4,4,-8,40,4.1
10,506,Greek Independence,5,-8.0,-8,365.0,Russia,1,10,20,...,-8,-8,-8.0,2,Greeks,4,4,-8,60,4.1
11,507,Egypt-Mehdi,6,-8.0,Egypt,-8.0,Mehdi army,0,3,20,...,-8,-8,-8.0,6,Mehdi army,1,-8,-9,-9,4.1
12,508,Janissari Revolt,4,640.0,Ottoman Empire,-8.0,Janissaries,0,6,14,...,-8,-8,-8.0,6,Janissaries,1,-8,300,6000,4.1
13,510,Miguelite War,4,-8.0,-8,200.0,United Kingdom,1,7,1,...,-8,-8,-8.0,2,Constitutionalists,2,-8,-8,100,4.1
14,510,Miguelite War,4,235.0,Portugal,-8.0,Constitutionalists,1,7,11,...,-8,-8,-8.0,2,Constitutionalists,2,-8,12000,8000,4.1
15,511,First Murid War,5,365.0,Russia,-8.0,Ghazi Muhammad,0,-9,-9,...,-8,-8,-8.0,2,Ghazi Muhammad,1,-8,1000,500,4.1
16,512,First Albanian Revolt,5,640.0,Ottoman Empire,-8.0,Albanians,0,2,-9,...,-8,-8,-8.0,2,Albanians,1,-8,5000,"10,000",4.1
17,513,First French Insurrection,4,220.0,France,-8.0,Liberals,0,7,25,...,-8,-8,-8.0,2,Liberals,2,-8,400,1800,4.1
18,515,Belgian Independence,5,210.0,Netherlands,-8.0,Belgians,0,8,25,...,-8,-8,-8.0,2,Belgians,2,-8,500,600,4.1
19,516,Egyptian Taka Expedition,6,-8.0,Egypt,-8.0,Hadendowa,0,-9,-9,...,-8,-8,-8.0,6,Egypt,2,-8,"1,500",-9,4.1
20,517,First Polish,5,365.0,Russia,-8.0,Poles,0,2,7,...,-8,-8,-8.0,2,Poles,1,-8,15000,20000,4.1
21,518,First Syrian,5,640.0,Ottoman Empire,-8.0,Egyptians & Bashir,0,10,1,...,-8,-8,-8.0,6,Egyptians,2,-8,8000,4000,4.1
22,520,First Mexican,4,70.0,Mexico,-8.0,Liberals,0,1,2,...,-8,-8,-8.0,1,Liberals,2,-8,-9,-9,4.1
23,521,Egypt- Palestinian Anti-Conscription Revolt,6,-8.0,Palestinians,-8.0,Egypt,0,4,19,...,-8,-8,-8.0,6,Palestinians,2,-8,1500,500,4.1
24,522,First Carlist War,4,235.0,Portugal,-8.0,-8,1,10,15,...,-8,-8,-8.0,2,Carlists,1,-8,50,-8,4.1
25,522,First Carlist War,4,230.0,Spain,-8.0,Carlists,1,7,15,...,-8,-8,-8.0,2,Carlists,1,-8,65000,60000,4.1
26,522,First Carlist War,4,220.0,France,-8.0,-8,1,10,31,...,-8,-8,-8.0,2,Carlists,1,-8,7700,-8,4.1
27,522,First Carlist War,4,200.0,United Kingdom,-8.0,-8,1,7,10,...,-8,-8,-8.0,2,Carlists,1,-8,2500,-8,4.1
28,523,Second Murid,5,365.0,Russia,-8.0,Shamil,0,9,26,...,-8,-8,-8.0,2,Shamil,7,-8,-9,-9,4.1
29,525,Cabanos Revolt,5,140.0,Brazil,-8.0,Cabanos,0,1,6,...,-8,-8,-8.0,1,Cabanos,1,-8,-9,-9,4.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,910,Moluccas Sectarian,7,-8.0,Laskar Jihad,-8.0,FKM & RMS,0,1,-9,...,-8,-8,-8.0,7,Laskar Jihad,7,-8,-9,1800,4.1
413,911,First Nigeria Christian-Muslim,7,-8.0,Christian Tarok,-8.0,Muslim Fulani,0,5,-9,...,-8,-8,-8.0,4,Muslim Fulani,1,-8,-9,-9,4.1
414,912,Second Aceh,5,850.0,Indonesia,-8.0,GAM,0,5,3,...,-8,-8,-8.0,7,GAM,3,-8,330,3500,4.1
415,913,Oromo Liberation,5,530.0,Ethiopia,-8.0,Oromo Lib. Front,0,5,30,...,-8,-8,-8.0,4,Oromo Lib. Front,1,-8,200,800,4.1
416,915,Second Chechen,5,365.0,Russia,-8.0,Chechnya,0,8,7,...,-8,-8,-8.0,2,Cechnya,1,-8,5000,15000,4.1
417,916,Second Philippine-Moro,5,840.0,Philippines,-8.0,MILF,0,4,23,...,-8,-8,-8.0,7,Phillippines,3,-8,-9,-9,4.1
418,917,Guinean,4,438.0,Guinea,-8.0,RDFG,0,9,11,...,-8,-8,-8.0,4,RDFG,6,-8,-9,-9,4.1
419,918,Third Burundi,4,516.0,Burundi,-8.0,FNL & FROLINA,0,3,21,...,-8,-8,-8.0,4,FNL,3,-8,150,3000,4.1
420,920,Fourth Rwanda,4,517.0,Rwanda,-8.0,Army for the Liberation of Rwanda,0,5,21,...,-8,-8,-8.0,4,ALIR,1,-8,-9,1800,4.1
421,921,First Nepal Maoist Insurgency,4,790.0,Nepal,-8.0,CPN,0,11,23,...,-8,-8,-8.0,7,CPN,6,-8,680,3100,4.1
422,922,Fourth Liberian,4,450.0,Liberia,-8.0,LURD & MODEL,0,2,-9,...,-8,-8,-8.0,4,LURD & MODEL,2,-8,-9,-9,4.1
423,923,Ethiopian Anyuaa-Nuer,7,NaN,Anyuaa,-8.0,Nuer,0,8,-9,...,-8,-8,-8.0,4,Nuer,7,-8,-9,-9,4.1
424,925,Cote d'Ivoire Military,4,220.0,France,-8.0,-8,1,12,11,...,-8,-8,-8.0,4,"MPCI, MPIGO, MJP",2,-8,9,-8,4.1
425,925,Cote d'Ivoire Military,4,437.0,Cote d'Ivoire,-8.0,"MPCI, MPIGO, MJP",1,9,19,...,-8,-8,-8.0,4,"MPCI, MPIGO, MJP",2,-8,200,2500,4.1
426,926,Third Philippine-Moro,5,840.0,Phillippines,-8.0,MILF & ASG,0,2,11,...,-8,-8,-8.0,7,Phillippines,7,-8,410,590,4.1
427,927,Darfur,5,625.0,Sudan,-8.0,SLA & JEM,0,2,26,...,-8,-8,-8.0,6,SLA,6,-8,-9,-9,4.1
428,930,Third Aceh,5,850.0,Indonesia,-8.0,GAM,0,5,18,...,-8,-8,-8.0,7,Indonesia,1,-8,150,1400,4.1
429,931,Second Nepal Maoists,4,790.0,Nepal,-8.0,CPN,0,8,27,...,-8,-8,-8.0,7,CPN,3,-8,1260,5770,4.1
430,932,Waziristan,5,2.0,United States,-8.0,-8,1,2,20,...,-8,-8,-8.0,7,US & Pakistan,2,-8,-9,-8,4.1
431,932,Waziristan,5,770.0,Pakistan,-8.0,Waziri tribes,1,2,20,...,-8,-8,-8.0,7,US & Pakistan,2,-8,1200,1800,4.1
432,933,Second Nigeria Christian-Muslim,7,NaN,Christian Tarok,-8.0,Muslim Fulani,0,3,-9,...,-8,-8,-8.0,4,Muslim Fulani,6,-8,-9,-9,4.1
433,935,First Yemeni Cleric,4,679.0,Yemen,-8.0,Zaidi Muslims,0,6,21,...,-8,-8,-8.0,6,Zaidi Muslims,1,-8,900,1350,4.1
434,936,Philippine Joint Offensive,5,840.0,Phillippines,-8.0,MILF & NPA,0,1,17,...,-8,-8,-8.0,7,Phillippines,7,-8,723,2100,4.1
435,937,Fifth Chad,4,483.0,Chad,-8.0,FUDC,0,12,18,...,-8,-8,-8.0,4,FUDC,1,-8,100,1000,4.1
436,938,Third Somalia,4,2.0,United States,-8.0,-8,1,1,7,...,-8,-8,-8.0,4,SCIC,1,-8,-9,-8,4.1
437,938,Third Somalia,4,520.0,Somalia,-8.0,SCIC,1,3,6,...,-8,-8,-8.0,4,SCIC,1,-8,-9,-9,4.1
438,938,Third Somalia,4,530.0,Ethiopia,-8.0,-8,1,10,9,...,-8,-8,-8.0,4,SCIC,1,-8,-9,-8,4.1
439,938,Third Somalia,4,-8.0,-8,531.0,Eritrea,1,10,19,...,-8,-8,-8.0,4,SCIC,1,-8,-8,-9,4.1
440,940,Second Sri Lanka Tamil,5,780.0,Sri Lanka,-8.0,LTTE,0,10,11,...,-8,-8,-8.0,7,Sri Lanka,5,-8,-9,-9,4.1
441,941,Second Yemeni Cleric,4,679.0,Yemen,-8.0,Zaidi Muslims,0,1,29,...,-8,-8,-8.0,6,Zaidi Muslims,6,-8,1500,2000,4.1

In [33]:
dfIntraWar = dfIntraStateWar[['WarNum', 'WarName', 'WarType', 'Intnl']]
dfIntraWar.rename(columns={'WarNum':'WarID', 'WarName':'WarShortName', 'Intnl':'IsInternational'}, inplace=True)
dfIntraWar.drop_duplicates(inplace=True)
dfIntraWar

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,WarID,WarShortName,WarType,IsInternational
0,500,First Caucasus,5,0
1,501,Sidon-Damascus,6,0
2,502,First Two Sicilies,4,1
4,503,Spanish Royalists,4,0
5,505,Sardinian Revolt,4,1
7,506,Greek Independence,5,1
11,507,Egypt-Mehdi,6,0
12,508,Janissari Revolt,4,0
13,510,Miguelite War,4,1
15,511,First Murid War,5,0
16,512,First Albanian Revolt,5,0
17,513,First French Insurrection,4,0
18,515,Belgian Independence,5,0
19,516,Egyptian Taka Expedition,6,0
20,517,First Polish,5,0
21,518,First Syrian,5,0
22,520,First Mexican,4,0
23,521,Egypt- Palestinian Anti-Conscription Revolt,6,0
24,522,First Carlist War,4,1
28,523,Second Murid,5,0
29,525,Cabanos Revolt,5,0
30,526,Farroupilha War,5,0
31,527,Texan,5,0
32,528,First Bosnian,5,0
33,530,Third Murid,5,0
34,531,Sabinada Rebellion,5,0
35,532,Druze Rebellion,6,0
36,533,"Second Syrian, Phase 1",5,0
37,535,Lebanon Insurgency,6,0
38,536,First Colombian,4,0
...,...,...,...,...
397,902,Guinea-Bissau Military,4,1
400,905,Africa's World War,4,1
409,906,Fourth Chad (Togoimi Revolt),4,0
410,907,Third Angolan,4,0
411,908,Second Congo (Brazzaville),4,0
412,910,Moluccas Sectarian,7,0
413,911,First Nigeria Christian-Muslim,7,0
414,912,Second Aceh,5,0
415,913,Oromo Liberation,5,0
416,915,Second Chechen,5,0
417,916,Second Philippine-Moro,5,0
418,917,Guinean,4,0
419,918,Third Burundi,4,0
420,920,Fourth Rwanda,4,0
421,921,First Nepal Maoist Insurgency,4,0
422,922,Fourth Liberian,4,0
423,923,Ethiopian Anyuaa-Nuer,7,0
424,925,Cote d'Ivoire Military,4,1
426,926,Third Philippine-Moro,5,0
427,927,Darfur,5,0
428,930,Third Aceh,5,0
429,931,Second Nepal Maoists,4,0
430,932,Waziristan,5,1
432,933,Second Nigeria Christian-Muslim,7,0
433,935,First Yemeni Cleric,4,0
434,936,Philippine Joint Offensive,5,0
435,937,Fifth Chad,4,0
436,938,Third Somalia,4,1
440,940,Second Sri Lanka Tamil,5,0
441,941,Second Yemeni Cleric,4,0

In [34]:
dfNonStateWar = pd.read_csv('SourceData/CorrelatesOfWar/Non-StateWarData_v4.0.csv')
dfNonStateWar

,WarNum,WarName,WarType,WhereFought,SideA1,SideA2,SideB1,SideB2,SideB3,SideB4,...,EndMonth,EndDay,Initiator,TransFrom,TransTo,Outcome,SideADeaths,SideBDeaths,TotalCombatDeaths,Version
0,1500,First Maori Tribal War,8,9,Te Rauparaha's Ngati Toa,-8,Taranaki,Ngai Tahu,Waikato,Ngati Ira,...,-9,-9,A,-8,-8,1,1500,6000,7500,4
1,1501,Shaka Zulu-Bantu War,8,4,Shaka Zulu,-8,Bantu,-8,-8,-8,...,9,24,A,-8,-8,1,20000,40000,60000,4
2,1502,Burma-Assam War,8,7,Burma,-8,Assam,-8,-8,-8,...,-9,-9,A,-8,-8,1,-9,-9,-9,4
3,1503,Buenos Aires War,8,1,Buenos Aires,-8,Provinces,-8,-8,-8,...,2,23,B,-8,-8,2,-9,-9,-9,4
4,1505,Second Maori Tribal War,8,9,Hongi Hika's Nga Phuhi,-8,Ngati Paoa,Ngati Maru,Waikato River Maori,Te Arawa,...,-9,-9,A,-8,-8,1,500,2000,2500,4
5,1506,Siam-Kedah War,8,7,Thailand,-8,Kedah,-8,-8,-8,...,12,-9,A,-8,-8,1,-9,-9,-9,4
6,1508,China-Kashgaria War,8,7,China,-8,Muslim rebels,-8,-8,-8,...,-9,-9,A,-8,-8,1,-9,-9,-9,4
7,1509,Mexico-Yaqui Indian War,8,1,Mexico,-8,Yaqui Indians,-8,-8,-8,...,4,13,A,-8,-8,3,-9,-9,3000,4
8,1510,Central American Confederation War,8,1,Conservative Confederation,-8,Liberals,-8,-8,-8,...,4,12,B,-8,-8,2,2000,1300,3300,4
9,1511,Viang Chan- Siamese War,8,7,Viang Chan,-8,Siam,-8,-8,-8,...,5,15,A,-8,-8,2,24000,7000,31000,4
10,1512,Peru-Gran Colombia War,8,1,Peru,-8,Gran Colombia,-8,-8,-8,...,2,28,A,-8,-8,2,3000,1000,4000,4
11,1513,Argentine War for Unity,8,1,Unitarians,-8,Provinces,-8,-8,-8,...,11,30,A,-8,-8,2,-9,-9,-9,4
12,1514,Sayyid Said War,8,4,Sayyid Said,-8,Mombasa,-8,-8,-8,...,5,9,A,-8,-8,1,-9,-9,1000,4
13,1515,China-Kokand War,8,7,China,-8,Kokand,-8,-8,-8,...,11,-9,A,-8,-8,1,-9,-9,-9,4
14,1516,Siam-Cambodia-Vietnam War,8,7,Thailand,-8,Cambodia,Vietnam,-8,-8,...,-9,-9,A,-8,-8,2,-9,-9,-9,4
15,1518,Argentina-Ranqueles Indian War,8,1,Argentina,-8,Ranqueles Indians,-8,-8,-8,...,3,25,A,-8,-8,1,-9,6000,-9,4
16,1520,Bolivia Conquest of Peru,8,1,Bolivia,-8,Peru,-8,-8,-8,...,2,7,A,-8,-8,1,-9,-9,-9,4
17,1521,Boer-Matabele War,8,4,Boer Trekkers,-8,Matabele,-8,-8,-8,...,11,12,B,-8,-8,1,350,3000,3350,4
18,1523,Dissolution of the Bolivia-Peru Confederation,8,1,Chile,Argentina,Peru-Bolivia Confederation,-8,-8,-8,...,1,20,A,-8,-8,1,1400,1500,2900,4
19,1524,Persian Siege of Heart,8,7,Persia,-8,Herat,-8,-8,-8,...,9,9,A,-8,-8,2,1700,-9,-9,4
20,1525,Boer-Zulu War,8,4,Boer Trekkers,-8,Zulu,-8,-8,-8,...,12,20,B,-8,-8,1,700,3000,3700,4
21,1527,Anti-Rosas War,8,1,Anti-Rosas Allies,-8,Rosas Federalist Army,-8,-8,-8,...,12,31,A,-8,538,4,2500,500,3000,4
22,1528,Dissolution of the Central American Confedera...,8,1,Conservatives,-8,Liberals,-8,-8,-8,...,3,21,A,-8,-8,1,1700,2000,3700,4
23,1530,Dogra-Tibet War,8,7,Jammu,-8,Tibet,-8,-8,-8,...,10,17,A,-8,-8,3,3000,1000,-9,4
24,1531,First Haiti-Santo Domingo War,8,1,Santo Domingo,-8,Haitians,-8,-8,-8,...,12,21,A,-8,-8,6,-9,-9,-9,4
25,1533,War of Seven Khojas,8,7,Kokand,-8,China,-8,-8,-8,...,1,-9,A,-8,-8,2,-9,-9,-9,4
26,1534,Taiping Rebellion Phase 1,8,7,Taiping rebels,-8,China,-8,-8,-8,...,10,24,A,-8,567,4,-9,-9,-9,4
27,1535,First Tukulor War,8,4,al-Hajj Umar's Tukulor army,-8,Malinke,-8,-8,-8,...,-9,-9,A,-8,-8,1,4000,6000,10000,4
28,1536,Kashmir-Dards of Chilas War,8,7,Kashmir,-8,Dards,-8,-8,-8,...,-9,-9,B,-8,-8,2,1600,400,2000,4
29,1537,Han-Miao War Phase 1,8,7,Han,-8,Miao,-8,-8,-8,...,10,24,B,-8,570,4,-9,-9,-9,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,1540,Filibuster War,8,1,Nicaragua,-8,Costa Rica,Honduras,Guatemala,El Salvador,...,5,1,B,-8,-8,2,1000,6700,7700,4
33,1541,Han-Panthay War Phase 1,8,7,Han,-8,Yunnan Muslims,-8,-8,-8,...,10,24,B,-8,571,4,-9,-9,-9,4
34,1542,First Zulu Internecine War,8,4,Mbuyazi faction,-8,Cetshwayo faction,-8,-8,-8,...,12,2,A,-8,-8,2,5000,-9,-9,4
35,1543,Kucha and Khoja Uprising,8,7,Kucha,Khoja,China,-8,-8,-8,...,9,-9,A,-8,-8,2,-9,-9,-9,4
36,1544,First Boer-Basuto War,8,4,Basuto,-8,Boers,-8,-8,-8,...,-9,-9,B,-8,-8,6,-9,-9,-9,4
37,1545,First Ethiopian War,8,4,Ethiopia,-8,Provincial armies,-8,-8,-8,...,1,-9,B,-8,-8,1,-9,-9,2000,4
38,1546,Second Tukulor War,8,4,Umar Tal,-8,Bambara,-8,-8,-8,...,3,16,A,-8,-8,1,-9,-9,-9,4
39,1548,Transvaal War,8,4,Regional governments,-8,Transvaal government,-8,-8,-8,...,1,-9,A,-8,-8,2,3000,3000,6000,4
40,1550,Central American War,8,1,Guatemala,Nicaragua,El Salvador,Honduras,-8,-8,...,11,15,A,-8,-8,1,-9,-9,-9,4
41,1551,First Australian Aboriginal War,8,9,Aborigines,-8,White Settlers,-8,-8,-8,...,12,18,B,-8,-8,7,890,110,1000,4
42,1552,Second Boer-Basuto War,8,4,Orange Free State,-8,Basuto,-8,-8,-8,...,4,3,A,-8,-8,1,-9,-9,1200,4
43,1553,Second Ethiopian War,8,4,Tigray,-8,Ethiopia,-8,-8,-8,...,1,21,B,-8,-8,1,5000,30000,35000,4
44,1554,Uruguay Colorados-Blancos War,8,1,Blancos,-8,Colorados,-8,-8,-8,...,4,6,A,-8,-8,2,-9,-9,3000,4
45,1556,Second Zulu Internecine War,8,4,Cetewayo faction,-8,Zibelu faction,-8,-8,-8,...,6,4,A,-8,-8,1,-9,-9,-9,4
46,1557,Oman-Ibadi War,8,6,Oman,-8,Ibadi,-8,-8,-8,...,-9,-9,B,-8,-8,1,-9,-9,1000,4
47,1558,Second Australian Aboriginal War,8,9,Aborigines,-8,White Settlers,-8,-8,-8,...,11,16,B,-8,-8,7,8900,1100,10000,4
48,1559,Ethiopia-Mahdi War,8,4,Ethiopia,-8,Mahdist army,-8,-8,-8,...,3,12,A,-8,-8,2,15000,15000,30000,4
49,1560,German East Africa Company War,8,4,German East Africa Company,-8,Arabs,Swahili,-8,-8,...,5,-9,B,-8,-8,1,-9,-9,-9,4
50,1561,Rabih Zubayr-Bornu War,8,4,Rabah,-8,Bornu,-8,-8,-8,...,-9,-9,A,-8,-8,1,-9,-9,4000,4
51,1567,First Nejd-Hejaz War,8,6,Nejd,-8,Hejaz,-8,-8,-8,...,5,25,A,-8,-8,1,-9,4000,-9,4
52,1568,Second Nejd-Hejaz War,8,6,Nejd,-8,Hejaz,-8,-8,-8,...,12,23,A,-8,-8,1,-9,-9,-9,4
53,1570,Partition Communal War,8,7,Muslims,-8,Hindus,Sikhs,-8,-8,...,8,1,A,-8,-8,1,-9,-9,-9,4
54,1571,Hyderabad War,8,7,Telenganans,-8,Razakars,-8,-8,-8,...,9,12,A,-8,461,4,-9,-9,"4,000",4
55,1572,Palestine War,8,6,Arabs,-8,Zionists,-8,-8,-8,...,5,14,B,-8,148,4,991,895,1886,4
56,1573,Cheju Rebellion,8,7,Communists,military,South Korea,-8,-8,-8,...,5,-9,A,-8,-8,2,17000,-9,-9,4
57,1574,Rwandan Social Revolution,8,4,Hutu,-8,Tutsi,-8,-8,-8,...,7,1,A,-8,-8,1,-9,-9,-9,4
58,1577,Dhofar Rebellion Phase 1,8,6,Dhofar,-8,Oman,-8,-8,-8,...,10,6,A,-8,-8,6,-9,-9,5000,4
59,1581,Angola Guerilla War,8,4,MPLA,-8,FLNA,UNITA,-8,-8,...,10,22,A,-8,186,4,-9,-9,-9,4
60,1582,East Timorese War Phase 1,8,7,Fretilin,Apodeti,UDT,-8,-8,-8,...,10,15,B,-8,472,4,-9,-9,3000,4
61,1594,Hemda-Lendu War,9,4,Hemda,-8,Lendu,-8,-8,-8,...,3,-9,B,-8,-8,6,-9,-9,-9,4

In [35]:
dfNonWar = dfNonStateWar[['WarNum', 'WarName', 'WarType']]
dfNonWar.rename(columns={'WarNum':'WarID', 'WarName':'WarShortName'}, inplace=True)
dfNonWar.drop_duplicates(inplace=True)
dfNonWar

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    WarID                                       WarShortName  WarType
0    1500                             First Maori Tribal War        8
1    1501                               Shaka Zulu-Bantu War        8
2    1502                                    Burma-Assam War        8
3    1503                                   Buenos Aires War        8
4    1505                            Second Maori Tribal War        8
5    1506                                     Siam-Kedah War        8
6    1508                                China-Kashgaria War        8
7    1509                            Mexico-Yaqui Indian War        8
8    1510                 Central American Confederation War        8
9    1511                            Viang Chan- Siamese War        8
10   1512                             Peru-Gran Colombia War        8
11   1513                            Argentine War for Unity        8
12   1514                                    Sayyid Said War        8
13   1515                                   China-Kokand War        8
14   1516                          Siam-Cambodia-Vietnam War        8
15   1518                     Argentina-Ranqueles Indian War        8
16   1520                           Bolivia Conquest of Peru        8
17   1521                                  Boer-Matabele War        8
18   1523      Dissolution of the Bolivia-Peru Confederation        8
19   1524                             Persian Siege of Heart        8
20   1525                                      Boer-Zulu War        8
21   1527                                     Anti-Rosas War        8
22   1528  Dissolution of  the Central American Confedera...        8
23   1530                                    Dogra-Tibet War        8
24   1531                      First Haiti-Santo Domingo War        8
25   1533                               War of  Seven Khojas        8
26   1534                          Taiping Rebellion Phase 1        8
27   1535                                  First Tukulor War        8
28   1536                        Kashmir-Dards of Chilas War        8
29   1537                               Han-Miao War Phase 1        8
..    ...                                                ...      ...
32   1540                                     Filibuster War        8
33   1541                            Han-Panthay War Phase 1        8
34   1542                         First Zulu Internecine War        8
35   1543                           Kucha and Khoja Uprising        8
36   1544                              First Boer-Basuto War        8
37   1545                                First Ethiopian War        8
38   1546                                 Second Tukulor War        8
39   1548                                      Transvaal War        8
40   1550                               Central American War        8
41   1551                    First Australian Aboriginal War        8
42   1552                             Second Boer-Basuto War        8
43   1553                               Second Ethiopian War        8
44   1554                      Uruguay Colorados-Blancos War        8
45   1556                        Second Zulu Internecine War        8
46   1557                                     Oman-Ibadi War        8
47   1558                   Second Australian Aboriginal War        8
48   1559                                 Ethiopia-Mahdi War        8
49   1560                     German East Africa Company War        8
50   1561                             Rabih Zubayr-Bornu War        8
51   1567                               First Nejd-Hejaz War        8
52   1568                              Second Nejd-Hejaz War        8
53   1570                             Partition Communal War        8
54   1571                                      Hyderabad War        8
55   1572                                      Palestine War        8
56   1573                                    Cheju Rebellion        8
57   1574                          Rwandan Social Revolution        8
58   1577                           Dhofar Rebellion Phase 1        8
59   1581                                Angola Guerilla War        8
60   1582                          East Timorese War Phase 1        8
61   1594                                    Hemda-Lendu War        9

[62 rows x 3 columns]

In [36]:
dfExtraStateWar = pd.read_csv('SourceData/CorrelatesOfWar/Extra-StateWarData_v4.0.csv')
dfExtraStateWar

,WarNum,WarName,WarType,ccode1,SideA,ccode2,SideB,StartMonth1,StartDay1,StartYear1,...,EndYear2,Initiator,Interven,TransFrom,Outcome,TransTo,WhereFought,BatDeath,NonStateDeaths,Version
0,300,Allied Bombardment of Algiers,3,210,Netherlands,-8,-8,8,26,1816,...,-8,1,1,-8,1,-8,6,13,-8,4
1,300,Allied Bombardment of Algiers,3,200,United Kingdom,-8,Algeria,8,26,1816,...,-8,1,1,-8,1,-8,6,129,6000,4
2,301,Ottoman-Wahhabi,3,640,Ottoman Empire,-8,Saudi Wahhabis,9,-9,1816,...,-8,1,0,-8,1,-8,6,13500,14000,4
3,302,Liberation of Chile,2,230,Spain,-8,San Martin revolutionaries,1,9,1817,...,-8,0,0,-8,2,-8,1,1700,1140,4
4,303,First Bolivar Expedition,2,230,Spain,-8,New Granada,4,11,1817,...,-8,1,0,-8,2,-8,1,3000,2000,4
5,304,Mexican Independence,2,230,Spain,-8,Mina Expedition,8,15,1817,...,-8,0,0,-8,1,-8,1,1000,1000,4
6,305,British-Kandyan,2,200,United Kingdom,-8,Kandyan rebels,10,-9,1817,...,-8,0,0,-8,1,-8,7,1000,10000,4
7,306,British-Maratha,2,200,United Kingdom,-8,Marathas,11,6,1817,...,-8,0,0,-8,1,-8,7,2800,2000,4
8,307,Ottoman Conquest of Sudan,3,640,Ottoman Empire,-8,Sudan states,-9,-9,1820,...,-8,1,0,-8,1,-8,4,4000,2500,4
9,308,Second Bolivar Expedition,2,230,Spain,-8,New Granada,4,28,1821,...,-8,0,0,-8,2,-8,1,1000,500,4
10,309,Turco-Persian,3,640,Ottoman Empire,-8,Persia,8,-9,1821,...,-8,0,0,-8,6,-8,6,1000,-9,4
11,310,First British-Burmese,3,200,United Kingdom,-8,Burma,9,24,1823,...,-8,0,0,-8,1,-8,7,15000,15000,4
12,311,First British-Ashanti,3,200,United Kingdom,-8,Ashanti-Ghana,1,20,1824,...,-8,0,0,-8,1,-8,4,1400,5000,4
13,312,Liberation of Peru,2,230,Spain,-8,Latin American revolutionaries,2,4,1824,...,-8,0,0,-8,2,-8,1,2000,400,4
14,313,Dutch - Javanese,2,210,Netherlands,-8,Javanese rebels,7,23,1825,...,-8,0,0,-8,1,-8,7,15000,200000,4
15,314,British-Bharatpuran,2,200,United Kingdom,-8,Bharatpuran rebels,11,23,1825,...,-8,0,0,-8,1,-8,7,400,4500,4
16,315,Brazil-Argentine,3,140,Brazil,-8,Argentina,1,1,1826,...,-8,0,0,-8,2,-8,1,4000,2000,4
17,316,Russo-Persian,3,365,Russia,-8,Persia,9,28,1826,...,-8,0,0,-8,1,-8,6,5000,2000,4
18,317,Spanish Reconquest of Mexico,3,230,Spain,-8,Mexico,7,16,1829,...,-8,1,0,-8,2,-8,1,1700,135,4
19,319,French Occupation of Algiers,3,220,France,-8,Algeria,6,12,1830,...,-8,1,0,-8,1,-8,6,600,3000,4
20,320,Ottoman-Bilmez-Asiri War,3,640,Ottoman Empire,-8,Bilmez-Asiri,6,-9,1832,...,-8,0,0,-8,1,-8,6,-9,800,4
21,321,First British-Zulu,3,200,United Kingdom,-8,Zulu tribe,4,17,1838,...,-8,1,0,-8,2,-8,4,800,-9,4
22,322,First British-Afghan,3,200,United Kingdom,-8,Afghanistan,2,14,1839,...,-8,1,0,-8,2,-8,7,20000,-9,4
23,323,First Opium,3,200,United Kingdom,-8,China,9,4,1839,...,-8,1,0,-8,1,-8,7,450,2000,4
24,324,First Franco-Algerian,3,220,France,-8,Algerian forces,11,1,1839,...,-8,0,0,-8,1,-8,6,15000,20000,4
25,325,Peru-Bolivian,3,135,Peru,-8,Bolivia,10,19,1841,...,-8,0,0,-8,2,-8,1,600,400,4
26,326,British-Sind,3,200,United Kingdom,-8,Sind,1,6,1843,...,-8,1,0,-8,1,-8,7,200,4000,4
27,327,Uruguay War,3,160,Argentina,-8,Uruguay,2,16,1843,...,-8,1,1,-8,4,19,1,1500,3500,4
28,327,Uruguay War,3,-8,-8,200,United Kingdom,1,-9,1845,...,-8,0,1,-8,4,19,1,400,-8,4
29,327,Uruguay War,3,-8,-8,220,France,1,-9,1845,...,-8,0,1,-8,4,19,1,600,-8,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,471,Mozambique-Portuguese,2,235,Portugal,-8,Mozambique,9,25,1964,...,-8,0,0,-8,2,-8,4,3500,10000,4
169,472,"East Timorese, Phase 2",3,850,Indonesia,-8,Fretilin & UDT,10,16,1975,...,-8,1,0,1582,4,806,7,12500,20000,4
170,473,Namibian,2,560,South Africa,-8,SWAPO-Namibia,10,17,1975,...,-8,1,0,-8,2,-8,4,1100,19000,4
171,474,Western Saharan,3,600,Morocco,-8,Polisario,12,11,1975,...,-8,0,1,-8,7,-8,6,9500,4000,4
172,474,Western Saharan,3,-8,-8,615,Algeria,1,27,1976,...,-8,0,1,-8,7,-8,6,500,-8,4
173,474,Western Saharan,3,435,Mauritania,-8,-8,12,11,1975,...,-8,0,1,-8,7,-8,6,2000,-8,4
174,475,Khmer Insurgency,3,816,Vietnam,-8,Khmer Rouge,1,9,1979,...,-8,1,1,189,4,857,7,25300,-9,4
175,475,Khmer Insurgency,3,811,Cambodia,-8,-8,1,9,1979,...,-8,0,1,189,4,857,7,15000,-8,4
176,476,Soviet Quagmire,3,365,USSR,-8,Muhajadin,2,22,1980,...,-8,0,1,812,4,851,7,40000,50000,4
177,476,Soviet Quagmire,3,700,Afghanistan,-8,-8,2,22,1980,...,-8,0,1,812,4,851,7,30000,-8,4
178,477,First PKK in Iraq,3,640,Turkey,-8,PKK in Iraq,8,4,1991,...,-8,1,0,-8,6,-8,6,300,2000,4
179,479,Second PKK in Iraq,3,640,Turkey,-8,PKK in Iraq,5,14,1997,...,-8,1,0,-8,6,-8,6,100,2500,4
180,480,Al Aqsa Intifada,2,666,Israel,-8,Palestinians,9,28,2000,...,-8,0,0,-8,1,-8,6,900,3400,4
181,481,Afghan Resistance,3,220,France,-8,-8,12,23,2001,...,-8,1,1,225,5,-8,7,12,-8,4
182,481,Afghan Resistance,3,900,Australia,-8,-8,12,23,2001,...,-8,1,1,225,5,-8,7,6,-8,4
183,481,Afghan Resistance,3,255,Germany,-8,-8,12,23,2001,...,-8,1,1,225,5,-8,7,25,-8,4
184,481,Afghan Resistance,3,200,United Kingdom,-8,-8,12,23,2001,...,-8,1,1,225,5,-8,7,110,-8,4
185,481,Afghan Resistance,3,20,Canada,-8,-8,12,23,2001,...,-8,1,1,225,5,-8,7,88,-8,4
186,481,Afghan Resistance,3,2,United States,-8,al-Qaeda & Taliban,12,23,2001,...,-8,1,1,225,5,-8,7,552,12000,4
187,481,Afghan Resistance,3,700,Afghanistan,-8,-8,12,23,2001,...,-8,1,1,225,5,-8,7,1600,-8,4
188,482,Iraqi Resistance,3,900,Australia,-8,-8,5,3,2003,...,-8,1,1,227,5,-8,6,1,-8,4
189,482,Iraqi Resistance,3,2,United States,-8,al-Qaeda & Iraqi resistence,5,3,2003,...,-8,1,1,227,5,-8,6,3985,20000,4
190,482,Iraqi Resistance,3,200,United Kingdom,-8,-8,5,3,2003,...,-8,1,1,227,5,-8,6,143,-8,4
191,482,Iraqi Resistance,3,210,Netherlands,-8,-8,3,-9,2004,...,-8,0,1,227,5,-8,6,2,-8,4
192,482,Iraqi Resistance,3,230,Spain,-8,-8,3,-9,2004,...,-8,0,1,227,5,-8,6,11,-8,4
193,482,Iraqi Resistance,3,290,Poland,-8,-8,3,-9,2004,...,-8,0,1,227,5,-8,6,23,-8,4
194,482,Iraqi Resistance,3,325,Italy,-8,-8,3,-9,2004,...,-8,0,1,227,5,-8,6,33,-8,4
195,482,Iraqi Resistance,3,369,Ukraine,-8,-8,3,-9,2004,...,-8,0,1,227,5,-8,6,18,-8,4
196,482,Iraqi Resistance,3,645,Iraq,-8,-8,6,28,2004,...,-8,0,1,227,5,-8,6,10800,-8,4
197,482,Iraqi Resistance,3,732,Republic of Korea,-8,-8,9,25,2004,...,-8,0,1,227,5,-8,6,1,-8,4

In [37]:
dfExtraWar = dfExtraStateWar[['WarNum', 'WarName', 'WarType', 'Interven']]
dfExtraWar.rename(columns={'WarNum':'WarID', 'WarName':'WarShortName', 'Interven':'IsIntervention'}, inplace=True)
dfExtraWar.drop_duplicates(inplace=True)
dfExtraWar

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     WarID                   WarShortName  WarType  IsIntervention
0      300  Allied Bombardment of Algiers        3               1
2      301                Ottoman-Wahhabi        3               0
3      302            Liberation of Chile        2               0
4      303       First Bolivar Expedition        2               0
5      304           Mexican Independence        2               0
6      305                British-Kandyan        2               0
7      306                British-Maratha        2               0
8      307      Ottoman Conquest of Sudan        3               0
9      308      Second Bolivar Expedition        2               0
10     309                  Turco-Persian        3               0
11     310          First British-Burmese        3               0
12     311          First British-Ashanti        3               0
13     312             Liberation of Peru        2               0
14     313               Dutch - Javanese        2               0
15     314            British-Bharatpuran        2               0
16     315               Brazil-Argentine        3               0
17     316                  Russo-Persian        3               0
18     317   Spanish Reconquest of Mexico        3               0
19     319   French Occupation of Algiers        3               0
20     320       Ottoman-Bilmez-Asiri War        3               0
21     321             First British-Zulu        3               0
22     322           First British-Afghan        3               0
23     323                    First Opium        3               0
24     324          First Franco-Algerian        3               0
25     325                  Peru-Bolivian        3               0
26     326                   British-Sind        3               0
27     327                    Uruguay War        3               1
30     329                        Gwalior        3               0
31     330                Franco-Moroccan        3               0
32     331             First British-Sikh        3               0
..     ...                            ...      ...             ...
147    449                  Rif Rebellion        2               1
149    450               Moplah Rebellion        2               0
150    451                   Franco-Druze        2               0
151    452               Yen Bai Uprising        2               0
152    453           Saya San's Rebellion        2               0
153    454            British-Palestinian        2               0
154    455      Second British-Waziristan        3               0
155    456                     Indonesian        2               1
157    457               French-Indochina        2               0
158    459        Third Franco-Madagascan        2               0
159    460              Malayan Rebellion        2               0
160    461                 Indo-Hyderabad        3               0
161    462             Third Sino-Tibetan        3               0
162    463                Franco-Tunisian        2               0
163    464                British-Mau Mau        2               0
164    465          Moroccan Independence        2               0
165    466          Third Franco-Algerian        2               0
166    467                French-Cameroon        2               0
167    469             Angolan-Portuguese        2               0
168    471          Mozambique-Portuguese        2               0
169    472         East Timorese, Phase 2        3               0
170    473                       Namibian        2               0
171    474                Western Saharan        3               1
174    475               Khmer Insurgency        3               1
176    476                Soviet Quagmire        3               1
178    477              First PKK in Iraq        3               0
179    479             Second PKK in Iraq        3               0
180    480               Al Aqsa Intifada        2               0
181    481              Afghan Resistance        3               1
188    482               Iraqi Resistance        3               1

[163 rows x 4 columns]

In [38]:
warDFs = [dfInterWar, dfIntraWar, dfNonWar, dfExtraWar]
dfWar = pd.concat(warDFs)
dfWar = dfWar[['WarID', 'WarShortName', 'WarType', 'IsIntervention', 'IsInternational']]
dfWar

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

,WarID,WarShortName,WarType,IsIntervention,IsInternational
0,1,Franco-Spanish War,1,NaN,NaN
2,4,First Russo-Turkish,1,NaN,NaN
4,7,Mexican-American,1,NaN,NaN
6,10,Austro-Sardinian,1,NaN,NaN
10,13,First Schleswig-Holstein,1,NaN,NaN
12,16,Roman Republic,1,NaN,NaN
16,19,La Plata,1,NaN,NaN
18,22,Crimean,1,NaN,NaN
23,25,Anglo-Persian,1,NaN,NaN
25,28,Italian Unification,1,NaN,NaN
28,31,First Spanish-Moroccan,1,NaN,NaN
30,34,Italian-Roman,1,NaN,NaN
32,37,Neapolitan,1,NaN,NaN
34,40,Franco-Mexican,1,NaN,NaN
36,43,Ecuadorian-Colombian,1,NaN,NaN
38,46,Second Schleswig-Holstein,1,NaN,NaN
41,49,Lopez,1,NaN,NaN
44,52,Naval War,1,NaN,NaN
47,55,Seven Weeks,1,NaN,NaN
58,58,Franco-Prussian,1,NaN,NaN
63,60,First Central American,1,NaN,NaN
65,61,Second Russo-Turkish,1,NaN,NaN
67,64,War of the Pacific,1,NaN,NaN
70,65,Conquest of Egypt,1,NaN,NaN
72,67,Sino-French,1,NaN,NaN
74,70,Second Central American,1,NaN,NaN
76,73,First Sino-Japanese,1,NaN,NaN
78,76,Greco-Turkish,1,NaN,NaN
80,79,Spanish-American,1,NaN,NaN
82,82,Boxer Rebellion,1,NaN,NaN
...,...,...,...,...,...
147,449,Rif Rebellion,2,1.0,NaN
149,450,Moplah Rebellion,2,0.0,NaN
150,451,Franco-Druze,2,0.0,NaN
151,452,Yen Bai Uprising,2,0.0,NaN
152,453,Saya San's Rebellion,2,0.0,NaN
153,454,British-Palestinian,2,0.0,NaN
154,455,Second British-Waziristan,3,0.0,NaN
155,456,Indonesian,2,1.0,NaN
157,457,French-Indochina,2,0.0,NaN
158,459,Third Franco-Madagascan,2,0.0,NaN
159,460,Malayan Rebellion,2,0.0,NaN
160,461,Indo-Hyderabad,3,0.0,NaN
161,462,Third Sino-Tibetan,3,0.0,NaN
162,463,Franco-Tunisian,2,0.0,NaN
163,464,British-Mau Mau,2,0.0,NaN
164,465,Moroccan Independence,2,0.0,NaN
165,466,Third Franco-Algerian,2,0.0,NaN
166,467,French-Cameroon,2,0.0,NaN
167,469,Angolan-Portuguese,2,0.0,NaN
168,471,Mozambique-Portuguese,2,0.0,NaN
169,472,"East Timorese, Phase 2",3,0.0,NaN
170,473,Namibian,2,0.0,NaN
171,474,Western Saharan,3,1.0,NaN
174,475,Khmer Insurgency,3,1.0,NaN
176,476,Soviet Quagmire,3,1.0,NaN
178,477,First PKK in Iraq,3,0.0,NaN
179,479,Second PKK in Iraq,3,0.0,NaN
180,480,Al Aqsa Intifada,2,0.0,NaN
181,481,Afghan Resistance,3,1.0,NaN
188,482,Iraqi Resistance,3,1.0,NaN

In [39]:
dfWarNames = pd.read_csv('SourceData/CorrelatesOfWar/CowWarList.csv')
dfWarNames

     Year                                     War Name     War Type & Number
0    1816        Allied Bombardment of Algiers of 1816  Extra-State War #300
1    1816          Ottoman-Wahhabi Revolt of 1816-1818  Extra-State War #301
2    1817             Liberation of Chile of 1817-1818  Extra-State War #302
3    1817        First Bolivar Expedition of 1817-1819  Extra-State War #303
4    1817     War of Mexican Independence of 1817-1818  Extra-State War #304
5    1817             British-Kandyan War of 1817-1818  Extra-State War #305
6    1817                 British-Maratha of 1817-1818  Extra-State War #306
7    1818          First Maori Tribal War of 1818-1824   Non-State War #1500
8    1818              First Caucasus War of 1818-1822  Intra-State War #500
9    1819            Shaka Zulu-Bantu War of 1819-1828   Non-State War #1501
10   1819                 Burma-Assam War of 1819-1822   Non-State War #1502
11   1820                     Buenos Aires War of 1820   Non-State War #1503
12   1820              Sidon-Damascus War of 1820-1821  Intra-State War #501
13   1820          First Two Sicilies War of 1820-1821  Intra-State War #502
14   1820       Ottoman Conquest of Sudan of 1820-1821  Extra-State War #307
15   1821                     Sardinian Revolt of 1821  Intra-State War #505
16   1821          Greek Independence War of 1821-1828  Intra-State War #506
17   1821       Second Bolívar Expedition of 1821-1822  Extra-State War #308
18   1821               Turco-Persian War of 1821-1823  Extra-State War #309
19   1821         Second Maori Tribal War of 1821-1823   Non-State War #1505
20   1821                       Siam-Kedah War of 1821   Non-State War #1506
21   1821           Spanish Royalists War of 1821-1823  Intra-State War #503
22   1823                   Franco-Spanish War of 1823    Inter-State War #1
23   1823       First British-Burmese War of 1823-1826  Extra-State War #310
24   1824       First British-Ashanti War of 1824-1826  Extra-State War #311
25   1824              Liberation of Peru of 1824-1825  Extra-State War #312
26   1824                      Egypt-Mehdi War of 1824  Intra-State War #507
27   1825             China-Kashgaria War of 1825-1828   Non-State War #1508
28   1825              Dutch-Javanese War of 1825-1830  Extra-State War #313
29   1825         Mexico-Yaqui Indian War of 1825-1827   Non-State War #1509
..    ...                                          ...                   ...
624  1999                 Second Aceh War of 1999-2002  Intra-State War #912
625  1999                           Kargil War of 1999  Inter-State War #223
626  1999                 Oromo Liberation War of 1999  Intra-State War #913
627  1999                  Hema-Lendu War of 1999-2005   Non-State War #1594
628  1999             Second Chechnya War of 1999-2003  Intra-State War #915
629  2000      Second Philippine-Moro War of 2000-2001  Intra-State War #916
630  2000                     Guinean War of 2000-2001  Intra-State War #917
631  2000                Al Aqsa Intifada of 2000-2003  Extra-State War #480
632  2001               Third Burundi War of 2001-2003  Intra-State War #918
633  2001                    Fourth Rwanda War of 2001  Intra-State War #920
634  2001              Invasion of Afghanistan of 2001  Inter-State War #225
635  2001   First Nepal Maoist Insurgency of 2001-2003  Intra-State War #921
636  2001            Afghan Resistance of 2001-present  Extra-State War #481
637  2002              Fourth Liberia War of 2002-2003  Intra-State War #922
638  2002       Ethiopian Anyuaa-Nuer War of 2002-2003  Intra-State War #923
639  2002      Cote d'Ivoire Military War of 2002-2004  Intra-State War #925
640  2003            Third Philippine-Moro War of 2003  Intra-State War #926
641  2003                      Darfur War of 2003-2006  Intra-State War #927
642  2003                     Invasion of Iraq of 2003  Inter-State War #227
643  2003             Iraqi Resistance of 2003-present  Extra-State War #482
644  2003                  Third Aceh War of 2003-2004  Intra-State War #930
645  2003        Second Nepal Maoists War of 2003-2006  Intra-State War #931
646  2004                  Waziristan War of 2004-2006  Intra-State War #932
647  2004  Second Nigeria Christian-Muslim War of 2004  Intra-State War #933
648  2004         First Yemeni Cleric War of 2004-2005  Intra-State War #935
649  2005      Philippine Joint Offensive of 2005-2006  Intra-State War #936
650  2005                  Fifth Chad War of 2005-2006  Intra-State War #937
651  2006               Third Somalia War of 2006-2008  Intra-State War #938
652  2006   Second Sri Lanka Tamil War of 2006-present  Intra-State War #940
653  2007             Second Yemeni Cleric War of 2007  Intra-State War #941

[654 rows x 3 columns]

In [40]:
dfWarNamesIDs = dfWarNames['War Type & Number'].str.split("#", n = 1, expand = True)
dfWarNames['WarTypeName'] = dfWarNamesIDs[0]
dfWarNames['WarID'] = dfWarNamesIDs[1]
dfWarNames = dfWarNames[['WarID', 'WarTypeName', 'War Name']]
dfWarNames.rename(columns={'War Name':'WarLongName'}, inplace=True)
dfWarNames

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

    WarID       WarTypeName                                  WarLongName
0     300  Extra-State War         Allied Bombardment of Algiers of 1816
1     301  Extra-State War           Ottoman-Wahhabi Revolt of 1816-1818
2     302  Extra-State War              Liberation of Chile of 1817-1818
3     303  Extra-State War         First Bolivar Expedition of 1817-1819
4     304  Extra-State War      War of Mexican Independence of 1817-1818
5     305  Extra-State War              British-Kandyan War of 1817-1818
6     306  Extra-State War                  British-Maratha of 1817-1818
7    1500    Non-State War           First Maori Tribal War of 1818-1824
8     500  Intra-State War               First Caucasus War of 1818-1822
9    1501    Non-State War             Shaka Zulu-Bantu War of 1819-1828
10   1502    Non-State War                  Burma-Assam War of 1819-1822
11   1503    Non-State War                      Buenos Aires War of 1820
12    501  Intra-State War               Sidon-Damascus War of 1820-1821
13    502  Intra-State War           First Two Sicilies War of 1820-1821
14    307  Extra-State War        Ottoman Conquest of Sudan of 1820-1821
15    505  Intra-State War                      Sardinian Revolt of 1821
16    506  Intra-State War           Greek Independence War of 1821-1828
17    308  Extra-State War        Second Bolívar Expedition of 1821-1822
18    309  Extra-State War                Turco-Persian War of 1821-1823
19   1505    Non-State War          Second Maori Tribal War of 1821-1823
20   1506    Non-State War                        Siam-Kedah War of 1821
21    503  Intra-State War            Spanish Royalists War of 1821-1823
22      1  Inter-State War                    Franco-Spanish War of 1823
23    310  Extra-State War        First British-Burmese War of 1823-1826
24    311  Extra-State War        First British-Ashanti War of 1824-1826
25    312  Extra-State War               Liberation of Peru of 1824-1825
26    507  Intra-State War                       Egypt-Mehdi War of 1824
27   1508    Non-State War              China-Kashgaria War of 1825-1828
28    313  Extra-State War               Dutch-Javanese War of 1825-1830
29   1509    Non-State War          Mexico-Yaqui Indian War of 1825-1827
..    ...               ...                                          ...
624   912  Intra-State War                  Second Aceh War of 1999-2002
625   223  Inter-State War                            Kargil War of 1999
626   913  Intra-State War                  Oromo Liberation War of 1999
627  1594    Non-State War                   Hema-Lendu War of 1999-2005
628   915  Intra-State War              Second Chechnya War of 1999-2003
629   916  Intra-State War       Second Philippine-Moro War of 2000-2001
630   917  Intra-State War                      Guinean War of 2000-2001
631   480  Extra-State War                 Al Aqsa Intifada of 2000-2003
632   918  Intra-State War                Third Burundi War of 2001-2003
633   920  Intra-State War                     Fourth Rwanda War of 2001
634   225  Inter-State War               Invasion of Afghanistan of 2001
635   921  Intra-State War    First Nepal Maoist Insurgency of 2001-2003
636   481  Extra-State War             Afghan Resistance of 2001-present
637   922  Intra-State War               Fourth Liberia War of 2002-2003
638   923  Intra-State War        Ethiopian Anyuaa-Nuer War of 2002-2003
639   925  Intra-State War       Cote d'Ivoire Military War of 2002-2004
640   926  Intra-State War             Third Philippine-Moro War of 2003
641   927  Intra-State War                       Darfur War of 2003-2006
642   227  Inter-State War                      Invasion of Iraq of 2003
643   482  Extra-State War              Iraqi Resistance of 2003-present
644   930  Intra-State War                   Third Aceh War of 2003-2004
645   931  Intra-State War         Second Nepal Maoists War of 2003-2006
646   932  Intra-State War                   Waziristan War of 2004-2006
647   933  Intra-State War   Second Nigeria Christian-Muslim War of 2004
648   935  Intra-State War          First Yemeni Cleric War of 2004-2005
649   936  Intra-State War       Philippine Joint Offensive of 2005-2006
650   937  Intra-State War                   Fifth Chad War of 2005-2006
651   938  Intra-State War                Third Somalia War of 2006-2008
652   940  Intra-State War    Second Sri Lanka Tamil War of 2006-present
653   941  Intra-State War              Second Yemeni Cleric War of 2007

[654 rows x 3 columns]

In [41]:
dfWarNames['WarID'] = dfWarNames['WarID'].astype('int64')
dfWars = pd.merge(dfWar, dfWarNames, on='WarID')
dfWars = dfWars[['WarID', 'WarShortName', 'WarLongName', 'WarType', 'WarTypeName', 'IsIntervention', 'IsInternational']]
dfWars = dfWars.replace(np.nan, '', regex=True)
dfWars

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,WarID,WarShortName,WarLongName,WarType,WarTypeName,IsIntervention,IsInternational
0,1,Franco-Spanish War,Franco-Spanish War of 1823,1,Inter-State War,,
1,4,First Russo-Turkish,First Russo-Turkish War of 1828-1829,1,Inter-State War,,
2,7,Mexican-American,Mexican-American War of 1846-1847,1,Inter-State War,,
3,10,Austro-Sardinian,Austro-Sardinian War of 1848-1849,1,Inter-State War,,
4,13,First Schleswig-Holstein,First Schleswig-Holstein War of 1848-1849,1,Inter-State War,,
5,16,Roman Republic,War of the Roman Republic of 1849,1,Inter-State War,,
6,19,La Plata,La Plata War of 1851-1852,1,Inter-State War,,
7,22,Crimean,Crimean War of 1853-1856,1,Inter-State War,,
8,25,Anglo-Persian,Anglo-Persian War of 1856-1857,1,Inter-State War,,
9,28,Italian Unification,War of Italian Unification of 1859,1,Inter-State War,,
10,31,First Spanish-Moroccan,First Spanish-Moroccan War of 1859-1860,1,Inter-State War,,
11,34,Italian-Roman,Italian-Roman War of 1860,1,Inter-State War,,
12,37,Neapolitan,Neapolitan War of 1860-1861,1,Inter-State War,,
13,40,Franco-Mexican,Franco-Mexican War of 1862-1867,1,Inter-State War,,
14,43,Ecuadorian-Colombian,Ecuadorian-Columbian War of 1863,1,Inter-State War,,
15,46,Second Schleswig-Holstein,Second Schleswig-Holstein War of 1864,1,Inter-State War,,
16,49,Lopez,Lopez War of 1864-1870,1,Inter-State War,,
17,52,Naval War,Naval War of 1865-1866,1,Inter-State War,,
18,55,Seven Weeks,Seven Weeks War of 1866,1,Inter-State War,,
19,58,Franco-Prussian,Franco-Prussian War of 1870-1871,1,Inter-State War,,
20,60,First Central American,First Central American War of 1876,1,Inter-State War,,
21,61,Second Russo-Turkish,Second Russo-Turkish War of 1877-1878,1,Inter-State War,,
22,64,War of the Pacific,War of the Pacific of 1879-1883,1,Inter-State War,,
23,65,Conquest of Egypt,Conquest of Egypt of 1882,1,Inter-State War,,
24,67,Sino-French,Sino-French War of 1884-1885,1,Inter-State War,,
25,70,Second Central American,Second Central American War of 1885,1,Inter-State War,,
26,73,First Sino-Japanese,First Sino-Japanese War of 1894-1895,1,Inter-State War,,
27,76,Greco-Turkish,Greco-Turkish War of 1897,1,Inter-State War,,
28,79,Spanish-American,Spanish-American War of 1898,1,Inter-State War,,
29,82,Boxer Rebellion,Boxer Rebellion of 1900,1,Inter-State War,,
...,...,...,...,...,...,...,...
624,449,Rif Rebellion,Rif Rebellion of 1921-1926,2,Extra-State War,1,
625,450,Moplah Rebellion,Moplah Rebellion of 1921-1922,2,Extra-State War,0,
626,451,Franco-Druze,Franco-Druze War of 1925-1927,2,Extra-State War,0,
627,452,Yen Bai Uprising,Yen Bai Uprising of 1930-1931,2,Extra-State War,0,
628,453,Saya San's Rebellion,Saya San's Rebellion of 1930-1932,2,Extra-State War,0,
629,454,British-Palestinian,British-Palestinian War of 1936-1939,2,Extra-State War,0,
630,455,Second British-Waziristan,Second Britain-Waziristan War of 1936-1938,3,Extra-State War,0,
631,456,Indonesian,Indonesian War of 1945-1946,2,Extra-State War,1,
632,457,French-Indochina,French-Indochina War of 1946-1954,2,Extra-State War,0,
633,459,Third Franco-Madagascan,Third Franco-Madagascan War of 1947-1948,2,Extra-State War,0,
634,460,Malayan Rebellion,Malayan Rebellion of 1948-1957,2,Extra-State War,0,
635,461,Indo-Hyderabad,Indo-Hyderabad War of 1948,3,Extra-State War,0,
636,462,Third Sino-Tibetan,Third Sino-Tibetan War of 1950,3,Extra-State War,0,
637,463,Franco-Tunisian,Franco-Tunisian War of 1952-1954,2,Extra-State War,0,
638,464,British-Mau Mau,British-Mau Mau War of 1952-1956,2,Extra-State War,0,
639,465,Moroccan Independence,Moroccan Independence War of 1953-1956,2,Extra-State War,0,
640,466,Third Franco-Algerian,Third Franco-Algerian War of 1954-1962,2,Extra-State War,0,
641,467,French-Cameroon,French-Cameroon War of 1957-1958,2,Extra-State War,0,
642,469,Angolan-Portuguese,Angolan-Portuguese War of 1961-1974,2,Extra-State War,0,
643,471,Mozambique-Portuguese,Mozambique-Portuguese War of 1964-1975,2,Extra-State War,0,
644,472,"East Timorese, Phase 2",East Timorese War Phase 2 of 1975-1976,3,Extra-State War,0,
645,473,Namibian,Namibian War of 1975-1988,2,Extra-State War,0,
646,474,Western Saharan,Western Sahara War of 1975-1983,3,Extra-State War,1,
647,475,Khmer Insurgency,Khmer Insurgency of 1979-1989,3,Extra-State War,1,
648,476,Soviet Quagmire,Soviet Quagmire of 1980-1989,3,Extra-State War,1,
649,477,First PKK in Iraq,First PKK in Iraq of 1991-1992,3,Extra-State War,0,
650,479,Second PKK in Iraq,Second PKK in Iraq of 1997,3,Extra-State War,0,
651,480,Al Aqsa Intifada,Al Aqsa Intifada of 2000-2003,2,Extra-State War,0,
652,481,Afghan Resistance,Afghan Resistance of 2001-present,3,Extra-State War,1,
653,482,Iraqi Resistance,Iraqi Resistance of 2003-present,3,Extra-State War,1,

In [42]:
badsnamechar = dfWars['WarShortName'].str.contains('\&', regex=True)
print(sum(badsnamechar))
badlnamechar = dfWars['WarLongName'].str.contains('\&', regex=True)
print(sum(badlnamechar))

2
0

In [43]:
dfWars['WarShortName'] = dfWars['WarShortName'].str.replace('\&', 'and')

In [44]:
WarShortNameMaxLength = int(dfWars['WarShortName'].str.encode(encoding='utf-8').str.len().max())
print('WarShortNameMaxLength', WarShortNameMaxLength)
WarLongNameMaxLength = int(dfWars['WarLongName'].str.encode(encoding='utf-8').str.len().max())
print('WarLongNameMaxLength', WarLongNameMaxLength)
WarTypeNameMaxLength = int(dfWars['WarTypeName'].str.encode(encoding='utf-8').str.len().max())
print('WarTypeNameMaxLength', WarTypeNameMaxLength)

#dfWar['WarType'].value_counts()
#dfWar['WarID'].value_counts()

WarShortNameMaxLength 50
WarLongNameMaxLength 62
WarTypeNameMaxLength 16

In [45]:
dfWars.WarTypeName.unique()

array(['Inter-State War ', 'Intra-State War ', 'Non-State War ',
       'Extra-State War '], dtype=object)

In [46]:
dfWars = dfWars.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [47]:
dfWars.WarTypeName.unique()

array(['Inter-State War', 'Intra-State War', 'Non-State War',
       'Extra-State War'], dtype=object)

In [48]:
dfWars.to_csv('FinalData/war.csv', encoding='utf-8', index=False)

## Create 'WAR_DATES' table

Task: transform the following csv files into one table:

- Inter-StateWarData_v4.0.csv (note: already saved as 'dfInterStateWar')
- Intra-StateWarData_v4.1.csv (note: already saved as 'dfIntraStateWar')
- Non-StateWarData_v4.0.csv (note: already saved as 'dfNonStateWar')
- Extra-StateWarData_v4.0.csv (note: already saved as 'dfExtraStateWar')

with the following attributes:

- WarID
- PolityName
- StateID
- StartDate
- EndDate
- StartYear
- StartMonth
- StartDay
- EndYear
- EndMonth
- EndDay

Note: There was a data entry error in 'Intra-StateWarData_v4.1.csv' for WarNum 585; EndDay1 was coded '-91866' and EndYear1 was left blank. I corrected this by hand so the Day was '-9' and the Year '1866'.

Note: There was another data entry error in the same file for WarNum 682; EndDay1 was coded '1919' and EndYear1 was left blank. I corrected this by hand so that the Day was '-9' and the Year '1919'.

Note: There was an apparent data entry error in the same file for WarNum 623, the second entry (Korea) - the StartDay1 was coded as '29' when StartMonth1 was 2... which is not a valid date. I corrected this by hand so the StartDay1 became '28'.

In [49]:
dfInterStateWar.columns

Index(['WarNum', 'WarName', 'WarType', 'ccode', 'StateName', 'Side',
       'StartMonth1', 'StartDay1', 'StartYear1', 'EndMonth1', 'EndDay1',
       'EndYear1', 'StartMonth2', 'StartDay2', 'StartYear2', 'EndMonth2',
       'EndDay2', 'EndYear2', 'TransFrom', 'WhereFought', 'Initiator',
       'Outcome', 'TransTo', 'BatDeath', 'Version'],
      dtype='object')

In [50]:
dfInterStateWarDates1 = dfInterStateWar[['WarNum', 'ccode', 'StateName', 'StartMonth1', 'StartDay1', 'StartYear1', 
                                         'EndMonth1', 'EndDay1', 'EndYear1']]
dfInterStateWarDates2 = dfInterStateWar[['WarNum', 'ccode', 'StateName', 'StartMonth2', 'StartDay2', 'StartYear2', 
                                         'EndMonth2', 'EndDay2', 'EndYear2']]

In [51]:
dfInterStateWarDates1.rename(columns={'WarNum':'WarID', 'ccode':'StateID', 'StateName':'PolityName', 'StartMonth1':'StartMonth', 
                                      'StartDay1':'StartDay', 'StartYear1':'StartYear', 'EndMonth1':'EndMonth', 
                                      'EndDay1':'EndDay', 'EndYear1':'EndYear'}, inplace=True)
dfInterStateWarDates2.rename(columns={'WarNum':'WarID', 'ccode':'StateID', 'StateName':'PolityName', 'StartMonth2':'StartMonth', 
                                      'StartDay2':'StartDay', 'StartYear2':'StartYear', 'EndMonth2':'EndMonth', 
                                      'EndDay2':'EndDay', 'EndYear2':'EndYear'}, inplace=True)

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [52]:
dfInterStateWarDates2

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,1,230,Spain,-8,-8,-8,-8,-8,-8
1,1,220,France,-8,-8,-8,-8,-8,-8
2,4,640,Ottoman Empire,-8,-8,-8,-8,-8,-8
3,4,365,Russia,-8,-8,-8,-8,-8,-8
4,7,70,Mexico,-8,-8,-8,-8,-8,-8
5,7,2,United States of America,-8,-8,-8,-8,-8,-8
6,10,337,Tuscany,-8,-8,-8,-8,-8,-8
7,10,325,Italy,3,12,1849,3,30,1849
8,10,300,Austria,3,12,1849,3,30,1849
9,10,332,Modena,-8,-8,-8,-8,-8,-8
10,13,255,Prussia,3,25,1849,7,10,1849
11,13,390,Denmark,3,25,1849,7,10,1849
12,16,220,France,-8,-8,-8,-8,-8,-8
13,16,329,Two Sicilies,-8,-8,-8,-8,-8,-8
14,16,300,Austria,-8,-8,-8,-8,-8,-8
15,16,327,Papal States,-8,-8,-8,-8,-8,-8
16,19,160,Argentina,-8,-8,-8,-8,-8,-8
17,19,140,Brazil,-8,-8,-8,-8,-8,-8
18,22,640,Turkey,-8,-8,-8,-8,-8,-8
19,22,325,Italy,-8,-8,-8,-8,-8,-8
20,22,220,France,-8,-8,-8,-8,-8,-8
21,22,200,United Kingdom,-8,-8,-8,-8,-8,-8
22,22,365,Russia,-8,-8,-8,-8,-8,-8
23,25,200,United Kingdom,-8,-8,-8,-8,-8,-8
24,25,630,Iran,-8,-8,-8,-8,-8,-8
25,28,325,Sardinia/Piedmont,-8,-8,-8,-8,-8,-8
26,28,300,Austria,-8,-8,-8,-8,-8,-8
27,28,220,France,-8,-8,-8,-8,-8,-8
28,31,600,Morocco,-8,-8,-8,-8,-8,-8
29,31,230,Spain,-8,-8,-8,-8,-8,-8
...,...,...,...,...,...,...,...,...,...
307,211,652,Syria,-8,-8,-8,-8,-8,-8
308,215,344,Croatia,-8,-8,-8,-8,-8,-8
309,215,346,Bosnia,-8,-8,-8,-8,-8,-8
310,215,345,Yugoslavia,-8,-8,-8,-8,-8,-8
311,216,373,Azerbaijan,-8,-8,-8,-8,-8,-8
312,216,371,Armenia,-8,-8,-8,-8,-8,-8
313,217,130,Ecuador,-8,-8,-8,-8,-8,-8
314,217,135,Peru,-8,-8,-8,-8,-8,-8
315,219,531,Eritrea,-8,-8,-8,-8,-8,-8
316,219,530,Ethiopia,-8,-8,-8,-8,-8,-8
317,221,640,Turkey,-8,-8,-8,-8,-8,-8
318,221,325,Italy,-8,-8,-8,-8,-8,-8
319,221,200,United Kingdom,-8,-8,-8,-8,-8,-8
320,221,2,United States of America,-8,-8,-8,-8,-8,-8
321,221,210,Netherlands,-8,-8,-8,-8,-8,-8
322,221,220,France,-8,-8,-8,-8,-8,-8
323,221,345,Yugoslavia,-8,-8,-8,-8,-8,-8
324,221,255,Germany,-8,-8,-8,-8,-8,-8
325,223,750,India,-8,-8,-8,-8,-8,-8
326,223,770,Pakistan,-8,-8,-8,-8,-8,-8
327,225,20,Canada,-8,-8,-8,-8,-8,-8
328,225,220,France,-8,-8,-8,-8,-8,-8
329,225,200,United Kingdom,-8,-8,-8,-8,-8,-8
330,225,2,United States of America,-8,-8,-8,-8,-8,-8
331,225,900,Australia,-8,-8,-8,-8,-8,-8
332,225,700,Afghanistan,-8,-8,-8,-8,-8,-8
333,227,900,Australia,-8,-8,-8,-8,-8,-8
334,227,200,United Kingdom,-8,-8,-8,-8,-8,-8
335,227,2,United States of America,-8,-8,-8,-8,-8,-8
336,227,645,Iraq,-8,-8,-8,-8,-8,-8

In [53]:
dfInterStateWarDates2 = dfInterStateWarDates2.replace(-8, '')
dfInterStateWarDates2

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,1,230,Spain,,,,,,
1,1,220,France,,,,,,
2,4,640,Ottoman Empire,,,,,,
3,4,365,Russia,,,,,,
4,7,70,Mexico,,,,,,
5,7,2,United States of America,,,,,,
6,10,337,Tuscany,,,,,,
7,10,325,Italy,3,12,1849,3,30,1849
8,10,300,Austria,3,12,1849,3,30,1849
9,10,332,Modena,,,,,,
10,13,255,Prussia,3,25,1849,7,10,1849
11,13,390,Denmark,3,25,1849,7,10,1849
12,16,220,France,,,,,,
13,16,329,Two Sicilies,,,,,,
14,16,300,Austria,,,,,,
15,16,327,Papal States,,,,,,
16,19,160,Argentina,,,,,,
17,19,140,Brazil,,,,,,
18,22,640,Turkey,,,,,,
19,22,325,Italy,,,,,,
20,22,220,France,,,,,,
21,22,200,United Kingdom,,,,,,
22,22,365,Russia,,,,,,
23,25,200,United Kingdom,,,,,,
24,25,630,Iran,,,,,,
25,28,325,Sardinia/Piedmont,,,,,,
26,28,300,Austria,,,,,,
27,28,220,France,,,,,,
28,31,600,Morocco,,,,,,
29,31,230,Spain,,,,,,
...,...,...,...,...,...,...,...,...,...
307,211,652,Syria,,,,,,
308,215,344,Croatia,,,,,,
309,215,346,Bosnia,,,,,,
310,215,345,Yugoslavia,,,,,,
311,216,373,Azerbaijan,,,,,,
312,216,371,Armenia,,,,,,
313,217,130,Ecuador,,,,,,
314,217,135,Peru,,,,,,
315,219,531,Eritrea,,,,,,
316,219,530,Ethiopia,,,,,,
317,221,640,Turkey,,,,,,
318,221,325,Italy,,,,,,
319,221,200,United Kingdom,,,,,,
320,221,2,United States of America,,,,,,
321,221,210,Netherlands,,,,,,
322,221,220,France,,,,,,
323,221,345,Yugoslavia,,,,,,
324,221,255,Germany,,,,,,
325,223,750,India,,,,,,
326,223,770,Pakistan,,,,,,
327,225,20,Canada,,,,,,
328,225,220,France,,,,,,
329,225,200,United Kingdom,,,,,,
330,225,2,United States of America,,,,,,
331,225,900,Australia,,,,,,
332,225,700,Afghanistan,,,,,,
333,227,900,Australia,,,,,,
334,227,200,United Kingdom,,,,,,
335,227,2,United States of America,,,,,,
336,227,645,Iraq,,,,,,

In [54]:
dfInterStateWarDates2['datesconcat'] = dfInterStateWarDates2['StartMonth'].map(str) + dfInterStateWarDates2['StartDay'].map(str) + dfInterStateWarDates2['StartYear'].map(str) + dfInterStateWarDates2['EndMonth'].map(str) + dfInterStateWarDates2['EndDay'].map(str) + dfInterStateWarDates2['EndYear'].map(str)
dfInterStateWarDates2

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear,datesconcat
0,1,230,Spain,,,,,,,
1,1,220,France,,,,,,,
2,4,640,Ottoman Empire,,,,,,,
3,4,365,Russia,,,,,,,
4,7,70,Mexico,,,,,,,
5,7,2,United States of America,,,,,,,
6,10,337,Tuscany,,,,,,,
7,10,325,Italy,3,12,1849,3,30,1849,31218493301849
8,10,300,Austria,3,12,1849,3,30,1849,31218493301849
9,10,332,Modena,,,,,,,
10,13,255,Prussia,3,25,1849,7,10,1849,32518497101849
11,13,390,Denmark,3,25,1849,7,10,1849,32518497101849
12,16,220,France,,,,,,,
13,16,329,Two Sicilies,,,,,,,
14,16,300,Austria,,,,,,,
15,16,327,Papal States,,,,,,,
16,19,160,Argentina,,,,,,,
17,19,140,Brazil,,,,,,,
18,22,640,Turkey,,,,,,,
19,22,325,Italy,,,,,,,
20,22,220,France,,,,,,,
21,22,200,United Kingdom,,,,,,,
22,22,365,Russia,,,,,,,
23,25,200,United Kingdom,,,,,,,
24,25,630,Iran,,,,,,,
25,28,325,Sardinia/Piedmont,,,,,,,
26,28,300,Austria,,,,,,,
27,28,220,France,,,,,,,
28,31,600,Morocco,,,,,,,
29,31,230,Spain,,,,,,,
...,...,...,...,...,...,...,...,...,...,...
307,211,652,Syria,,,,,,,
308,215,344,Croatia,,,,,,,
309,215,346,Bosnia,,,,,,,
310,215,345,Yugoslavia,,,,,,,
311,216,373,Azerbaijan,,,,,,,
312,216,371,Armenia,,,,,,,
313,217,130,Ecuador,,,,,,,
314,217,135,Peru,,,,,,,
315,219,531,Eritrea,,,,,,,
316,219,530,Ethiopia,,,,,,,
317,221,640,Turkey,,,,,,,
318,221,325,Italy,,,,,,,
319,221,200,United Kingdom,,,,,,,
320,221,2,United States of America,,,,,,,
321,221,210,Netherlands,,,,,,,
322,221,220,France,,,,,,,
323,221,345,Yugoslavia,,,,,,,
324,221,255,Germany,,,,,,,
325,223,750,India,,,,,,,
326,223,770,Pakistan,,,,,,,
327,225,20,Canada,,,,,,,
328,225,220,France,,,,,,,
329,225,200,United Kingdom,,,,,,,
330,225,2,United States of America,,,,,,,
331,225,900,Australia,,,,,,,
332,225,700,Afghanistan,,,,,,,
333,227,900,Australia,,,,,,,
334,227,200,United Kingdom,,,,,,,
335,227,2,United States of America,,,,,,,
336,227,645,Iraq,,,,,,,

In [55]:
missdate = dfInterStateWarDates2.loc[0, 'datesconcat']
dfInterStateWarDates2 = dfInterStateWarDates2[dfInterStateWarDates2.datesconcat != missdate]
dfInterStateWarDates2

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear,datesconcat
7,10,325,Italy,3,12,1849,3,30,1849,31218493301849
8,10,300,Austria,3,12,1849,3,30,1849,31218493301849
10,13,255,Prussia,3,25,1849,7,10,1849,32518497101849
11,13,390,Denmark,3,25,1849,7,10,1849,32518497101849
38,46,255,Germany,6,25,1864,7,20,1864,62518647201864
39,46,390,Denmark,6,25,1864,7,20,1864,62518647201864
40,46,300,Austria,6,25,1864,7,20,1864,62518647201864
104,100,355,Bulgaria,2,3,1913,4,19,1913,2319134191913
105,100,345,Yugoslavia,2,3,1913,4,19,1913,2319134191913
182,139,365,USSR,8,8,1945,8,14,1945,8819458141945
185,139,220,France,10,23,1944,8,14,1945,102319448141945
197,148,666,Israel,10,15,1948,1,7,1949,10151948171949
198,148,651,Egypt,10,15,1948,1,7,1949,10151948171949
199,148,652,Syria,10,15,1948,10,31,1948,1015194810311948
200,148,660,Lebanon,10,15,1948,10,31,1948,1015194810311948
201,148,663,Jordan,10,15,1948,10,31,1948,1015194810311948
202,148,645,Iraq,10,15,1948,10,31,1948,1015194810311948
268,184,640,Turkey,8,14,1974,8,16,1974,81419748161974
269,184,352,Cyprus,8,14,1974,8,16,1974,81419748161974

In [56]:
dfInterStateWarDates2.drop(columns=['datesconcat'], inplace=True)
dfInterStateWarDates2

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
7,10,325,Italy,3,12,1849,3,30,1849
8,10,300,Austria,3,12,1849,3,30,1849
10,13,255,Prussia,3,25,1849,7,10,1849
11,13,390,Denmark,3,25,1849,7,10,1849
38,46,255,Germany,6,25,1864,7,20,1864
39,46,390,Denmark,6,25,1864,7,20,1864
40,46,300,Austria,6,25,1864,7,20,1864
104,100,355,Bulgaria,2,3,1913,4,19,1913
105,100,345,Yugoslavia,2,3,1913,4,19,1913
182,139,365,USSR,8,8,1945,8,14,1945
185,139,220,France,10,23,1944,8,14,1945
197,148,666,Israel,10,15,1948,1,7,1949
198,148,651,Egypt,10,15,1948,1,7,1949
199,148,652,Syria,10,15,1948,10,31,1948
200,148,660,Lebanon,10,15,1948,10,31,1948
201,148,663,Jordan,10,15,1948,10,31,1948
202,148,645,Iraq,10,15,1948,10,31,1948
268,184,640,Turkey,8,14,1974,8,16,1974
269,184,352,Cyprus,8,14,1974,8,16,1974

In [57]:
combinedInterStateWarDates = [dfInterStateWarDates1, dfInterStateWarDates2]
dfInterStateWarDates = pd.concat(combinedInterStateWarDates)
dfInterStateWarDates

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,1,230,Spain,4,7,1823,11,13,1823
1,1,220,France,4,7,1823,11,13,1823
2,4,640,Ottoman Empire,4,26,1828,9,14,1829
3,4,365,Russia,4,26,1828,9,14,1829
4,7,70,Mexico,4,25,1846,9,14,1847
5,7,2,United States of America,4,25,1846,9,14,1847
6,10,337,Tuscany,3,29,1848,8,9,1848
7,10,325,Italy,3,24,1848,8,9,1848
8,10,300,Austria,3,24,1848,8,9,1848
9,10,332,Modena,4,9,1848,8,9,1848
10,13,255,Prussia,4,10,1848,8,26,1848
11,13,390,Denmark,4,10,1848,8,26,1848
12,16,220,France,4,30,1849,7,2,1849
13,16,329,Two Sicilies,5,8,1849,7,2,1849
14,16,300,Austria,5,8,1849,7,2,1849
15,16,327,Papal States,4,30,1849,7,2,1849
16,19,160,Argentina,7,19,1851,2,3,1852
17,19,140,Brazil,7,19,1851,2,3,1852
18,22,640,Turkey,10,23,1853,3,1,1856
19,22,325,Italy,1,10,1855,3,1,1856
20,22,220,France,3,31,1854,3,1,1856
21,22,200,United Kingdom,3,31,1854,3,1,1856
22,22,365,Russia,10,23,1853,3,1,1856
23,25,200,United Kingdom,10,25,1856,4,5,1857
24,25,630,Iran,10,25,1856,4,5,1857
25,28,325,Sardinia/Piedmont,4,29,1859,7,12,1859
26,28,300,Austria,4,29,1859,7,12,1859
27,28,220,France,5,3,1859,7,12,1859
28,31,600,Morocco,10,22,1859,3,25,1860
29,31,230,Spain,10,22,1859,3,25,1860
...,...,...,...,...,...,...,...,...,...
326,223,770,Pakistan,5,8,1999,7,17,1999
327,225,20,Canada,11,15,2001,12,22,2001
328,225,220,France,10,21,2001,12,22,2001
329,225,200,United Kingdom,10,7,2001,12,22,2001
330,225,2,United States of America,10,7,2001,12,22,2001
331,225,900,Australia,10,17,2001,12,22,2001
332,225,700,Afghanistan,10,7,2001,12,22,2001
333,227,900,Australia,3,19,2003,5,2,2003
334,227,200,United Kingdom,3,19,2003,5,2,2003
335,227,2,United States of America,3,19,2003,5,2,2003
336,227,645,Iraq,3,19,2003,5,2,2003
7,10,325,Italy,3,12,1849,3,30,1849
8,10,300,Austria,3,12,1849,3,30,1849
10,13,255,Prussia,3,25,1849,7,10,1849
11,13,390,Denmark,3,25,1849,7,10,1849
38,46,255,Germany,6,25,1864,7,20,1864
39,46,390,Denmark,6,25,1864,7,20,1864
40,46,300,Austria,6,25,1864,7,20,1864
104,100,355,Bulgaria,2,3,1913,4,19,1913
105,100,345,Yugoslavia,2,3,1913,4,19,1913
182,139,365,USSR,8,8,1945,8,14,1945
185,139,220,France,10,23,1944,8,14,1945
197,148,666,Israel,10,15,1948,1,7,1949
198,148,651,Egypt,10,15,1948,1,7,1949
199,148,652,Syria,10,15,1948,10,31,1948
200,148,660,Lebanon,10,15,1948,10,31,1948
201,148,663,Jordan,10,15,1948,10,31,1948
202,148,645,Iraq,10,15,1948,10,31,1948
268,184,640,Turkey,8,14,1974,8,16,1974
269,184,352,Cyprus,8,14,1974,8,16,1974

In [58]:
dfInterStateWarDates = dfInterStateWarDates[['WarID', 'PolityName', 'StateID', 'StartYear', 'StartMonth', 'StartDay', 'EndYear', 'EndMonth', 'EndDay']]
dfInterStateWarDates

,WarID,PolityName,StateID,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,1,Spain,230,1823,4,7,1823,11,13
1,1,France,220,1823,4,7,1823,11,13
2,4,Ottoman Empire,640,1828,4,26,1829,9,14
3,4,Russia,365,1828,4,26,1829,9,14
4,7,Mexico,70,1846,4,25,1847,9,14
5,7,United States of America,2,1846,4,25,1847,9,14
6,10,Tuscany,337,1848,3,29,1848,8,9
7,10,Italy,325,1848,3,24,1848,8,9
8,10,Austria,300,1848,3,24,1848,8,9
9,10,Modena,332,1848,4,9,1848,8,9
10,13,Prussia,255,1848,4,10,1848,8,26
11,13,Denmark,390,1848,4,10,1848,8,26
12,16,France,220,1849,4,30,1849,7,2
13,16,Two Sicilies,329,1849,5,8,1849,7,2
14,16,Austria,300,1849,5,8,1849,7,2
15,16,Papal States,327,1849,4,30,1849,7,2
16,19,Argentina,160,1851,7,19,1852,2,3
17,19,Brazil,140,1851,7,19,1852,2,3
18,22,Turkey,640,1853,10,23,1856,3,1
19,22,Italy,325,1855,1,10,1856,3,1
20,22,France,220,1854,3,31,1856,3,1
21,22,United Kingdom,200,1854,3,31,1856,3,1
22,22,Russia,365,1853,10,23,1856,3,1
23,25,United Kingdom,200,1856,10,25,1857,4,5
24,25,Iran,630,1856,10,25,1857,4,5
25,28,Sardinia/Piedmont,325,1859,4,29,1859,7,12
26,28,Austria,300,1859,4,29,1859,7,12
27,28,France,220,1859,5,3,1859,7,12
28,31,Morocco,600,1859,10,22,1860,3,25
29,31,Spain,230,1859,10,22,1860,3,25
...,...,...,...,...,...,...,...,...,...
326,223,Pakistan,770,1999,5,8,1999,7,17
327,225,Canada,20,2001,11,15,2001,12,22
328,225,France,220,2001,10,21,2001,12,22
329,225,United Kingdom,200,2001,10,7,2001,12,22
330,225,United States of America,2,2001,10,7,2001,12,22
331,225,Australia,900,2001,10,17,2001,12,22
332,225,Afghanistan,700,2001,10,7,2001,12,22
333,227,Australia,900,2003,3,19,2003,5,2
334,227,United Kingdom,200,2003,3,19,2003,5,2
335,227,United States of America,2,2003,3,19,2003,5,2
336,227,Iraq,645,2003,3,19,2003,5,2
7,10,Italy,325,1849,3,12,1849,3,30
8,10,Austria,300,1849,3,12,1849,3,30
10,13,Prussia,255,1849,3,25,1849,7,10
11,13,Denmark,390,1849,3,25,1849,7,10
38,46,Germany,255,1864,6,25,1864,7,20
39,46,Denmark,390,1864,6,25,1864,7,20
40,46,Austria,300,1864,6,25,1864,7,20
104,100,Bulgaria,355,1913,2,3,1913,4,19
105,100,Yugoslavia,345,1913,2,3,1913,4,19
182,139,USSR,365,1945,8,8,1945,8,14
185,139,France,220,1944,10,23,1945,8,14
197,148,Israel,666,1948,10,15,1949,1,7
198,148,Egypt,651,1948,10,15,1949,1,7
199,148,Syria,652,1948,10,15,1948,10,31
200,148,Lebanon,660,1948,10,15,1948,10,31
201,148,Jordan,663,1948,10,15,1948,10,31
202,148,Iraq,645,1948,10,15,1948,10,31
268,184,Turkey,640,1974,8,14,1974,8,16
269,184,Cyprus,352,1974,8,14,1974,8,16

In [59]:
dfIntraStateWar.columns

Index(['WarNum', 'WarName', 'WarType', 'CcodeA', 'SideA', 'CcodeB', 'SideB',
       'Intnl', 'StartMonth1', 'StartDay1', 'StartYear1', 'EndMonth1',
       'EndDay1', 'EndYear1', 'StartMonth2', 'StartDay2', 'StartYear2',
       'EndMonth2', 'EndDay2', 'EndYear2', 'TransFrom', 'WhereFought',
       'Initiator', 'Outcome', 'TransTo', 'SideADeaths', 'SideBDeaths',
       'Version'],
      dtype='object')

In [60]:
dfIntraStateWarDates1A = dfIntraStateWar[['WarNum', 'CcodeA', 'SideA', 'StartMonth1', 'StartDay1', 'StartYear1', 
                                         'EndMonth1', 'EndDay1', 'EndYear1']]
dfIntraStateWarDates2A = dfIntraStateWar[['WarNum', 'CcodeA', 'SideA', 'StartMonth2', 'StartDay2', 'StartYear2', 
                                         'EndMonth2', 'EndDay2', 'EndYear2']]
dfIntraStateWarDates1B = dfIntraStateWar[['WarNum', 'CcodeB', 'SideB', 'StartMonth1', 'StartDay1', 'StartYear1', 
                                         'EndMonth1', 'EndDay1', 'EndYear1']]
dfIntraStateWarDates2B = dfIntraStateWar[['WarNum', 'CcodeB', 'SideB', 'StartMonth2', 'StartDay2', 'StartYear2', 
                                         'EndMonth2', 'EndDay2', 'EndYear2']]

In [61]:
dfIntraStateWarDates1A.rename(columns={'WarNum':'WarID', 'CcodeA':'StateID', 'SideA':'PolityName', 'StartMonth1':'StartMonth', 
                                      'StartDay1':'StartDay', 'StartYear1':'StartYear', 'EndMonth1':'EndMonth', 
                                      'EndDay1':'EndDay', 'EndYear1':'EndYear'}, inplace=True)
dfIntraStateWarDates2A.rename(columns={'WarNum':'WarID', 'CcodeA':'StateID', 'SideA':'PolityName', 'StartMonth2':'StartMonth', 
                                      'StartDay2':'StartDay', 'StartYear2':'StartYear', 'EndMonth2':'EndMonth', 
                                      'EndDay2':'EndDay', 'EndYear2':'EndYear'}, inplace=True)
dfIntraStateWarDates1B.rename(columns={'WarNum':'WarID', 'CcodeB':'StateID', 'SideB':'PolityName', 'StartMonth1':'StartMonth', 
                                      'StartDay1':'StartDay', 'StartYear1':'StartYear', 'EndMonth1':'EndMonth', 
                                      'EndDay1':'EndDay', 'EndYear1':'EndYear'}, inplace=True)
dfIntraStateWarDates2B.rename(columns={'WarNum':'WarID', 'CcodeB':'StateID', 'SideB':'PolityName', 'StartMonth2':'StartMonth', 
                                      'StartDay2':'StartDay', 'StartYear2':'StartYear', 'EndMonth2':'EndMonth', 
                                      'EndDay2':'EndDay', 'EndYear2':'EndYear'}, inplace=True)

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [62]:
dfIntraStateWarDates1A

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,365.0,Russia,6,10,1818,-9,-9,1822
1,501,-8.0,Sidon,6,-9,1820,7,21,1821
2,502,300.0,Austria,3,-9,1821,3,23,1821
3,502,329.0,Two Sicilies,7,2,1820,3,23,1821
4,503,230.0,Spain,12,1,1821,4,6,1823
5,505,300.0,Austria,3,10,1821,5,8,1821
6,505,325.0,Sardinia,3,10,1821,5,8,1821
7,506,640.0,Ottoman Empire,3,25,1821,4,25,1828
8,506,-8.0,-8,10,20,1827,10,27,1827
9,506,-8.0,-8,10,20,1827,10,27,1827
10,506,-8.0,-8,10,20,1827,4,25,1828
11,507,-8.0,Egypt,3,20,1824,4,-9,1824
12,508,640.0,Ottoman Empire,6,14,1826,9,30,1826
13,510,-8.0,-8,7,1,1831,5,26,1834
14,510,235.0,Portugal,7,11,1828,5,26,1834
15,511,365.0,Russia,-9,-9,1830,10,17,1832
16,512,640.0,Ottoman Empire,2,-9,1830,11,-9,1831
17,513,220.0,France,7,25,1830,7,29,1830
18,515,210.0,Netherlands,8,25,1830,11,4,1830
19,516,-8.0,Egypt,-9,-9,1831,-9,-9,1832
20,517,365.0,Russia,2,7,1831,10,18,1831
21,518,640.0,Ottoman Empire,10,1,1831,12,27,1832
22,520,70.0,Mexico,1,2,1832,12,11,1832
23,521,-8.0,Palestinians,4,19,1834,10,-9,1834
24,522,235.0,Portugal,10,15,1835,2,15,1836
25,522,230.0,Spain,7,15,1834,7,15,1840
26,522,220.0,France,10,31,1835,1,17,1839
27,522,200.0,United Kingdom,7,10,1835,9,1,1837
28,523,365.0,Russia,9,26,1834,10,27,1834
29,525,140.0,Brazil,1,6,1835,5,-9,1837
...,...,...,...,...,...,...,...,...,...
412,910,-8.0,Laskar Jihad,1,-9,1999,8,22,2000
413,911,-8.0,Christian Tarok,5,-9,1999,5,31,2000
414,912,850.0,Indonesia,5,3,1999,12,9,2002
415,913,530.0,Ethiopia,5,30,1999,8,18,1999
416,915,365.0,Russia,8,7,1999,10,3,2003
417,916,840.0,Philippines,4,23,2000,6,22,2001
418,917,438.0,Guinea,9,11,2000,4,-9,2001
419,918,516.0,Burundi,3,21,2001,10,8,2003
420,920,517.0,Rwanda,5,21,2001,9,4,2001
421,921,790.0,Nepal,11,23,2001,1,29,2003
422,922,450.0,Liberia,2,-9,2002,8,11,2003
423,923,NaN,Anyuaa,8,-9,2002,1,-9,2003
424,925,220.0,France,12,11,2002,11,16,2004
425,925,437.0,Cote d'Ivoire,9,19,2002,11,16,2004
426,926,840.0,Phillippines,2,11,2003,7,-9,2003
427,927,625.0,Sudan,2,26,2003,12,11,2006
428,930,850.0,Indonesia,5,18,2003,11,18,2003
429,931,790.0,Nepal,8,27,2003,4,26,2006
430,932,2.0,United States,2,20,2004,9,5,2006
431,932,770.0,Pakistan,2,20,2004,9,5,2006
432,933,NaN,Christian Tarok,3,-9,2004,9,16,2004
433,935,679.0,Yemen,6,21,2004,4,8,2005
434,936,840.0,Phillippines,1,17,2005,7,11,2006
435,937,483.0,Chad,12,18,2005,12,20,2006
436,938,2.0,United States,1,7,2007,6,3,2007
437,938,520.0,Somalia,3,6,2006,6,1,2008
438,938,530.0,Ethiopia,10,9,2006,6,11,2008
439,938,-8.0,-8,10,19,2006,6,11,2008
440,940,780.0,Sri Lanka,10,11,2006,-7,-7,-7
441,941,679.0,Yemen,1,29,2007,6,16,2007

In [63]:
dfIntraStateWarDates1A = dfIntraStateWarDates1A[dfIntraStateWarDates1A.PolityName != '-8']
dfIntraStateWarDates1A

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,365.0,Russia,6,10,1818,-9,-9,1822
1,501,-8.0,Sidon,6,-9,1820,7,21,1821
2,502,300.0,Austria,3,-9,1821,3,23,1821
3,502,329.0,Two Sicilies,7,2,1820,3,23,1821
4,503,230.0,Spain,12,1,1821,4,6,1823
5,505,300.0,Austria,3,10,1821,5,8,1821
6,505,325.0,Sardinia,3,10,1821,5,8,1821
7,506,640.0,Ottoman Empire,3,25,1821,4,25,1828
11,507,-8.0,Egypt,3,20,1824,4,-9,1824
12,508,640.0,Ottoman Empire,6,14,1826,9,30,1826
14,510,235.0,Portugal,7,11,1828,5,26,1834
15,511,365.0,Russia,-9,-9,1830,10,17,1832
16,512,640.0,Ottoman Empire,2,-9,1830,11,-9,1831
17,513,220.0,France,7,25,1830,7,29,1830
18,515,210.0,Netherlands,8,25,1830,11,4,1830
19,516,-8.0,Egypt,-9,-9,1831,-9,-9,1832
20,517,365.0,Russia,2,7,1831,10,18,1831
21,518,640.0,Ottoman Empire,10,1,1831,12,27,1832
22,520,70.0,Mexico,1,2,1832,12,11,1832
23,521,-8.0,Palestinians,4,19,1834,10,-9,1834
24,522,235.0,Portugal,10,15,1835,2,15,1836
25,522,230.0,Spain,7,15,1834,7,15,1840
26,522,220.0,France,10,31,1835,1,17,1839
27,522,200.0,United Kingdom,7,10,1835,9,1,1837
28,523,365.0,Russia,9,26,1834,10,27,1834
29,525,140.0,Brazil,1,6,1835,5,-9,1837
30,526,140.0,Brazil,9,19,1835,3,1,1845
31,527,70.0,Mexico,10,1,1835,4,22,1836
32,528,640.0,Ottoman Empire,-9,-9,1836,-9,-9,1837
33,530,365.0,Russia,7,-9,1836,-9,-9,1852
...,...,...,...,...,...,...,...,...,...
411,908,484.0,Congo (Brazzaville),12,15,1998,11,16,1999
412,910,-8.0,Laskar Jihad,1,-9,1999,8,22,2000
413,911,-8.0,Christian Tarok,5,-9,1999,5,31,2000
414,912,850.0,Indonesia,5,3,1999,12,9,2002
415,913,530.0,Ethiopia,5,30,1999,8,18,1999
416,915,365.0,Russia,8,7,1999,10,3,2003
417,916,840.0,Philippines,4,23,2000,6,22,2001
418,917,438.0,Guinea,9,11,2000,4,-9,2001
419,918,516.0,Burundi,3,21,2001,10,8,2003
420,920,517.0,Rwanda,5,21,2001,9,4,2001
421,921,790.0,Nepal,11,23,2001,1,29,2003
422,922,450.0,Liberia,2,-9,2002,8,11,2003
423,923,NaN,Anyuaa,8,-9,2002,1,-9,2003
424,925,220.0,France,12,11,2002,11,16,2004
425,925,437.0,Cote d'Ivoire,9,19,2002,11,16,2004
426,926,840.0,Phillippines,2,11,2003,7,-9,2003
427,927,625.0,Sudan,2,26,2003,12,11,2006
428,930,850.0,Indonesia,5,18,2003,11,18,2003
429,931,790.0,Nepal,8,27,2003,4,26,2006
430,932,2.0,United States,2,20,2004,9,5,2006
431,932,770.0,Pakistan,2,20,2004,9,5,2006
432,933,NaN,Christian Tarok,3,-9,2004,9,16,2004
433,935,679.0,Yemen,6,21,2004,4,8,2005
434,936,840.0,Phillippines,1,17,2005,7,11,2006
435,937,483.0,Chad,12,18,2005,12,20,2006
436,938,2.0,United States,1,7,2007,6,3,2007
437,938,520.0,Somalia,3,6,2006,6,1,2008
438,938,530.0,Ethiopia,10,9,2006,6,11,2008
440,940,780.0,Sri Lanka,10,11,2006,-7,-7,-7
441,941,679.0,Yemen,1,29,2007,6,16,2007

In [64]:
dfIntraStateWarDates1B

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,-8.0,"Georgians, Dhagestania, Chechens",6,10,1818,-9,-9,1822
1,501,-8.0,Damascus & Aleppo,6,-9,1820,7,21,1821
2,502,-8.0,-8,3,-9,1821,3,23,1821
3,502,-8.0,Liberals,7,2,1820,3,23,1821
4,503,-8.0,Royalists,12,1,1821,4,6,1823
5,505,-8.0,-8,3,10,1821,5,8,1821
6,505,-8.0,Carbonari,3,10,1821,5,8,1821
7,506,-8.0,Greeks,3,25,1821,4,25,1828
8,506,200.0,United Kingdom,10,20,1827,10,27,1827
9,506,220.0,France,10,20,1827,10,27,1827
10,506,365.0,Russia,10,20,1827,4,25,1828
11,507,-8.0,Mehdi army,3,20,1824,4,-9,1824
12,508,-8.0,Janissaries,6,14,1826,9,30,1826
13,510,200.0,United Kingdom,7,1,1831,5,26,1834
14,510,-8.0,Constitutionalists,7,11,1828,5,26,1834
15,511,-8.0,Ghazi Muhammad,-9,-9,1830,10,17,1832
16,512,-8.0,Albanians,2,-9,1830,11,-9,1831
17,513,-8.0,Liberals,7,25,1830,7,29,1830
18,515,-8.0,Belgians,8,25,1830,11,4,1830
19,516,-8.0,Hadendowa,-9,-9,1831,-9,-9,1832
20,517,-8.0,Poles,2,7,1831,10,18,1831
21,518,-8.0,Egyptians & Bashir,10,1,1831,12,27,1832
22,520,-8.0,Liberals,1,2,1832,12,11,1832
23,521,-8.0,Egypt,4,19,1834,10,-9,1834
24,522,-8.0,-8,10,15,1835,2,15,1836
25,522,-8.0,Carlists,7,15,1834,7,15,1840
26,522,-8.0,-8,10,31,1835,1,17,1839
27,522,-8.0,-8,7,10,1835,9,1,1837
28,523,-8.0,Shamil,9,26,1834,10,27,1834
29,525,-8.0,Cabanos,1,6,1835,5,-9,1837
...,...,...,...,...,...,...,...,...,...
412,910,-8.0,FKM & RMS,1,-9,1999,8,22,2000
413,911,-8.0,Muslim Fulani,5,-9,1999,5,31,2000
414,912,-8.0,GAM,5,3,1999,12,9,2002
415,913,-8.0,Oromo Lib. Front,5,30,1999,8,18,1999
416,915,-8.0,Chechnya,8,7,1999,10,3,2003
417,916,-8.0,MILF,4,23,2000,6,22,2001
418,917,-8.0,RDFG,9,11,2000,4,-9,2001
419,918,-8.0,FNL & FROLINA,3,21,2001,10,8,2003
420,920,-8.0,Army for the Liberation of Rwanda,5,21,2001,9,4,2001
421,921,-8.0,CPN,11,23,2001,1,29,2003
422,922,-8.0,LURD & MODEL,2,-9,2002,8,11,2003
423,923,-8.0,Nuer,8,-9,2002,1,-9,2003
424,925,-8.0,-8,12,11,2002,11,16,2004
425,925,-8.0,"MPCI, MPIGO, MJP",9,19,2002,11,16,2004
426,926,-8.0,MILF & ASG,2,11,2003,7,-9,2003
427,927,-8.0,SLA & JEM,2,26,2003,12,11,2006
428,930,-8.0,GAM,5,18,2003,11,18,2003
429,931,-8.0,CPN,8,27,2003,4,26,2006
430,932,-8.0,-8,2,20,2004,9,5,2006
431,932,-8.0,Waziri tribes,2,20,2004,9,5,2006
432,933,-8.0,Muslim Fulani,3,-9,2004,9,16,2004
433,935,-8.0,Zaidi Muslims,6,21,2004,4,8,2005
434,936,-8.0,MILF & NPA,1,17,2005,7,11,2006
435,937,-8.0,FUDC,12,18,2005,12,20,2006
436,938,-8.0,-8,1,7,2007,6,3,2007
437,938,-8.0,SCIC,3,6,2006,6,1,2008
438,938,-8.0,-8,10,9,2006,6,11,2008
439,938,531.0,Eritrea,10,19,2006,6,11,2008
440,940,-8.0,LTTE,10,11,2006,-7,-7,-7
441,941,-8.0,Zaidi Muslims,1,29,2007,6,16,2007

In [65]:
dfIntraStateWarDates1B = dfIntraStateWarDates1B[dfIntraStateWarDates1B.PolityName != '-8']
dfIntraStateWarDates1B

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,-8.0,"Georgians, Dhagestania, Chechens",6,10,1818,-9,-9,1822
1,501,-8.0,Damascus & Aleppo,6,-9,1820,7,21,1821
3,502,-8.0,Liberals,7,2,1820,3,23,1821
4,503,-8.0,Royalists,12,1,1821,4,6,1823
6,505,-8.0,Carbonari,3,10,1821,5,8,1821
7,506,-8.0,Greeks,3,25,1821,4,25,1828
8,506,200.0,United Kingdom,10,20,1827,10,27,1827
9,506,220.0,France,10,20,1827,10,27,1827
10,506,365.0,Russia,10,20,1827,4,25,1828
11,507,-8.0,Mehdi army,3,20,1824,4,-9,1824
12,508,-8.0,Janissaries,6,14,1826,9,30,1826
13,510,200.0,United Kingdom,7,1,1831,5,26,1834
14,510,-8.0,Constitutionalists,7,11,1828,5,26,1834
15,511,-8.0,Ghazi Muhammad,-9,-9,1830,10,17,1832
16,512,-8.0,Albanians,2,-9,1830,11,-9,1831
17,513,-8.0,Liberals,7,25,1830,7,29,1830
18,515,-8.0,Belgians,8,25,1830,11,4,1830
19,516,-8.0,Hadendowa,-9,-9,1831,-9,-9,1832
20,517,-8.0,Poles,2,7,1831,10,18,1831
21,518,-8.0,Egyptians & Bashir,10,1,1831,12,27,1832
22,520,-8.0,Liberals,1,2,1832,12,11,1832
23,521,-8.0,Egypt,4,19,1834,10,-9,1834
25,522,-8.0,Carlists,7,15,1834,7,15,1840
28,523,-8.0,Shamil,9,26,1834,10,27,1834
29,525,-8.0,Cabanos,1,6,1835,5,-9,1837
30,526,-8.0,Farrapos,9,19,1835,3,1,1845
31,527,-8.0,Texans,10,1,1835,4,22,1836
32,528,-8.0,Bosnians,-9,-9,1836,-9,-9,1837
33,530,-8.0,Shamil,7,-9,1836,-9,-9,1852
34,531,-8.0,Bahian Sabinada,11,7,1837,3,13,1838
...,...,...,...,...,...,...,...,...,...
408,905,-8.0,"RCD, MLC, et al",8,2,1998,12,17,2002
409,906,-8.0,MDD & MDJT,10,16,1998,4,28,2000
410,907,-8.0,UNITA,12,4,1998,2,22,2002
411,908,-8.0,Ninjas and Cocoye militias,12,15,1998,11,16,1999
412,910,-8.0,FKM & RMS,1,-9,1999,8,22,2000
413,911,-8.0,Muslim Fulani,5,-9,1999,5,31,2000
414,912,-8.0,GAM,5,3,1999,12,9,2002
415,913,-8.0,Oromo Lib. Front,5,30,1999,8,18,1999
416,915,-8.0,Chechnya,8,7,1999,10,3,2003
417,916,-8.0,MILF,4,23,2000,6,22,2001
418,917,-8.0,RDFG,9,11,2000,4,-9,2001
419,918,-8.0,FNL & FROLINA,3,21,2001,10,8,2003
420,920,-8.0,Army for the Liberation of Rwanda,5,21,2001,9,4,2001
421,921,-8.0,CPN,11,23,2001,1,29,2003
422,922,-8.0,LURD & MODEL,2,-9,2002,8,11,2003
423,923,-8.0,Nuer,8,-9,2002,1,-9,2003
425,925,-8.0,"MPCI, MPIGO, MJP",9,19,2002,11,16,2004
426,926,-8.0,MILF & ASG,2,11,2003,7,-9,2003
427,927,-8.0,SLA & JEM,2,26,2003,12,11,2006
428,930,-8.0,GAM,5,18,2003,11,18,2003
429,931,-8.0,CPN,8,27,2003,4,26,2006
431,932,-8.0,Waziri tribes,2,20,2004,9,5,2006
432,933,-8.0,Muslim Fulani,3,-9,2004,9,16,2004
433,935,-8.0,Zaidi Muslims,6,21,2004,4,8,2005
434,936,-8.0,MILF & NPA,1,17,2005,7,11,2006
435,937,-8.0,FUDC,12,18,2005,12,20,2006
437,938,-8.0,SCIC,3,6,2006,6,1,2008
439,938,531.0,Eritrea,10,19,2006,6,11,2008
440,940,-8.0,LTTE,10,11,2006,-7,-7,-7
441,941,-8.0,Zaidi Muslims,1,29,2007,6,16,2007

In [66]:
dfIntraStateWarDates2A

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,365.0,Russia,-8,-8,-8,-8,-8,-8
1,501,-8.0,Sidon,-8,-8,-8,-8,-8,-8
2,502,300.0,Austria,-8,-8,-8,-8,-8,-8
3,502,329.0,Two Sicilies,-8,-8,-8,-8,-8,-8
4,503,230.0,Spain,-8,-8,-8,-8,-8,-8
5,505,300.0,Austria,-8,-8,-8,-8,-8,-8
6,505,325.0,Sardinia,-8,-8,-8,-8,-8,-8
7,506,640.0,Ottoman Empire,-8,-8,-8,-8,-8,-8
8,506,-8.0,-8,-8,-8,-8,-8,-8,-8
9,506,-8.0,-8,-8,-8,-8,-8,-8,-8
10,506,-8.0,-8,-8,-8,-8,-8,-8,-8
11,507,-8.0,Egypt,-8,-8,-8,-8,-8,-8
12,508,640.0,Ottoman Empire,-8,-8,-8,-8,-8,-8
13,510,-8.0,-8,-8,-8,-8,-8,-8,-8
14,510,235.0,Portugal,-8,-8,-8,-8,-8,-8
15,511,365.0,Russia,-8,-8,-8,-8,-8,-8
16,512,640.0,Ottoman Empire,-8,-8,-8,-8,-8,-8
17,513,220.0,France,-8,-8,-8,-8,-8,-8
18,515,210.0,Netherlands,-8,-8,-8,-8,-8,-8
19,516,-8.0,Egypt,-8,-8,-8,-8,-8,-8
20,517,365.0,Russia,-8,-8,-8,-8,-8,-8
21,518,640.0,Ottoman Empire,-8,-8,-8,-8,-8,-8
22,520,70.0,Mexico,-8,-8,-8,-8,-8,-8
23,521,-8.0,Palestinians,-8,-8,-8,-8,-8,-8
24,522,235.0,Portugal,-8,-8,-8,-8,-8,-8
25,522,230.0,Spain,-8,-8,-8,-8,-8,-8
26,522,220.0,France,-8,-8,-8,-8,-8,-8
27,522,200.0,United Kingdom,-8,-8,-8,-8,-8,-8
28,523,365.0,Russia,-8,-8,-8,-8,-8,-8
29,525,140.0,Brazil,-8,-8,-8,-8,-8,-8
...,...,...,...,...,...,...,...,...,...
412,910,-8.0,Laskar Jihad,-8,-8,-8,-8,-8,-8
413,911,-8.0,Christian Tarok,-8,-8,-8,-8,-8,-8
414,912,850.0,Indonesia,-8,-8,-8,-8,-8,-8
415,913,530.0,Ethiopia,-8,-8,-8,-8,-8,-8
416,915,365.0,Russia,-8,-8,-8,-8,-8,-8
417,916,840.0,Philippines,-8,-8,-8,-8,-8,-8
418,917,438.0,Guinea,-8,-8,-8,-8,-8,-8
419,918,516.0,Burundi,-8,-8,-8,-8,-8,-8
420,920,517.0,Rwanda,-8,-8,-8,-8,-8,-8
421,921,790.0,Nepal,-8,-8,-8,-8,-8,-8
422,922,450.0,Liberia,-8,-8,-8,-8,-8,-8
423,923,NaN,Anyuaa,-8,-8,-8,-8,-8,-8
424,925,220.0,France,-8,-8,-8,-8,-8,-8
425,925,437.0,Cote d'Ivoire,-8,-8,-8,-8,-8,-8
426,926,840.0,Phillippines,-8,-8,-8,-8,-8,-8
427,927,625.0,Sudan,-8,-8,-8,-8,-8,-8
428,930,850.0,Indonesia,-8,-8,-8,-8,-8,-8
429,931,790.0,Nepal,-8,-8,-8,-8,-8,-8
430,932,2.0,United States,-8,-8,-8,-8,-8,-8
431,932,770.0,Pakistan,-8,-8,-8,-8,-8,-8
432,933,NaN,Christian Tarok,-8,-8,-8,-8,-8,-8
433,935,679.0,Yemen,-8,-8,-8,-8,-8,-8
434,936,840.0,Phillippines,-8,-8,-8,-8,-8,-8
435,937,483.0,Chad,-8,-8,-8,-8,-8,-8
436,938,2.0,United States,-8,-8,-8,-8,-8,-8
437,938,520.0,Somalia,-8,-8,-8,-8,-8,-8
438,938,530.0,Ethiopia,-8,-8,-8,-8,-8,-8
439,938,-8.0,-8,-8,-8,-8,-8,-8,-8
440,940,780.0,Sri Lanka,-8,-8,-8,-8,-8,-8
441,941,679.0,Yemen,-8,-8,-8,-8,-8,-8

In [67]:
dfIntraStateWarDates2A = dfIntraStateWarDates2A.replace(-8, '')
dfIntraStateWarDates2A['datesconcat'] = dfIntraStateWarDates2A['StartMonth'].map(str) + dfIntraStateWarDates2A['StartDay'].map(str) + dfIntraStateWarDates2A['StartYear'].map(str) + dfIntraStateWarDates2A['EndMonth'].map(str) + dfIntraStateWarDates2A['EndDay'].map(str) + dfIntraStateWarDates2A['EndYear'].map(str)
missdate2A = dfIntraStateWarDates2A.loc[0, 'datesconcat']
dfIntraStateWarDates2A = dfIntraStateWarDates2A[dfIntraStateWarDates2A.datesconcat != missdate2A]
dfIntraStateWarDates2A.drop(columns=['datesconcat'], inplace=True)
dfIntraStateWarDates2A = dfIntraStateWarDates2A[dfIntraStateWarDates2A.PolityName != '-8']
dfIntraStateWarDates2A

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
48,547,329,Two Sicilies,5,15,1848,5,15,1849
86,590,101,Venezuela,8,14,1869,1,7,1871
111,623,730,Korea,9,14,1894,11,28,1894
193,720,350,Greece,2,12,1946,10,16,1949
310,820,620,Libya,6,-9,1983,9,-9,1984
324,836,625,Sudan,4,15,1992,1,10,2005
367,877,346,Bosnia,3,20,1995,12,14,1995
391,898,451,Sierra Leone,5,11,2000,11,10,2000

In [68]:
dfIntraStateWarDates2B

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,-8.0,"Georgians, Dhagestania, Chechens",-8,-8,-8,-8,-8,-8
1,501,-8.0,Damascus & Aleppo,-8,-8,-8,-8,-8,-8
2,502,-8.0,-8,-8,-8,-8,-8,-8,-8
3,502,-8.0,Liberals,-8,-8,-8,-8,-8,-8
4,503,-8.0,Royalists,-8,-8,-8,-8,-8,-8
5,505,-8.0,-8,-8,-8,-8,-8,-8,-8
6,505,-8.0,Carbonari,-8,-8,-8,-8,-8,-8
7,506,-8.0,Greeks,-8,-8,-8,-8,-8,-8
8,506,200.0,United Kingdom,-8,-8,-8,-8,-8,-8
9,506,220.0,France,-8,-8,-8,-8,-8,-8
10,506,365.0,Russia,-8,-8,-8,-8,-8,-8
11,507,-8.0,Mehdi army,-8,-8,-8,-8,-8,-8
12,508,-8.0,Janissaries,-8,-8,-8,-8,-8,-8
13,510,200.0,United Kingdom,-8,-8,-8,-8,-8,-8
14,510,-8.0,Constitutionalists,-8,-8,-8,-8,-8,-8
15,511,-8.0,Ghazi Muhammad,-8,-8,-8,-8,-8,-8
16,512,-8.0,Albanians,-8,-8,-8,-8,-8,-8
17,513,-8.0,Liberals,-8,-8,-8,-8,-8,-8
18,515,-8.0,Belgians,-8,-8,-8,-8,-8,-8
19,516,-8.0,Hadendowa,-8,-8,-8,-8,-8,-8
20,517,-8.0,Poles,-8,-8,-8,-8,-8,-8
21,518,-8.0,Egyptians & Bashir,-8,-8,-8,-8,-8,-8
22,520,-8.0,Liberals,-8,-8,-8,-8,-8,-8
23,521,-8.0,Egypt,-8,-8,-8,-8,-8,-8
24,522,-8.0,-8,-8,-8,-8,-8,-8,-8
25,522,-8.0,Carlists,-8,-8,-8,-8,-8,-8
26,522,-8.0,-8,-8,-8,-8,-8,-8,-8
27,522,-8.0,-8,-8,-8,-8,-8,-8,-8
28,523,-8.0,Shamil,-8,-8,-8,-8,-8,-8
29,525,-8.0,Cabanos,-8,-8,-8,-8,-8,-8
...,...,...,...,...,...,...,...,...,...
412,910,-8.0,FKM & RMS,-8,-8,-8,-8,-8,-8
413,911,-8.0,Muslim Fulani,-8,-8,-8,-8,-8,-8
414,912,-8.0,GAM,-8,-8,-8,-8,-8,-8
415,913,-8.0,Oromo Lib. Front,-8,-8,-8,-8,-8,-8
416,915,-8.0,Chechnya,-8,-8,-8,-8,-8,-8
417,916,-8.0,MILF,-8,-8,-8,-8,-8,-8
418,917,-8.0,RDFG,-8,-8,-8,-8,-8,-8
419,918,-8.0,FNL & FROLINA,-8,-8,-8,-8,-8,-8
420,920,-8.0,Army for the Liberation of Rwanda,-8,-8,-8,-8,-8,-8
421,921,-8.0,CPN,-8,-8,-8,-8,-8,-8
422,922,-8.0,LURD & MODEL,-8,-8,-8,-8,-8,-8
423,923,-8.0,Nuer,-8,-8,-8,-8,-8,-8
424,925,-8.0,-8,-8,-8,-8,-8,-8,-8
425,925,-8.0,"MPCI, MPIGO, MJP",-8,-8,-8,-8,-8,-8
426,926,-8.0,MILF & ASG,-8,-8,-8,-8,-8,-8
427,927,-8.0,SLA & JEM,-8,-8,-8,-8,-8,-8
428,930,-8.0,GAM,-8,-8,-8,-8,-8,-8
429,931,-8.0,CPN,-8,-8,-8,-8,-8,-8
430,932,-8.0,-8,-8,-8,-8,-8,-8,-8
431,932,-8.0,Waziri tribes,-8,-8,-8,-8,-8,-8
432,933,-8.0,Muslim Fulani,-8,-8,-8,-8,-8,-8
433,935,-8.0,Zaidi Muslims,-8,-8,-8,-8,-8,-8
434,936,-8.0,MILF & NPA,-8,-8,-8,-8,-8,-8
435,937,-8.0,FUDC,-8,-8,-8,-8,-8,-8
436,938,-8.0,-8,-8,-8,-8,-8,-8,-8
437,938,-8.0,SCIC,-8,-8,-8,-8,-8,-8
438,938,-8.0,-8,-8,-8,-8,-8,-8,-8
439,938,531.0,Eritrea,-8,-8,-8,-8,-8,-8
440,940,-8.0,LTTE,-8,-8,-8,-8,-8,-8
441,941,-8.0,Zaidi Muslims,-8,-8,-8,-8,-8,-8

In [69]:
dfIntraStateWarDates2B = dfIntraStateWarDates2B.replace(-8, '')
dfIntraStateWarDates2B['datesconcat'] = dfIntraStateWarDates2B['StartMonth'].map(str) + dfIntraStateWarDates2B['StartDay'].map(str) + dfIntraStateWarDates2B['StartYear'].map(str) + dfIntraStateWarDates2B['EndMonth'].map(str) + dfIntraStateWarDates2B['EndDay'].map(str) + dfIntraStateWarDates2B['EndYear'].map(str)
missdate2B = dfIntraStateWarDates2B.loc[0, 'datesconcat']
dfIntraStateWarDates2B = dfIntraStateWarDates2B[dfIntraStateWarDates2B.datesconcat != missdate2B]
dfIntraStateWarDates2B.drop(columns=['datesconcat'], inplace=True)
dfIntraStateWarDates2B = dfIntraStateWarDates2B[dfIntraStateWarDates2B.PolityName != '-8']
dfIntraStateWarDates2B

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
48,547,,Liberals,5,15,1848,5,15,1849
86,590,,Conservatives,8,14,1869,1,7,1871
111,623,,Tonghak Society,9,14,1894,11,28,1894
193,720,,Communists,2,12,1946,10,16,1949
324,836,,SPLA-Garang faction,4,15,1992,1,10,2005
367,877,,Bosnian Serbs,3,20,1995,12,14,1995
369,877,344,Croatia,3,20,1995,12,14,1995
391,898,,Kabbah faction,5,11,2000,11,10,2000
392,898,452,Ghana,5,11,2000,11,10,2000
393,898,475,Nigeria,5,11,2000,11,10,2000
394,898,438,Guinea,5,11,2000,11,10,2000

In [70]:
combinedIntraStateWarDates = [dfIntraStateWarDates1A, dfIntraStateWarDates2A, dfIntraStateWarDates1B, dfIntraStateWarDates2B]
dfIntraStateWarDates = pd.concat(combinedIntraStateWarDates)
dfIntraStateWarDates

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,365,Russia,6,10,1818,-9,-9,1822
1,501,-8,Sidon,6,-9,1820,7,21,1821
2,502,300,Austria,3,-9,1821,3,23,1821
3,502,329,Two Sicilies,7,2,1820,3,23,1821
4,503,230,Spain,12,1,1821,4,6,1823
5,505,300,Austria,3,10,1821,5,8,1821
6,505,325,Sardinia,3,10,1821,5,8,1821
7,506,640,Ottoman Empire,3,25,1821,4,25,1828
11,507,-8,Egypt,3,20,1824,4,-9,1824
12,508,640,Ottoman Empire,6,14,1826,9,30,1826
14,510,235,Portugal,7,11,1828,5,26,1834
15,511,365,Russia,-9,-9,1830,10,17,1832
16,512,640,Ottoman Empire,2,-9,1830,11,-9,1831
17,513,220,France,7,25,1830,7,29,1830
18,515,210,Netherlands,8,25,1830,11,4,1830
19,516,-8,Egypt,-9,-9,1831,-9,-9,1832
20,517,365,Russia,2,7,1831,10,18,1831
21,518,640,Ottoman Empire,10,1,1831,12,27,1832
22,520,70,Mexico,1,2,1832,12,11,1832
23,521,-8,Palestinians,4,19,1834,10,-9,1834
24,522,235,Portugal,10,15,1835,2,15,1836
25,522,230,Spain,7,15,1834,7,15,1840
26,522,220,France,10,31,1835,1,17,1839
27,522,200,United Kingdom,7,10,1835,9,1,1837
28,523,365,Russia,9,26,1834,10,27,1834
29,525,140,Brazil,1,6,1835,5,-9,1837
30,526,140,Brazil,9,19,1835,3,1,1845
31,527,70,Mexico,10,1,1835,4,22,1836
32,528,640,Ottoman Empire,-9,-9,1836,-9,-9,1837
33,530,365,Russia,7,-9,1836,-9,-9,1852
...,...,...,...,...,...,...,...,...,...
419,918,-8,FNL & FROLINA,3,21,2001,10,8,2003
420,920,-8,Army for the Liberation of Rwanda,5,21,2001,9,4,2001
421,921,-8,CPN,11,23,2001,1,29,2003
422,922,-8,LURD & MODEL,2,-9,2002,8,11,2003
423,923,-8,Nuer,8,-9,2002,1,-9,2003
425,925,-8,"MPCI, MPIGO, MJP",9,19,2002,11,16,2004
426,926,-8,MILF & ASG,2,11,2003,7,-9,2003
427,927,-8,SLA & JEM,2,26,2003,12,11,2006
428,930,-8,GAM,5,18,2003,11,18,2003
429,931,-8,CPN,8,27,2003,4,26,2006
431,932,-8,Waziri tribes,2,20,2004,9,5,2006
432,933,-8,Muslim Fulani,3,-9,2004,9,16,2004
433,935,-8,Zaidi Muslims,6,21,2004,4,8,2005
434,936,-8,MILF & NPA,1,17,2005,7,11,2006
435,937,-8,FUDC,12,18,2005,12,20,2006
437,938,-8,SCIC,3,6,2006,6,1,2008
439,938,531,Eritrea,10,19,2006,6,11,2008
440,940,-8,LTTE,10,11,2006,-7,-7,-7
441,941,-8,Zaidi Muslims,1,29,2007,6,16,2007
48,547,,Liberals,5,15,1848,5,15,1849
86,590,,Conservatives,8,14,1869,1,7,1871
111,623,,Tonghak Society,9,14,1894,11,28,1894
193,720,,Communists,2,12,1946,10,16,1949
324,836,,SPLA-Garang faction,4,15,1992,1,10,2005
367,877,,Bosnian Serbs,3,20,1995,12,14,1995
369,877,344,Croatia,3,20,1995,12,14,1995
391,898,,Kabbah faction,5,11,2000,11,10,2000
392,898,452,Ghana,5,11,2000,11,10,2000
393,898,475,Nigeria,5,11,2000,11,10,2000
394,898,438,Guinea,5,11,2000,11,10,2000

In [71]:
PolityNameMaxLength = int(dfIntraStateWarDates['PolityName'].str.encode(encoding='utf-8').str.len().max())
print(PolityNameMaxLength)

47

In [72]:
dfIntraStateWarDates = dfIntraStateWarDates.replace(-9, '')
dfIntraStateWarDates = dfIntraStateWarDates.replace(-8, '')
dfIntraStateWarDates = dfIntraStateWarDates.replace(-7, '')
dfIntraStateWarDates

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,365,Russia,6,10,1818,,,1822
1,501,,Sidon,6,,1820,7,21,1821
2,502,300,Austria,3,,1821,3,23,1821
3,502,329,Two Sicilies,7,2,1820,3,23,1821
4,503,230,Spain,12,1,1821,4,6,1823
5,505,300,Austria,3,10,1821,5,8,1821
6,505,325,Sardinia,3,10,1821,5,8,1821
7,506,640,Ottoman Empire,3,25,1821,4,25,1828
11,507,,Egypt,3,20,1824,4,,1824
12,508,640,Ottoman Empire,6,14,1826,9,30,1826
14,510,235,Portugal,7,11,1828,5,26,1834
15,511,365,Russia,,,1830,10,17,1832
16,512,640,Ottoman Empire,2,,1830,11,,1831
17,513,220,France,7,25,1830,7,29,1830
18,515,210,Netherlands,8,25,1830,11,4,1830
19,516,,Egypt,,,1831,,,1832
20,517,365,Russia,2,7,1831,10,18,1831
21,518,640,Ottoman Empire,10,1,1831,12,27,1832
22,520,70,Mexico,1,2,1832,12,11,1832
23,521,,Palestinians,4,19,1834,10,,1834
24,522,235,Portugal,10,15,1835,2,15,1836
25,522,230,Spain,7,15,1834,7,15,1840
26,522,220,France,10,31,1835,1,17,1839
27,522,200,United Kingdom,7,10,1835,9,1,1837
28,523,365,Russia,9,26,1834,10,27,1834
29,525,140,Brazil,1,6,1835,5,,1837
30,526,140,Brazil,9,19,1835,3,1,1845
31,527,70,Mexico,10,1,1835,4,22,1836
32,528,640,Ottoman Empire,,,1836,,,1837
33,530,365,Russia,7,,1836,,,1852
...,...,...,...,...,...,...,...,...,...
419,918,,FNL & FROLINA,3,21,2001,10,8,2003
420,920,,Army for the Liberation of Rwanda,5,21,2001,9,4,2001
421,921,,CPN,11,23,2001,1,29,2003
422,922,,LURD & MODEL,2,,2002,8,11,2003
423,923,,Nuer,8,,2002,1,,2003
425,925,,"MPCI, MPIGO, MJP",9,19,2002,11,16,2004
426,926,,MILF & ASG,2,11,2003,7,,2003
427,927,,SLA & JEM,2,26,2003,12,11,2006
428,930,,GAM,5,18,2003,11,18,2003
429,931,,CPN,8,27,2003,4,26,2006
431,932,,Waziri tribes,2,20,2004,9,5,2006
432,933,,Muslim Fulani,3,,2004,9,16,2004
433,935,,Zaidi Muslims,6,21,2004,4,8,2005
434,936,,MILF & NPA,1,17,2005,7,11,2006
435,937,,FUDC,12,18,2005,12,20,2006
437,938,,SCIC,3,6,2006,6,1,2008
439,938,531,Eritrea,10,19,2006,6,11,2008
440,940,,LTTE,10,11,2006,,,
441,941,,Zaidi Muslims,1,29,2007,6,16,2007
48,547,,Liberals,5,15,1848,5,15,1849
86,590,,Conservatives,8,14,1869,1,7,1871
111,623,,Tonghak Society,9,14,1894,11,28,1894
193,720,,Communists,2,12,1946,10,16,1949
324,836,,SPLA-Garang faction,4,15,1992,1,10,2005
367,877,,Bosnian Serbs,3,20,1995,12,14,1995
369,877,344,Croatia,3,20,1995,12,14,1995
391,898,,Kabbah faction,5,11,2000,11,10,2000
392,898,452,Ghana,5,11,2000,11,10,2000
393,898,475,Nigeria,5,11,2000,11,10,2000
394,898,438,Guinea,5,11,2000,11,10,2000

In [73]:
dfIntraStateWarDates = dfIntraStateWarDates[['WarID', 'PolityName', 'StateID', 'StartYear', 'StartMonth', 'StartDay', 'EndYear', 'EndMonth', 'EndDay']]
dfIntraStateWarDates

,WarID,PolityName,StateID,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,500,Russia,365,1818,6,10,1822,,
1,501,Sidon,,1820,6,,1821,7,21
2,502,Austria,300,1821,3,,1821,3,23
3,502,Two Sicilies,329,1820,7,2,1821,3,23
4,503,Spain,230,1821,12,1,1823,4,6
5,505,Austria,300,1821,3,10,1821,5,8
6,505,Sardinia,325,1821,3,10,1821,5,8
7,506,Ottoman Empire,640,1821,3,25,1828,4,25
11,507,Egypt,,1824,3,20,1824,4,
12,508,Ottoman Empire,640,1826,6,14,1826,9,30
14,510,Portugal,235,1828,7,11,1834,5,26
15,511,Russia,365,1830,,,1832,10,17
16,512,Ottoman Empire,640,1830,2,,1831,11,
17,513,France,220,1830,7,25,1830,7,29
18,515,Netherlands,210,1830,8,25,1830,11,4
19,516,Egypt,,1831,,,1832,,
20,517,Russia,365,1831,2,7,1831,10,18
21,518,Ottoman Empire,640,1831,10,1,1832,12,27
22,520,Mexico,70,1832,1,2,1832,12,11
23,521,Palestinians,,1834,4,19,1834,10,
24,522,Portugal,235,1835,10,15,1836,2,15
25,522,Spain,230,1834,7,15,1840,7,15
26,522,France,220,1835,10,31,1839,1,17
27,522,United Kingdom,200,1835,7,10,1837,9,1
28,523,Russia,365,1834,9,26,1834,10,27
29,525,Brazil,140,1835,1,6,1837,5,
30,526,Brazil,140,1835,9,19,1845,3,1
31,527,Mexico,70,1835,10,1,1836,4,22
32,528,Ottoman Empire,640,1836,,,1837,,
33,530,Russia,365,1836,7,,1852,,
...,...,...,...,...,...,...,...,...,...
419,918,FNL & FROLINA,,2001,3,21,2003,10,8
420,920,Army for the Liberation of Rwanda,,2001,5,21,2001,9,4
421,921,CPN,,2001,11,23,2003,1,29
422,922,LURD & MODEL,,2002,2,,2003,8,11
423,923,Nuer,,2002,8,,2003,1,
425,925,"MPCI, MPIGO, MJP",,2002,9,19,2004,11,16
426,926,MILF & ASG,,2003,2,11,2003,7,
427,927,SLA & JEM,,2003,2,26,2006,12,11
428,930,GAM,,2003,5,18,2003,11,18
429,931,CPN,,2003,8,27,2006,4,26
431,932,Waziri tribes,,2004,2,20,2006,9,5
432,933,Muslim Fulani,,2004,3,,2004,9,16
433,935,Zaidi Muslims,,2004,6,21,2005,4,8
434,936,MILF & NPA,,2005,1,17,2006,7,11
435,937,FUDC,,2005,12,18,2006,12,20
437,938,SCIC,,2006,3,6,2008,6,1
439,938,Eritrea,531,2006,10,19,2008,6,11
440,940,LTTE,,2006,10,11,,,
441,941,Zaidi Muslims,,2007,1,29,2007,6,16
48,547,Liberals,,1848,5,15,1849,5,15
86,590,Conservatives,,1869,8,14,1871,1,7
111,623,Tonghak Society,,1894,9,14,1894,11,28
193,720,Communists,,1946,2,12,1949,10,16
324,836,SPLA-Garang faction,,1992,4,15,2005,1,10
367,877,Bosnian Serbs,,1995,3,20,1995,12,14
369,877,Croatia,344,1995,3,20,1995,12,14
391,898,Kabbah faction,,2000,5,11,2000,11,10
392,898,Ghana,452,2000,5,11,2000,11,10
393,898,Nigeria,475,2000,5,11,2000,11,10
394,898,Guinea,438,2000,5,11,2000,11,10

In [74]:
dfNonStateWar

,WarNum,WarName,WarType,WhereFought,SideA1,SideA2,SideB1,SideB2,SideB3,SideB4,...,EndMonth,EndDay,Initiator,TransFrom,TransTo,Outcome,SideADeaths,SideBDeaths,TotalCombatDeaths,Version
0,1500,First Maori Tribal War,8,9,Te Rauparaha's Ngati Toa,-8,Taranaki,Ngai Tahu,Waikato,Ngati Ira,...,-9,-9,A,-8,-8,1,1500,6000,7500,4
1,1501,Shaka Zulu-Bantu War,8,4,Shaka Zulu,-8,Bantu,-8,-8,-8,...,9,24,A,-8,-8,1,20000,40000,60000,4
2,1502,Burma-Assam War,8,7,Burma,-8,Assam,-8,-8,-8,...,-9,-9,A,-8,-8,1,-9,-9,-9,4
3,1503,Buenos Aires War,8,1,Buenos Aires,-8,Provinces,-8,-8,-8,...,2,23,B,-8,-8,2,-9,-9,-9,4
4,1505,Second Maori Tribal War,8,9,Hongi Hika's Nga Phuhi,-8,Ngati Paoa,Ngati Maru,Waikato River Maori,Te Arawa,...,-9,-9,A,-8,-8,1,500,2000,2500,4
5,1506,Siam-Kedah War,8,7,Thailand,-8,Kedah,-8,-8,-8,...,12,-9,A,-8,-8,1,-9,-9,-9,4
6,1508,China-Kashgaria War,8,7,China,-8,Muslim rebels,-8,-8,-8,...,-9,-9,A,-8,-8,1,-9,-9,-9,4
7,1509,Mexico-Yaqui Indian War,8,1,Mexico,-8,Yaqui Indians,-8,-8,-8,...,4,13,A,-8,-8,3,-9,-9,3000,4
8,1510,Central American Confederation War,8,1,Conservative Confederation,-8,Liberals,-8,-8,-8,...,4,12,B,-8,-8,2,2000,1300,3300,4
9,1511,Viang Chan- Siamese War,8,7,Viang Chan,-8,Siam,-8,-8,-8,...,5,15,A,-8,-8,2,24000,7000,31000,4
10,1512,Peru-Gran Colombia War,8,1,Peru,-8,Gran Colombia,-8,-8,-8,...,2,28,A,-8,-8,2,3000,1000,4000,4
11,1513,Argentine War for Unity,8,1,Unitarians,-8,Provinces,-8,-8,-8,...,11,30,A,-8,-8,2,-9,-9,-9,4
12,1514,Sayyid Said War,8,4,Sayyid Said,-8,Mombasa,-8,-8,-8,...,5,9,A,-8,-8,1,-9,-9,1000,4
13,1515,China-Kokand War,8,7,China,-8,Kokand,-8,-8,-8,...,11,-9,A,-8,-8,1,-9,-9,-9,4
14,1516,Siam-Cambodia-Vietnam War,8,7,Thailand,-8,Cambodia,Vietnam,-8,-8,...,-9,-9,A,-8,-8,2,-9,-9,-9,4
15,1518,Argentina-Ranqueles Indian War,8,1,Argentina,-8,Ranqueles Indians,-8,-8,-8,...,3,25,A,-8,-8,1,-9,6000,-9,4
16,1520,Bolivia Conquest of Peru,8,1,Bolivia,-8,Peru,-8,-8,-8,...,2,7,A,-8,-8,1,-9,-9,-9,4
17,1521,Boer-Matabele War,8,4,Boer Trekkers,-8,Matabele,-8,-8,-8,...,11,12,B,-8,-8,1,350,3000,3350,4
18,1523,Dissolution of the Bolivia-Peru Confederation,8,1,Chile,Argentina,Peru-Bolivia Confederation,-8,-8,-8,...,1,20,A,-8,-8,1,1400,1500,2900,4
19,1524,Persian Siege of Heart,8,7,Persia,-8,Herat,-8,-8,-8,...,9,9,A,-8,-8,2,1700,-9,-9,4
20,1525,Boer-Zulu War,8,4,Boer Trekkers,-8,Zulu,-8,-8,-8,...,12,20,B,-8,-8,1,700,3000,3700,4
21,1527,Anti-Rosas War,8,1,Anti-Rosas Allies,-8,Rosas Federalist Army,-8,-8,-8,...,12,31,A,-8,538,4,2500,500,3000,4
22,1528,Dissolution of the Central American Confedera...,8,1,Conservatives,-8,Liberals,-8,-8,-8,...,3,21,A,-8,-8,1,1700,2000,3700,4
23,1530,Dogra-Tibet War,8,7,Jammu,-8,Tibet,-8,-8,-8,...,10,17,A,-8,-8,3,3000,1000,-9,4
24,1531,First Haiti-Santo Domingo War,8,1,Santo Domingo,-8,Haitians,-8,-8,-8,...,12,21,A,-8,-8,6,-9,-9,-9,4
25,1533,War of Seven Khojas,8,7,Kokand,-8,China,-8,-8,-8,...,1,-9,A,-8,-8,2,-9,-9,-9,4
26,1534,Taiping Rebellion Phase 1,8,7,Taiping rebels,-8,China,-8,-8,-8,...,10,24,A,-8,567,4,-9,-9,-9,4
27,1535,First Tukulor War,8,4,al-Hajj Umar's Tukulor army,-8,Malinke,-8,-8,-8,...,-9,-9,A,-8,-8,1,4000,6000,10000,4
28,1536,Kashmir-Dards of Chilas War,8,7,Kashmir,-8,Dards,-8,-8,-8,...,-9,-9,B,-8,-8,2,1600,400,2000,4
29,1537,Han-Miao War Phase 1,8,7,Han,-8,Miao,-8,-8,-8,...,10,24,B,-8,570,4,-9,-9,-9,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,1540,Filibuster War,8,1,Nicaragua,-8,Costa Rica,Honduras,Guatemala,El Salvador,...,5,1,B,-8,-8,2,1000,6700,7700,4
33,1541,Han-Panthay War Phase 1,8,7,Han,-8,Yunnan Muslims,-8,-8,-8,...,10,24,B,-8,571,4,-9,-9,-9,4
34,1542,First Zulu Internecine War,8,4,Mbuyazi faction,-8,Cetshwayo faction,-8,-8,-8,...,12,2,A,-8,-8,2,5000,-9,-9,4
35,1543,Kucha and Khoja Uprising,8,7,Kucha,Khoja,China,-8,-8,-8,...,9,-9,A,-8,-8,2,-9,-9,-9,4
36,1544,First Boer-Basuto War,8,4,Basuto,-8,Boers,-8,-8,-8,...,-9,-9,B,-8,-8,6,-9,-9,-9,4
37,1545,First Ethiopian War,8,4,Ethiopia,-8,Provincial armies,-8,-8,-8,...,1,-9,B,-8,-8,1,-9,-9,2000,4
38,1546,Second Tukulor War,8,4,Umar Tal,-8,Bambara,-8,-8,-8,...,3,16,A,-8,-8,1,-9,-9,-9,4
39,1548,Transvaal War,8,4,Regional governments,-8,Transvaal government,-8,-8,-8,...,1,-9,A,-8,-8,2,3000,3000,6000,4
40,1550,Central American War,8,1,Guatemala,Nicaragua,El Salvador,Honduras,-8,-8,...,11,15,A,-8,-8,1,-9,-9,-9,4
41,1551,First Australian Aboriginal War,8,9,Aborigines,-8,White Settlers,-8,-8,-8,...,12,18,B,-8,-8,7,890,110,1000,4
42,1552,Second Boer-Basuto War,8,4,Orange Free State,-8,Basuto,-8,-8,-8,...,4,3,A,-8,-8,1,-9,-9,1200,4
43,1553,Second Ethiopian War,8,4,Tigray,-8,Ethiopia,-8,-8,-8,...,1,21,B,-8,-8,1,5000,30000,35000,4
44,1554,Uruguay Colorados-Blancos War,8,1,Blancos,-8,Colorados,-8,-8,-8,...,4,6,A,-8,-8,2,-9,-9,3000,4
45,1556,Second Zulu Internecine War,8,4,Cetewayo faction,-8,Zibelu faction,-8,-8,-8,...,6,4,A,-8,-8,1,-9,-9,-9,4
46,1557,Oman-Ibadi War,8,6,Oman,-8,Ibadi,-8,-8,-8,...,-9,-9,B,-8,-8,1,-9,-9,1000,4
47,1558,Second Australian Aboriginal War,8,9,Aborigines,-8,White Settlers,-8,-8,-8,...,11,16,B,-8,-8,7,8900,1100,10000,4
48,1559,Ethiopia-Mahdi War,8,4,Ethiopia,-8,Mahdist army,-8,-8,-8,...,3,12,A,-8,-8,2,15000,15000,30000,4
49,1560,German East Africa Company War,8,4,German East Africa Company,-8,Arabs,Swahili,-8,-8,...,5,-9,B,-8,-8,1,-9,-9,-9,4
50,1561,Rabih Zubayr-Bornu War,8,4,Rabah,-8,Bornu,-8,-8,-8,...,-9,-9,A,-8,-8,1,-9,-9,4000,4
51,1567,First Nejd-Hejaz War,8,6,Nejd,-8,Hejaz,-8,-8,-8,...,5,25,A,-8,-8,1,-9,4000,-9,4
52,1568,Second Nejd-Hejaz War,8,6,Nejd,-8,Hejaz,-8,-8,-8,...,12,23,A,-8,-8,1,-9,-9,-9,4
53,1570,Partition Communal War,8,7,Muslims,-8,Hindus,Sikhs,-8,-8,...,8,1,A,-8,-8,1,-9,-9,-9,4
54,1571,Hyderabad War,8,7,Telenganans,-8,Razakars,-8,-8,-8,...,9,12,A,-8,461,4,-9,-9,"4,000",4
55,1572,Palestine War,8,6,Arabs,-8,Zionists,-8,-8,-8,...,5,14,B,-8,148,4,991,895,1886,4
56,1573,Cheju Rebellion,8,7,Communists,military,South Korea,-8,-8,-8,...,5,-9,A,-8,-8,2,17000,-9,-9,4
57,1574,Rwandan Social Revolution,8,4,Hutu,-8,Tutsi,-8,-8,-8,...,7,1,A,-8,-8,1,-9,-9,-9,4
58,1577,Dhofar Rebellion Phase 1,8,6,Dhofar,-8,Oman,-8,-8,-8,...,10,6,A,-8,-8,6,-9,-9,5000,4
59,1581,Angola Guerilla War,8,4,MPLA,-8,FLNA,UNITA,-8,-8,...,10,22,A,-8,186,4,-9,-9,-9,4
60,1582,East Timorese War Phase 1,8,7,Fretilin,Apodeti,UDT,-8,-8,-8,...,10,15,B,-8,472,4,-9,-9,3000,4
61,1594,Hemda-Lendu War,9,4,Hemda,-8,Lendu,-8,-8,-8,...,3,-9,B,-8,-8,6,-9,-9,-9,4

In [75]:
dfNonStateWarDates = dfNonStateWar[['WarNum', 'SideA1', 'StartYear', 'StartMonth', 'StartDay', 'EndYear', 'EndMonth', 'EndDay']]
dfNonStateWarDates.rename(columns={'WarNum':'WarID', 'SideA1':'PolityName'}, inplace=True)
dfNonStateWarDates = dfNonStateWarDates.replace(-9, '')
dfNonStateWarDates['StateID'] = ''
dfNonStateWarDates

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,WarID,PolityName,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,StateID
0,1500,Te Rauparaha's Ngati Toa,1818,,,1824,,,
1,1501,Shaka Zulu,1819,,,1828,9,24,
2,1502,Burma,1819,,,1822,,,
3,1503,Buenos Aires,1820,1,8,1820,2,23,
4,1505,Hongi Hika's Nga Phuhi,1821,9,,1823,,,
5,1506,Thailand,1821,11,,1821,12,,
6,1508,China,1825,,,1828,,,
7,1509,Mexico,1825,10,25,1827,4,13,
8,1510,Conservative Confederation,1826,,,1829,4,12,
9,1511,Viang Chan,1826,,,1827,5,15,
10,1512,Peru,1828,7,3,1829,2,28,
11,1513,Unitarians,1829,4,26,1831,11,30,
12,1514,Sayyid Said,1829,12,18,1830,5,9,
13,1515,China,1830,9,,1831,11,,
14,1516,Thailand,1831,,,1834,,,
15,1518,Argentina,1833,3,16,1834,3,25,
16,1520,Bolivia,1835,6,16,1836,2,7,
17,1521,Boer Trekkers,1836,8,15,1837,11,12,
18,1523,Chile,1837,11,,1839,1,20,
19,1524,Persia,1837,11,22,1838,9,9,
20,1525,Boer Trekkers,1838,2,6,1838,12,20,
21,1527,Anti-Rosas Allies,1839,2,24,1840,12,31,
22,1528,Conservatives,1839,3,19,1840,3,21,
23,1530,Jammu,1841,5,,1842,10,17,
24,1531,Santo Domingo,1844,2,27,1845,12,21,
25,1533,Kokand,1847,,,1848,1,,
26,1534,Taiping rebels,1850,12,1,1860,10,24,
27,1535,al-Hajj Umar's Tukulor army,1852,,,1854,,,
28,1536,Kashmir,1852,,,1852,,,
29,1537,Han,1854,3,25,1860,10,24,
...,...,...,...,...,...,...,...,...,...
32,1540,Nicaragua,1856,2,26,1857,5,1,
33,1541,Han,1856,5,19,1860,10,24,
34,1542,Mbuyazi faction,1856,12,2,1856,12,2,
35,1543,Kucha,1857,,,1857,9,,
36,1544,Basuto,1858,,,1858,,,
37,1545,Ethiopia,1858,,,1861,1,,
38,1546,Umar Tal,1860,,,1862,3,16,
39,1548,Regional governments,1862,4,,1864,1,,
40,1550,Guatemala,1863,1,23,1863,11,15,
41,1551,Aborigines,1864,12,18,1865,12,18,
42,1552,Orange Free State,1865,6,9,1866,4,3,
43,1553,Tigray,1868,4,13,1872,1,21,
44,1554,Blancos,1870,3,5,1872,4,6,
45,1556,Cetewayo faction,1883,3,28,1884,6,4,
46,1557,Oman,1883,10,,1884,,,
47,1558,Aborigines,1884,8,,1894,11,16,
48,1559,Ethiopia,1885,5,,1889,3,12,
49,1560,German East Africa Company,1888,9,,1889,5,,
50,1561,Rabah,1893,,,1893,,,
51,1567,Nejd,1919,5,25,1919,5,25,
52,1568,Nejd,1924,9,4,1925,12,23,
53,1570,Muslims,1946,8,16,1947,8,1,
54,1571,Telenganans,1947,8,15,1948,9,12,
55,1572,Arabs,1947,11,29,1948,5,14,
56,1573,Communists,1948,4,3,1949,5,,
57,1574,Hutu,1959,10,19,1962,7,1,
58,1577,Dhofar,1968,9,,1971,10,6,
59,1581,MPLA,1974,10,15,1975,10,22,
60,1582,Fretilin,1975,8,11,1975,10,15,
61,1594,Hemda,1999,6,,2005,3,,

In [76]:
dfNonStateWarDates['StateID'] = ''
dfNonStateWarDates = dfNonStateWarDates[['WarID', 'PolityName', 'StateID', 'StartYear', 'StartMonth', 'StartDay', 'EndYear', 'EndMonth', 'EndDay']]
dfNonStateWarDates

,WarID,PolityName,StateID,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,1500,Te Rauparaha's Ngati Toa,,1818,,,1824,,
1,1501,Shaka Zulu,,1819,,,1828,9,24
2,1502,Burma,,1819,,,1822,,
3,1503,Buenos Aires,,1820,1,8,1820,2,23
4,1505,Hongi Hika's Nga Phuhi,,1821,9,,1823,,
5,1506,Thailand,,1821,11,,1821,12,
6,1508,China,,1825,,,1828,,
7,1509,Mexico,,1825,10,25,1827,4,13
8,1510,Conservative Confederation,,1826,,,1829,4,12
9,1511,Viang Chan,,1826,,,1827,5,15
10,1512,Peru,,1828,7,3,1829,2,28
11,1513,Unitarians,,1829,4,26,1831,11,30
12,1514,Sayyid Said,,1829,12,18,1830,5,9
13,1515,China,,1830,9,,1831,11,
14,1516,Thailand,,1831,,,1834,,
15,1518,Argentina,,1833,3,16,1834,3,25
16,1520,Bolivia,,1835,6,16,1836,2,7
17,1521,Boer Trekkers,,1836,8,15,1837,11,12
18,1523,Chile,,1837,11,,1839,1,20
19,1524,Persia,,1837,11,22,1838,9,9
20,1525,Boer Trekkers,,1838,2,6,1838,12,20
21,1527,Anti-Rosas Allies,,1839,2,24,1840,12,31
22,1528,Conservatives,,1839,3,19,1840,3,21
23,1530,Jammu,,1841,5,,1842,10,17
24,1531,Santo Domingo,,1844,2,27,1845,12,21
25,1533,Kokand,,1847,,,1848,1,
26,1534,Taiping rebels,,1850,12,1,1860,10,24
27,1535,al-Hajj Umar's Tukulor army,,1852,,,1854,,
28,1536,Kashmir,,1852,,,1852,,
29,1537,Han,,1854,3,25,1860,10,24
...,...,...,...,...,...,...,...,...,...
32,1540,Nicaragua,,1856,2,26,1857,5,1
33,1541,Han,,1856,5,19,1860,10,24
34,1542,Mbuyazi faction,,1856,12,2,1856,12,2
35,1543,Kucha,,1857,,,1857,9,
36,1544,Basuto,,1858,,,1858,,
37,1545,Ethiopia,,1858,,,1861,1,
38,1546,Umar Tal,,1860,,,1862,3,16
39,1548,Regional governments,,1862,4,,1864,1,
40,1550,Guatemala,,1863,1,23,1863,11,15
41,1551,Aborigines,,1864,12,18,1865,12,18
42,1552,Orange Free State,,1865,6,9,1866,4,3
43,1553,Tigray,,1868,4,13,1872,1,21
44,1554,Blancos,,1870,3,5,1872,4,6
45,1556,Cetewayo faction,,1883,3,28,1884,6,4
46,1557,Oman,,1883,10,,1884,,
47,1558,Aborigines,,1884,8,,1894,11,16
48,1559,Ethiopia,,1885,5,,1889,3,12
49,1560,German East Africa Company,,1888,9,,1889,5,
50,1561,Rabah,,1893,,,1893,,
51,1567,Nejd,,1919,5,25,1919,5,25
52,1568,Nejd,,1924,9,4,1925,12,23
53,1570,Muslims,,1946,8,16,1947,8,1
54,1571,Telenganans,,1947,8,15,1948,9,12
55,1572,Arabs,,1947,11,29,1948,5,14
56,1573,Communists,,1948,4,3,1949,5,
57,1574,Hutu,,1959,10,19,1962,7,1
58,1577,Dhofar,,1968,9,,1971,10,6
59,1581,MPLA,,1974,10,15,1975,10,22
60,1582,Fretilin,,1975,8,11,1975,10,15
61,1594,Hemda,,1999,6,,2005,3,

In [77]:
dfExtraStateWar.columns

Index(['WarNum', 'WarName', 'WarType', 'ccode1', 'SideA', 'ccode2', 'SideB',
       'StartMonth1', 'StartDay1', 'StartYear1', 'EndMonth1', 'EndDay1',
       'EndYear1', 'StartMonth2', 'StartDay2', 'StartYear2', 'EndMonth2',
       'EndDay2 ', 'EndYear2', 'Initiator', 'Interven', 'TransFrom', 'Outcome',
       'TransTo', 'WhereFought', 'BatDeath', 'NonStateDeaths', 'Version'],
      dtype='object')

In [78]:
dfExtraStateWar1A = dfExtraStateWar[['WarNum', 'ccode1', 'SideA', 'StartMonth1', 'StartDay1', 'StartYear1', 
                                         'EndMonth1', 'EndDay1', 'EndYear1']]
dfExtraStateWar2A = dfExtraStateWar[['WarNum', 'ccode1', 'SideA', 'StartMonth2', 'StartDay2', 'StartYear2', 
                                         'EndMonth2', 'EndDay2 ', 'EndYear2']]
dfExtraStateWar1B = dfExtraStateWar[['WarNum', 'ccode2', 'SideB', 'StartMonth1', 'StartDay1', 'StartYear1', 
                                         'EndMonth1', 'EndDay1', 'EndYear1']]
dfExtraStateWar2B = dfExtraStateWar[['WarNum', 'ccode2', 'SideB', 'StartMonth2', 'StartDay2', 'StartYear2', 
                                         'EndMonth2', 'EndDay2 ', 'EndYear2']]

In [79]:
dfExtraStateWar1A.rename(columns={'WarNum':'WarID', 'ccode1':'StateID', 'SideA':'PolityName', 'StartMonth1':'StartMonth', 
                                      'StartDay1':'StartDay', 'StartYear1':'StartYear', 'EndMonth1':'EndMonth', 
                                      'EndDay1':'EndDay', 'EndYear1':'EndYear'}, inplace=True)
dfExtraStateWar2A.rename(columns={'WarNum':'WarID', 'ccode1':'StateID', 'SideA':'PolityName', 'StartMonth2':'StartMonth', 
                                      'StartDay2':'StartDay', 'StartYear2':'StartYear', 'EndMonth2':'EndMonth', 
                                      'EndDay2 ':'EndDay', 'EndYear2':'EndYear'}, inplace=True)
dfExtraStateWar1B.rename(columns={'WarNum':'WarID', 'ccode2':'StateID', 'SideB':'PolityName', 'StartMonth1':'StartMonth', 
                                      'StartDay1':'StartDay', 'StartYear1':'StartYear', 'EndMonth1':'EndMonth', 
                                      'EndDay1':'EndDay', 'EndYear1':'EndYear'}, inplace=True)
dfExtraStateWar2B.rename(columns={'WarNum':'WarID', 'ccode2':'StateID', 'SideB':'PolityName', 'StartMonth2':'StartMonth', 
                                      'StartDay2':'StartDay', 'StartYear2':'StartYear', 'EndMonth2':'EndMonth', 
                                      'EndDay2 ':'EndDay', 'EndYear2':'EndYear'}, inplace=True)

/usr/local/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [80]:
dfExtraStateWar1A = dfIntraStateWarDates1A[dfIntraStateWarDates1A.PolityName != '-8']
dfExtraStateWar1B = dfIntraStateWarDates1B[dfIntraStateWarDates1B.PolityName != '-8']

In [81]:
dfExtraStateWar1B

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,-8.0,"Georgians, Dhagestania, Chechens",6,10,1818,-9,-9,1822
1,501,-8.0,Damascus & Aleppo,6,-9,1820,7,21,1821
3,502,-8.0,Liberals,7,2,1820,3,23,1821
4,503,-8.0,Royalists,12,1,1821,4,6,1823
6,505,-8.0,Carbonari,3,10,1821,5,8,1821
7,506,-8.0,Greeks,3,25,1821,4,25,1828
8,506,200.0,United Kingdom,10,20,1827,10,27,1827
9,506,220.0,France,10,20,1827,10,27,1827
10,506,365.0,Russia,10,20,1827,4,25,1828
11,507,-8.0,Mehdi army,3,20,1824,4,-9,1824
12,508,-8.0,Janissaries,6,14,1826,9,30,1826
13,510,200.0,United Kingdom,7,1,1831,5,26,1834
14,510,-8.0,Constitutionalists,7,11,1828,5,26,1834
15,511,-8.0,Ghazi Muhammad,-9,-9,1830,10,17,1832
16,512,-8.0,Albanians,2,-9,1830,11,-9,1831
17,513,-8.0,Liberals,7,25,1830,7,29,1830
18,515,-8.0,Belgians,8,25,1830,11,4,1830
19,516,-8.0,Hadendowa,-9,-9,1831,-9,-9,1832
20,517,-8.0,Poles,2,7,1831,10,18,1831
21,518,-8.0,Egyptians & Bashir,10,1,1831,12,27,1832
22,520,-8.0,Liberals,1,2,1832,12,11,1832
23,521,-8.0,Egypt,4,19,1834,10,-9,1834
25,522,-8.0,Carlists,7,15,1834,7,15,1840
28,523,-8.0,Shamil,9,26,1834,10,27,1834
29,525,-8.0,Cabanos,1,6,1835,5,-9,1837
30,526,-8.0,Farrapos,9,19,1835,3,1,1845
31,527,-8.0,Texans,10,1,1835,4,22,1836
32,528,-8.0,Bosnians,-9,-9,1836,-9,-9,1837
33,530,-8.0,Shamil,7,-9,1836,-9,-9,1852
34,531,-8.0,Bahian Sabinada,11,7,1837,3,13,1838
...,...,...,...,...,...,...,...,...,...
408,905,-8.0,"RCD, MLC, et al",8,2,1998,12,17,2002
409,906,-8.0,MDD & MDJT,10,16,1998,4,28,2000
410,907,-8.0,UNITA,12,4,1998,2,22,2002
411,908,-8.0,Ninjas and Cocoye militias,12,15,1998,11,16,1999
412,910,-8.0,FKM & RMS,1,-9,1999,8,22,2000
413,911,-8.0,Muslim Fulani,5,-9,1999,5,31,2000
414,912,-8.0,GAM,5,3,1999,12,9,2002
415,913,-8.0,Oromo Lib. Front,5,30,1999,8,18,1999
416,915,-8.0,Chechnya,8,7,1999,10,3,2003
417,916,-8.0,MILF,4,23,2000,6,22,2001
418,917,-8.0,RDFG,9,11,2000,4,-9,2001
419,918,-8.0,FNL & FROLINA,3,21,2001,10,8,2003
420,920,-8.0,Army for the Liberation of Rwanda,5,21,2001,9,4,2001
421,921,-8.0,CPN,11,23,2001,1,29,2003
422,922,-8.0,LURD & MODEL,2,-9,2002,8,11,2003
423,923,-8.0,Nuer,8,-9,2002,1,-9,2003
425,925,-8.0,"MPCI, MPIGO, MJP",9,19,2002,11,16,2004
426,926,-8.0,MILF & ASG,2,11,2003,7,-9,2003
427,927,-8.0,SLA & JEM,2,26,2003,12,11,2006
428,930,-8.0,GAM,5,18,2003,11,18,2003
429,931,-8.0,CPN,8,27,2003,4,26,2006
431,932,-8.0,Waziri tribes,2,20,2004,9,5,2006
432,933,-8.0,Muslim Fulani,3,-9,2004,9,16,2004
433,935,-8.0,Zaidi Muslims,6,21,2004,4,8,2005
434,936,-8.0,MILF & NPA,1,17,2005,7,11,2006
435,937,-8.0,FUDC,12,18,2005,12,20,2006
437,938,-8.0,SCIC,3,6,2006,6,1,2008
439,938,531.0,Eritrea,10,19,2006,6,11,2008
440,940,-8.0,LTTE,10,11,2006,-7,-7,-7
441,941,-8.0,Zaidi Muslims,1,29,2007,6,16,2007

In [82]:
dfExtraStateWar2A = dfExtraStateWar2A.replace(-8, '')
dfExtraStateWar2A['datesconcat'] = dfExtraStateWar2A['StartMonth'].map(str) + dfExtraStateWar2A['StartDay'].map(str) + dfExtraStateWar2A['StartYear'].map(str) + dfExtraStateWar2A['EndMonth'].map(str) + dfExtraStateWar2A['EndDay'].map(str) + dfExtraStateWar2A['EndYear'].map(str)
nmissdate2A = dfExtraStateWar2A.loc[0, 'datesconcat']
dfExtraStateWar2A = dfExtraStateWar2A[dfExtraStateWar2A.datesconcat != nmissdate2A]
dfExtraStateWar2A.drop(columns=['datesconcat'], inplace=True)
dfExtraStateWar2A = dfExtraStateWar2A[dfExtraStateWar2A.PolityName != '-8']
dfExtraStateWar2A

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
37,334,210,Netherlands,4,2,1849,6,14,1849
79,379,200,United Kingdom,9,3,1879,9,2,1880
153,454,200,United Kingdom,8,-9,1937,1,-9,1939

In [83]:
dfExtraStateWar2B = dfExtraStateWar2B.replace(-8, '')
dfExtraStateWar2B['datesconcat'] = dfExtraStateWar2B['StartMonth'].map(str) + dfExtraStateWar2B['StartDay'].map(str) + dfExtraStateWar2B['StartYear'].map(str) + dfExtraStateWar2B['EndMonth'].map(str) + dfExtraStateWar2B['EndDay'].map(str) + dfExtraStateWar2B['EndYear'].map(str)
nmissdate2B = dfExtraStateWar2B.loc[0, 'datesconcat']
dfExtraStateWar2B = dfExtraStateWar2B[dfExtraStateWar2B.datesconcat != nmissdate2B]
dfExtraStateWar2B.drop(columns=['datesconcat'], inplace=True)
dfExtraStateWar2B = dfExtraStateWar2B[dfExtraStateWar2B.PolityName != '-8']
dfExtraStateWar2B

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
37,334,,Bali,4,2,1849,6,14,1849
79,379,,Afghanistan,9,3,1879,9,2,1880
153,454,,Palestinians,8,-9,1937,1,-9,1939

In [84]:
combinedExtraStateWarDates = [dfExtraStateWar1A, dfExtraStateWar2A, dfExtraStateWar1B, dfExtraStateWar2B]
dfExtraStateWarDates = pd.concat(combinedExtraStateWarDates)
dfExtraStateWarDates

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,365,Russia,6,10,1818,-9,-9,1822
1,501,-8,Sidon,6,-9,1820,7,21,1821
2,502,300,Austria,3,-9,1821,3,23,1821
3,502,329,Two Sicilies,7,2,1820,3,23,1821
4,503,230,Spain,12,1,1821,4,6,1823
5,505,300,Austria,3,10,1821,5,8,1821
6,505,325,Sardinia,3,10,1821,5,8,1821
7,506,640,Ottoman Empire,3,25,1821,4,25,1828
11,507,-8,Egypt,3,20,1824,4,-9,1824
12,508,640,Ottoman Empire,6,14,1826,9,30,1826
14,510,235,Portugal,7,11,1828,5,26,1834
15,511,365,Russia,-9,-9,1830,10,17,1832
16,512,640,Ottoman Empire,2,-9,1830,11,-9,1831
17,513,220,France,7,25,1830,7,29,1830
18,515,210,Netherlands,8,25,1830,11,4,1830
19,516,-8,Egypt,-9,-9,1831,-9,-9,1832
20,517,365,Russia,2,7,1831,10,18,1831
21,518,640,Ottoman Empire,10,1,1831,12,27,1832
22,520,70,Mexico,1,2,1832,12,11,1832
23,521,-8,Palestinians,4,19,1834,10,-9,1834
24,522,235,Portugal,10,15,1835,2,15,1836
25,522,230,Spain,7,15,1834,7,15,1840
26,522,220,France,10,31,1835,1,17,1839
27,522,200,United Kingdom,7,10,1835,9,1,1837
28,523,365,Russia,9,26,1834,10,27,1834
29,525,140,Brazil,1,6,1835,5,-9,1837
30,526,140,Brazil,9,19,1835,3,1,1845
31,527,70,Mexico,10,1,1835,4,22,1836
32,528,640,Ottoman Empire,-9,-9,1836,-9,-9,1837
33,530,365,Russia,7,-9,1836,-9,-9,1852
...,...,...,...,...,...,...,...,...,...
411,908,-8,Ninjas and Cocoye militias,12,15,1998,11,16,1999
412,910,-8,FKM & RMS,1,-9,1999,8,22,2000
413,911,-8,Muslim Fulani,5,-9,1999,5,31,2000
414,912,-8,GAM,5,3,1999,12,9,2002
415,913,-8,Oromo Lib. Front,5,30,1999,8,18,1999
416,915,-8,Chechnya,8,7,1999,10,3,2003
417,916,-8,MILF,4,23,2000,6,22,2001
418,917,-8,RDFG,9,11,2000,4,-9,2001
419,918,-8,FNL & FROLINA,3,21,2001,10,8,2003
420,920,-8,Army for the Liberation of Rwanda,5,21,2001,9,4,2001
421,921,-8,CPN,11,23,2001,1,29,2003
422,922,-8,LURD & MODEL,2,-9,2002,8,11,2003
423,923,-8,Nuer,8,-9,2002,1,-9,2003
425,925,-8,"MPCI, MPIGO, MJP",9,19,2002,11,16,2004
426,926,-8,MILF & ASG,2,11,2003,7,-9,2003
427,927,-8,SLA & JEM,2,26,2003,12,11,2006
428,930,-8,GAM,5,18,2003,11,18,2003
429,931,-8,CPN,8,27,2003,4,26,2006
431,932,-8,Waziri tribes,2,20,2004,9,5,2006
432,933,-8,Muslim Fulani,3,-9,2004,9,16,2004
433,935,-8,Zaidi Muslims,6,21,2004,4,8,2005
434,936,-8,MILF & NPA,1,17,2005,7,11,2006
435,937,-8,FUDC,12,18,2005,12,20,2006
437,938,-8,SCIC,3,6,2006,6,1,2008
439,938,531,Eritrea,10,19,2006,6,11,2008
440,940,-8,LTTE,10,11,2006,-7,-7,-7
441,941,-8,Zaidi Muslims,1,29,2007,6,16,2007
37,334,,Bali,4,2,1849,6,14,1849
79,379,,Afghanistan,9,3,1879,9,2,1880
153,454,,Palestinians,8,-9,1937,1,-9,1939

In [85]:
dfExtraStateWarDates = dfExtraStateWarDates.replace(-9, '')
dfExtraStateWarDates = dfExtraStateWarDates.replace(-8, '')
dfExtraStateWarDates = dfExtraStateWarDates.replace(-7, '')
dfExtraStateWarDates

,WarID,StateID,PolityName,StartMonth,StartDay,StartYear,EndMonth,EndDay,EndYear
0,500,365,Russia,6,10,1818,,,1822
1,501,,Sidon,6,,1820,7,21,1821
2,502,300,Austria,3,,1821,3,23,1821
3,502,329,Two Sicilies,7,2,1820,3,23,1821
4,503,230,Spain,12,1,1821,4,6,1823
5,505,300,Austria,3,10,1821,5,8,1821
6,505,325,Sardinia,3,10,1821,5,8,1821
7,506,640,Ottoman Empire,3,25,1821,4,25,1828
11,507,,Egypt,3,20,1824,4,,1824
12,508,640,Ottoman Empire,6,14,1826,9,30,1826
14,510,235,Portugal,7,11,1828,5,26,1834
15,511,365,Russia,,,1830,10,17,1832
16,512,640,Ottoman Empire,2,,1830,11,,1831
17,513,220,France,7,25,1830,7,29,1830
18,515,210,Netherlands,8,25,1830,11,4,1830
19,516,,Egypt,,,1831,,,1832
20,517,365,Russia,2,7,1831,10,18,1831
21,518,640,Ottoman Empire,10,1,1831,12,27,1832
22,520,70,Mexico,1,2,1832,12,11,1832
23,521,,Palestinians,4,19,1834,10,,1834
24,522,235,Portugal,10,15,1835,2,15,1836
25,522,230,Spain,7,15,1834,7,15,1840
26,522,220,France,10,31,1835,1,17,1839
27,522,200,United Kingdom,7,10,1835,9,1,1837
28,523,365,Russia,9,26,1834,10,27,1834
29,525,140,Brazil,1,6,1835,5,,1837
30,526,140,Brazil,9,19,1835,3,1,1845
31,527,70,Mexico,10,1,1835,4,22,1836
32,528,640,Ottoman Empire,,,1836,,,1837
33,530,365,Russia,7,,1836,,,1852
...,...,...,...,...,...,...,...,...,...
411,908,,Ninjas and Cocoye militias,12,15,1998,11,16,1999
412,910,,FKM & RMS,1,,1999,8,22,2000
413,911,,Muslim Fulani,5,,1999,5,31,2000
414,912,,GAM,5,3,1999,12,9,2002
415,913,,Oromo Lib. Front,5,30,1999,8,18,1999
416,915,,Chechnya,8,7,1999,10,3,2003
417,916,,MILF,4,23,2000,6,22,2001
418,917,,RDFG,9,11,2000,4,,2001
419,918,,FNL & FROLINA,3,21,2001,10,8,2003
420,920,,Army for the Liberation of Rwanda,5,21,2001,9,4,2001
421,921,,CPN,11,23,2001,1,29,2003
422,922,,LURD & MODEL,2,,2002,8,11,2003
423,923,,Nuer,8,,2002,1,,2003
425,925,,"MPCI, MPIGO, MJP",9,19,2002,11,16,2004
426,926,,MILF & ASG,2,11,2003,7,,2003
427,927,,SLA & JEM,2,26,2003,12,11,2006
428,930,,GAM,5,18,2003,11,18,2003
429,931,,CPN,8,27,2003,4,26,2006
431,932,,Waziri tribes,2,20,2004,9,5,2006
432,933,,Muslim Fulani,3,,2004,9,16,2004
433,935,,Zaidi Muslims,6,21,2004,4,8,2005
434,936,,MILF & NPA,1,17,2005,7,11,2006
435,937,,FUDC,12,18,2005,12,20,2006
437,938,,SCIC,3,6,2006,6,1,2008
439,938,531,Eritrea,10,19,2006,6,11,2008
440,940,,LTTE,10,11,2006,,,
441,941,,Zaidi Muslims,1,29,2007,6,16,2007
37,334,,Bali,4,2,1849,6,14,1849
79,379,,Afghanistan,9,3,1879,9,2,1880
153,454,,Palestinians,8,,1937,1,,1939

In [86]:
dfExtraStateWarDates = dfExtraStateWarDates[['WarID', 'PolityName', 'StateID', 'StartYear', 'StartMonth', 'StartDay', 'EndYear', 'EndMonth', 'EndDay']]
dfExtraStateWarDates

,WarID,PolityName,StateID,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,500,Russia,365,1818,6,10,1822,,
1,501,Sidon,,1820,6,,1821,7,21
2,502,Austria,300,1821,3,,1821,3,23
3,502,Two Sicilies,329,1820,7,2,1821,3,23
4,503,Spain,230,1821,12,1,1823,4,6
5,505,Austria,300,1821,3,10,1821,5,8
6,505,Sardinia,325,1821,3,10,1821,5,8
7,506,Ottoman Empire,640,1821,3,25,1828,4,25
11,507,Egypt,,1824,3,20,1824,4,
12,508,Ottoman Empire,640,1826,6,14,1826,9,30
14,510,Portugal,235,1828,7,11,1834,5,26
15,511,Russia,365,1830,,,1832,10,17
16,512,Ottoman Empire,640,1830,2,,1831,11,
17,513,France,220,1830,7,25,1830,7,29
18,515,Netherlands,210,1830,8,25,1830,11,4
19,516,Egypt,,1831,,,1832,,
20,517,Russia,365,1831,2,7,1831,10,18
21,518,Ottoman Empire,640,1831,10,1,1832,12,27
22,520,Mexico,70,1832,1,2,1832,12,11
23,521,Palestinians,,1834,4,19,1834,10,
24,522,Portugal,235,1835,10,15,1836,2,15
25,522,Spain,230,1834,7,15,1840,7,15
26,522,France,220,1835,10,31,1839,1,17
27,522,United Kingdom,200,1835,7,10,1837,9,1
28,523,Russia,365,1834,9,26,1834,10,27
29,525,Brazil,140,1835,1,6,1837,5,
30,526,Brazil,140,1835,9,19,1845,3,1
31,527,Mexico,70,1835,10,1,1836,4,22
32,528,Ottoman Empire,640,1836,,,1837,,
33,530,Russia,365,1836,7,,1852,,
...,...,...,...,...,...,...,...,...,...
411,908,Ninjas and Cocoye militias,,1998,12,15,1999,11,16
412,910,FKM & RMS,,1999,1,,2000,8,22
413,911,Muslim Fulani,,1999,5,,2000,5,31
414,912,GAM,,1999,5,3,2002,12,9
415,913,Oromo Lib. Front,,1999,5,30,1999,8,18
416,915,Chechnya,,1999,8,7,2003,10,3
417,916,MILF,,2000,4,23,2001,6,22
418,917,RDFG,,2000,9,11,2001,4,
419,918,FNL & FROLINA,,2001,3,21,2003,10,8
420,920,Army for the Liberation of Rwanda,,2001,5,21,2001,9,4
421,921,CPN,,2001,11,23,2003,1,29
422,922,LURD & MODEL,,2002,2,,2003,8,11
423,923,Nuer,,2002,8,,2003,1,
425,925,"MPCI, MPIGO, MJP",,2002,9,19,2004,11,16
426,926,MILF & ASG,,2003,2,11,2003,7,
427,927,SLA & JEM,,2003,2,26,2006,12,11
428,930,GAM,,2003,5,18,2003,11,18
429,931,CPN,,2003,8,27,2006,4,26
431,932,Waziri tribes,,2004,2,20,2006,9,5
432,933,Muslim Fulani,,2004,3,,2004,9,16
433,935,Zaidi Muslims,,2004,6,21,2005,4,8
434,936,MILF & NPA,,2005,1,17,2006,7,11
435,937,FUDC,,2005,12,18,2006,12,20
437,938,SCIC,,2006,3,6,2008,6,1
439,938,Eritrea,531,2006,10,19,2008,6,11
440,940,LTTE,,2006,10,11,,,
441,941,Zaidi Muslims,,2007,1,29,2007,6,16
37,334,Bali,,1849,4,2,1849,6,14
79,379,Afghanistan,,1879,9,3,1880,9,2
153,454,Palestinians,,1937,8,,1939,1,

In [87]:
dfNonStateWarDates

,WarID,PolityName,StateID,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,1500,Te Rauparaha's Ngati Toa,,1818,,,1824,,
1,1501,Shaka Zulu,,1819,,,1828,9,24
2,1502,Burma,,1819,,,1822,,
3,1503,Buenos Aires,,1820,1,8,1820,2,23
4,1505,Hongi Hika's Nga Phuhi,,1821,9,,1823,,
5,1506,Thailand,,1821,11,,1821,12,
6,1508,China,,1825,,,1828,,
7,1509,Mexico,,1825,10,25,1827,4,13
8,1510,Conservative Confederation,,1826,,,1829,4,12
9,1511,Viang Chan,,1826,,,1827,5,15
10,1512,Peru,,1828,7,3,1829,2,28
11,1513,Unitarians,,1829,4,26,1831,11,30
12,1514,Sayyid Said,,1829,12,18,1830,5,9
13,1515,China,,1830,9,,1831,11,
14,1516,Thailand,,1831,,,1834,,
15,1518,Argentina,,1833,3,16,1834,3,25
16,1520,Bolivia,,1835,6,16,1836,2,7
17,1521,Boer Trekkers,,1836,8,15,1837,11,12
18,1523,Chile,,1837,11,,1839,1,20
19,1524,Persia,,1837,11,22,1838,9,9
20,1525,Boer Trekkers,,1838,2,6,1838,12,20
21,1527,Anti-Rosas Allies,,1839,2,24,1840,12,31
22,1528,Conservatives,,1839,3,19,1840,3,21
23,1530,Jammu,,1841,5,,1842,10,17
24,1531,Santo Domingo,,1844,2,27,1845,12,21
25,1533,Kokand,,1847,,,1848,1,
26,1534,Taiping rebels,,1850,12,1,1860,10,24
27,1535,al-Hajj Umar's Tukulor army,,1852,,,1854,,
28,1536,Kashmir,,1852,,,1852,,
29,1537,Han,,1854,3,25,1860,10,24
...,...,...,...,...,...,...,...,...,...
32,1540,Nicaragua,,1856,2,26,1857,5,1
33,1541,Han,,1856,5,19,1860,10,24
34,1542,Mbuyazi faction,,1856,12,2,1856,12,2
35,1543,Kucha,,1857,,,1857,9,
36,1544,Basuto,,1858,,,1858,,
37,1545,Ethiopia,,1858,,,1861,1,
38,1546,Umar Tal,,1860,,,1862,3,16
39,1548,Regional governments,,1862,4,,1864,1,
40,1550,Guatemala,,1863,1,23,1863,11,15
41,1551,Aborigines,,1864,12,18,1865,12,18
42,1552,Orange Free State,,1865,6,9,1866,4,3
43,1553,Tigray,,1868,4,13,1872,1,21
44,1554,Blancos,,1870,3,5,1872,4,6
45,1556,Cetewayo faction,,1883,3,28,1884,6,4
46,1557,Oman,,1883,10,,1884,,
47,1558,Aborigines,,1884,8,,1894,11,16
48,1559,Ethiopia,,1885,5,,1889,3,12
49,1560,German East Africa Company,,1888,9,,1889,5,
50,1561,Rabah,,1893,,,1893,,
51,1567,Nejd,,1919,5,25,1919,5,25
52,1568,Nejd,,1924,9,4,1925,12,23
53,1570,Muslims,,1946,8,16,1947,8,1
54,1571,Telenganans,,1947,8,15,1948,9,12
55,1572,Arabs,,1947,11,29,1948,5,14
56,1573,Communists,,1948,4,3,1949,5,
57,1574,Hutu,,1959,10,19,1962,7,1
58,1577,Dhofar,,1968,9,,1971,10,6
59,1581,MPLA,,1974,10,15,1975,10,22
60,1582,Fretilin,,1975,8,11,1975,10,15
61,1594,Hemda,,1999,6,,2005,3,

In [88]:
combinedWarDates = [dfInterStateWarDates, dfIntraStateWarDates, dfNonStateWarDates, dfExtraStateWarDates]
dfWarDates = pd.concat(combinedWarDates)
dfWarDates

,WarID,PolityName,StateID,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,1,Spain,230,1823,4,7,1823,11,13
1,1,France,220,1823,4,7,1823,11,13
2,4,Ottoman Empire,640,1828,4,26,1829,9,14
3,4,Russia,365,1828,4,26,1829,9,14
4,7,Mexico,70,1846,4,25,1847,9,14
5,7,United States of America,2,1846,4,25,1847,9,14
6,10,Tuscany,337,1848,3,29,1848,8,9
7,10,Italy,325,1848,3,24,1848,8,9
8,10,Austria,300,1848,3,24,1848,8,9
9,10,Modena,332,1848,4,9,1848,8,9
10,13,Prussia,255,1848,4,10,1848,8,26
11,13,Denmark,390,1848,4,10,1848,8,26
12,16,France,220,1849,4,30,1849,7,2
13,16,Two Sicilies,329,1849,5,8,1849,7,2
14,16,Austria,300,1849,5,8,1849,7,2
15,16,Papal States,327,1849,4,30,1849,7,2
16,19,Argentina,160,1851,7,19,1852,2,3
17,19,Brazil,140,1851,7,19,1852,2,3
18,22,Turkey,640,1853,10,23,1856,3,1
19,22,Italy,325,1855,1,10,1856,3,1
20,22,France,220,1854,3,31,1856,3,1
21,22,United Kingdom,200,1854,3,31,1856,3,1
22,22,Russia,365,1853,10,23,1856,3,1
23,25,United Kingdom,200,1856,10,25,1857,4,5
24,25,Iran,630,1856,10,25,1857,4,5
25,28,Sardinia/Piedmont,325,1859,4,29,1859,7,12
26,28,Austria,300,1859,4,29,1859,7,12
27,28,France,220,1859,5,3,1859,7,12
28,31,Morocco,600,1859,10,22,1860,3,25
29,31,Spain,230,1859,10,22,1860,3,25
...,...,...,...,...,...,...,...,...,...
411,908,Ninjas and Cocoye militias,,1998,12,15,1999,11,16
412,910,FKM & RMS,,1999,1,,2000,8,22
413,911,Muslim Fulani,,1999,5,,2000,5,31
414,912,GAM,,1999,5,3,2002,12,9
415,913,Oromo Lib. Front,,1999,5,30,1999,8,18
416,915,Chechnya,,1999,8,7,2003,10,3
417,916,MILF,,2000,4,23,2001,6,22
418,917,RDFG,,2000,9,11,2001,4,
419,918,FNL & FROLINA,,2001,3,21,2003,10,8
420,920,Army for the Liberation of Rwanda,,2001,5,21,2001,9,4
421,921,CPN,,2001,11,23,2003,1,29
422,922,LURD & MODEL,,2002,2,,2003,8,11
423,923,Nuer,,2002,8,,2003,1,
425,925,"MPCI, MPIGO, MJP",,2002,9,19,2004,11,16
426,926,MILF & ASG,,2003,2,11,2003,7,
427,927,SLA & JEM,,2003,2,26,2006,12,11
428,930,GAM,,2003,5,18,2003,11,18
429,931,CPN,,2003,8,27,2006,4,26
431,932,Waziri tribes,,2004,2,20,2006,9,5
432,933,Muslim Fulani,,2004,3,,2004,9,16
433,935,Zaidi Muslims,,2004,6,21,2005,4,8
434,936,MILF & NPA,,2005,1,17,2006,7,11
435,937,FUDC,,2005,12,18,2006,12,20
437,938,SCIC,,2006,3,6,2008,6,1
439,938,Eritrea,531,2006,10,19,2008,6,11
440,940,LTTE,,2006,10,11,,,
441,941,Zaidi Muslims,,2007,1,29,2007,6,16
37,334,Bali,,1849,4,2,1849,6,14
79,379,Afghanistan,,1879,9,3,1880,9,2
153,454,Palestinians,,1937,8,,1939,1,

In [89]:
dfWarDates = dfWarDates.replace(-9, '')
dfWarDates = dfWarDates.replace(-8, '')
dfWarDates = dfWarDates.replace(-7, '')

In [90]:
dfWarDates['StartMonthClean'] = dfWarDates['StartMonth']
dfWarDates['StartDayClean'] = dfWarDates['StartDay']
dfWarDates['EndMonthClean'] = dfWarDates['EndMonth']
dfWarDates['EndDayClean'] = dfWarDates['EndDay']
dfWarDates['StartMonthClean'] [dfWarDates['StartMonthClean'] == ''] = 1
dfWarDates['StartDayClean'] [dfWarDates['StartDayClean'] == ''] = 1
dfWarDates['EndMonthClean'] [dfWarDates['EndMonthClean'] == ''] = 1
dfWarDates['EndDayClean'] [dfWarDates['EndDayClean'] == ''] = 1
dfWarDates['EndYear'] [dfWarDates['EndYear'] == ''] = 2100 # placeholder for blank endyears, to be made null later
dfWarDates

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,WarID,PolityName,StateID,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,StartMonthClean,StartDayClean,EndMonthClean,EndDayClean
0,1,Spain,230,1823,4,7,1823,11,13,4,7,11,13
1,1,France,220,1823,4,7,1823,11,13,4,7,11,13
2,4,Ottoman Empire,640,1828,4,26,1829,9,14,4,26,9,14
3,4,Russia,365,1828,4,26,1829,9,14,4,26,9,14
4,7,Mexico,70,1846,4,25,1847,9,14,4,25,9,14
5,7,United States of America,2,1846,4,25,1847,9,14,4,25,9,14
6,10,Tuscany,337,1848,3,29,1848,8,9,3,29,8,9
7,10,Italy,325,1848,3,24,1848,8,9,3,24,8,9
8,10,Austria,300,1848,3,24,1848,8,9,3,24,8,9
9,10,Modena,332,1848,4,9,1848,8,9,4,9,8,9
10,13,Prussia,255,1848,4,10,1848,8,26,4,10,8,26
11,13,Denmark,390,1848,4,10,1848,8,26,4,10,8,26
12,16,France,220,1849,4,30,1849,7,2,4,30,7,2
13,16,Two Sicilies,329,1849,5,8,1849,7,2,5,8,7,2
14,16,Austria,300,1849,5,8,1849,7,2,5,8,7,2
15,16,Papal States,327,1849,4,30,1849,7,2,4,30,7,2
16,19,Argentina,160,1851,7,19,1852,2,3,7,19,2,3
17,19,Brazil,140,1851,7,19,1852,2,3,7,19,2,3
18,22,Turkey,640,1853,10,23,1856,3,1,10,23,3,1
19,22,Italy,325,1855,1,10,1856,3,1,1,10,3,1
20,22,France,220,1854,3,31,1856,3,1,3,31,3,1
21,22,United Kingdom,200,1854,3,31,1856,3,1,3,31,3,1
22,22,Russia,365,1853,10,23,1856,3,1,10,23,3,1
23,25,United Kingdom,200,1856,10,25,1857,4,5,10,25,4,5
24,25,Iran,630,1856,10,25,1857,4,5,10,25,4,5
25,28,Sardinia/Piedmont,325,1859,4,29,1859,7,12,4,29,7,12
26,28,Austria,300,1859,4,29,1859,7,12,4,29,7,12
27,28,France,220,1859,5,3,1859,7,12,5,3,7,12
28,31,Morocco,600,1859,10,22,1860,3,25,10,22,3,25
29,31,Spain,230,1859,10,22,1860,3,25,10,22,3,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,908,Ninjas and Cocoye militias,,1998,12,15,1999,11,16,12,15,11,16
412,910,FKM & RMS,,1999,1,,2000,8,22,1,1,8,22
413,911,Muslim Fulani,,1999,5,,2000,5,31,5,1,5,31
414,912,GAM,,1999,5,3,2002,12,9,5,3,12,9
415,913,Oromo Lib. Front,,1999,5,30,1999,8,18,5,30,8,18
416,915,Chechnya,,1999,8,7,2003,10,3,8,7,10,3
417,916,MILF,,2000,4,23,2001,6,22,4,23,6,22
418,917,RDFG,,2000,9,11,2001,4,,9,11,4,1
419,918,FNL & FROLINA,,2001,3,21,2003,10,8,3,21,10,8
420,920,Army for the Liberation of Rwanda,,2001,5,21,2001,9,4,5,21,9,4
421,921,CPN,,2001,11,23,2003,1,29,11,23,1,29
422,922,LURD & MODEL,,2002,2,,2003,8,11,2,1,8,11
423,923,Nuer,,2002,8,,2003,1,,8,1,1,1
425,925,"MPCI, MPIGO, MJP",,2002,9,19,2004,11,16,9,19,11,16
426,926,MILF & ASG,,2003,2,11,2003,7,,2,11,7,1
427,927,SLA & JEM,,2003,2,26,2006,12,11,2,26,12,11
428,930,GAM,,2003,5,18,2003,11,18,5,18,11,18
429,931,CPN,,2003,8,27,2006,4,26,8,27,4,26
431,932,Waziri tribes,,2004,2,20,2006,9,5,2,20,9,5
432,933,Muslim Fulani,,2004,3,,2004,9,16,3,1,9,16
433,935,Zaidi Muslims,,2004,6,21,2005,4,8,6,21,4,8
434,936,MILF & NPA,,2005,1,17,2006,7,11,1,17,7,11
435,937,FUDC,,2005,12,18,2006,12,20,12,18,12,20
437,938,SCIC,,2006,3,6,2008,6,1,3,6,6,1
439,938,Eritrea,531,2006,10,19,2008,6,11,10,19,6,11
440,940,LTTE,,2006,10,11,2100,,,10,11,1,1
441,941,Zaidi Muslims,,2007,1,29,2007,6,16,1,29,6,16
37,334,Bali,,1849,4,2,1849,6,14,4,2,6,14
79,379,Afghanistan,,1879,9,3,1880,9,2,9,3,9,2
153,454,Palestinians,,1937,8,,1939,1,,8,1,1,1

In [91]:
dfWarDates['StartYear'] = dfWarDates['StartYear'].astype(int)
dfWarDates['StartMonthClean'] = dfWarDates['StartMonthClean'].astype(int)
dfWarDates['StartDayClean'] = dfWarDates['StartDayClean'].astype(int)
dfWarDates['EndYear'] = dfWarDates['EndYear'].astype(int)
dfWarDates['EndMonthClean'] = dfWarDates['EndMonthClean'].astype(int)
dfWarDates['EndDayClean'] = dfWarDates['EndDayClean'].astype(int)

In [92]:
dfWarDates['StartDate'] = pd.to_datetime(dict(year=dfWarDates.StartYear, month=dfWarDates.StartMonthClean, day=dfWarDates.StartDayClean))
dfWarDates['EndDate'] = pd.to_datetime(dict(year=dfWarDates.EndYear, month=dfWarDates.EndMonthClean, day=dfWarDates.EndDayClean))
dfWarDates

,WarID,PolityName,StateID,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,StartMonthClean,StartDayClean,EndMonthClean,EndDayClean,StartDate,EndDate
0,1,Spain,230,1823,4,7,1823,11,13,4,7,11,13,1823-04-07,1823-11-13
1,1,France,220,1823,4,7,1823,11,13,4,7,11,13,1823-04-07,1823-11-13
2,4,Ottoman Empire,640,1828,4,26,1829,9,14,4,26,9,14,1828-04-26,1829-09-14
3,4,Russia,365,1828,4,26,1829,9,14,4,26,9,14,1828-04-26,1829-09-14
4,7,Mexico,70,1846,4,25,1847,9,14,4,25,9,14,1846-04-25,1847-09-14
5,7,United States of America,2,1846,4,25,1847,9,14,4,25,9,14,1846-04-25,1847-09-14
6,10,Tuscany,337,1848,3,29,1848,8,9,3,29,8,9,1848-03-29,1848-08-09
7,10,Italy,325,1848,3,24,1848,8,9,3,24,8,9,1848-03-24,1848-08-09
8,10,Austria,300,1848,3,24,1848,8,9,3,24,8,9,1848-03-24,1848-08-09
9,10,Modena,332,1848,4,9,1848,8,9,4,9,8,9,1848-04-09,1848-08-09
10,13,Prussia,255,1848,4,10,1848,8,26,4,10,8,26,1848-04-10,1848-08-26
11,13,Denmark,390,1848,4,10,1848,8,26,4,10,8,26,1848-04-10,1848-08-26
12,16,France,220,1849,4,30,1849,7,2,4,30,7,2,1849-04-30,1849-07-02
13,16,Two Sicilies,329,1849,5,8,1849,7,2,5,8,7,2,1849-05-08,1849-07-02
14,16,Austria,300,1849,5,8,1849,7,2,5,8,7,2,1849-05-08,1849-07-02
15,16,Papal States,327,1849,4,30,1849,7,2,4,30,7,2,1849-04-30,1849-07-02
16,19,Argentina,160,1851,7,19,1852,2,3,7,19,2,3,1851-07-19,1852-02-03
17,19,Brazil,140,1851,7,19,1852,2,3,7,19,2,3,1851-07-19,1852-02-03
18,22,Turkey,640,1853,10,23,1856,3,1,10,23,3,1,1853-10-23,1856-03-01
19,22,Italy,325,1855,1,10,1856,3,1,1,10,3,1,1855-01-10,1856-03-01
20,22,France,220,1854,3,31,1856,3,1,3,31,3,1,1854-03-31,1856-03-01
21,22,United Kingdom,200,1854,3,31,1856,3,1,3,31,3,1,1854-03-31,1856-03-01
22,22,Russia,365,1853,10,23,1856,3,1,10,23,3,1,1853-10-23,1856-03-01
23,25,United Kingdom,200,1856,10,25,1857,4,5,10,25,4,5,1856-10-25,1857-04-05
24,25,Iran,630,1856,10,25,1857,4,5,10,25,4,5,1856-10-25,1857-04-05
25,28,Sardinia/Piedmont,325,1859,4,29,1859,7,12,4,29,7,12,1859-04-29,1859-07-12
26,28,Austria,300,1859,4,29,1859,7,12,4,29,7,12,1859-04-29,1859-07-12
27,28,France,220,1859,5,3,1859,7,12,5,3,7,12,1859-05-03,1859-07-12
28,31,Morocco,600,1859,10,22,1860,3,25,10,22,3,25,1859-10-22,1860-03-25
29,31,Spain,230,1859,10,22,1860,3,25,10,22,3,25,1859-10-22,1860-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,908,Ninjas and Cocoye militias,,1998,12,15,1999,11,16,12,15,11,16,1998-12-15,1999-11-16
412,910,FKM & RMS,,1999,1,,2000,8,22,1,1,8,22,1999-01-01,2000-08-22
413,911,Muslim Fulani,,1999,5,,2000,5,31,5,1,5,31,1999-05-01,2000-05-31
414,912,GAM,,1999,5,3,2002,12,9,5,3,12,9,1999-05-03,2002-12-09
415,913,Oromo Lib. Front,,1999,5,30,1999,8,18,5,30,8,18,1999-05-30,1999-08-18
416,915,Chechnya,,1999,8,7,2003,10,3,8,7,10,3,1999-08-07,2003-10-03
417,916,MILF,,2000,4,23,2001,6,22,4,23,6,22,2000-04-23,2001-06-22
418,917,RDFG,,2000,9,11,2001,4,,9,11,4,1,2000-09-11,2001-04-01
419,918,FNL & FROLINA,,2001,3,21,2003,10,8,3,21,10,8,2001-03-21,2003-10-08
420,920,Army for the Liberation of Rwanda,,2001,5,21,2001,9,4,5,21,9,4,2001-05-21,2001-09-04
421,921,CPN,,2001,11,23,2003,1,29,11,23,1,29,2001-11-23,2003-01-29
422,922,LURD & MODEL,,2002,2,,2003,8,11,2,1,8,11,2002-02-01,2003-08-11
423,923,Nuer,,2002,8,,2003,1,,8,1,1,1,2002-08-01,2003-01-01
425,925,"MPCI, MPIGO, MJP",,2002,9,19,2004,11,16,9,19,11,16,2002-09-19,2004-11-16
426,926,MILF & ASG,,2003,2,11,2003,7,,2,11,7,1,2003-02-11,2003-07-01
427,927,SLA & JEM,,2003,2,26,2006,12,11,2,26,12,11,2003-02-26,2006-12-11
428,930,GAM,,2003,5,18,2003,11,18,5,18,11,18,2003-05-18,2003-11-18
429,931,CPN,,2003,8,27,2006,4,26,8,27,4,26,2003-08-27,2006-04-26
431,932,Waziri tribes,,2004,2,20,2006,9,5,2,20,9,5,2004-02-20,2006-09-05
432,933,Muslim Fulani,,2004,3,,2004,9,16,3,1,9,16,2004-03-01,2004-09-16
433,935,Zaidi Muslims,,2004,6,21,2005,4,8,6,21,4,8,2004-06-21,2005-04-08
434,936,MILF & NPA,,2005,1,17,2006,7,11,1,17,7,11,2005-01-17,2006-07-11
435,937,FUDC,,2005,12,18,2006,12,20,12,18,12,20,2005-12-18,2006-12-20
437,938,SCIC,,2006,3,6,2008,6,1,3,6,6,1,2006-03-06,2008-06-01
439,938,Eritrea,531,2006,10,19,2008,6,11,10,19,6,11,2006-10-19,2008-06-11
440,940,LTTE,,2006,10,11,2100,,,10,11,1,1,2006-10-11,2100-01-01
441,941,Zaidi Muslims,,2007,1,29,2007,6,16,1,29,6,16,2007-01-29,2007-06-16
37,334,Bali,,1849,4,2,1849,6,14,4,2,6,14,1849-04-02,1849-06-14
79,379,Afghanistan,,1879,9,3,1880,9,2,9,3,9,2,1879-09-03,1880-09-02
153,454,Palestinians,,1937,8,,1939,1,,8,1,1,1,1937-08-01,1939-01-01

In [93]:
dfWarDates['StartDate'] = dfWarDates['StartDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
dfWarDates['EndDate'] = dfWarDates['EndDate'].apply(lambda x: x.strftime('%Y-%m-%d'))
dfWarDates['EndDate'] [dfWarDates['EndYear'] == 2100] = ''
dfWarDates

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,WarID,PolityName,StateID,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay,StartMonthClean,StartDayClean,EndMonthClean,EndDayClean,StartDate,EndDate
0,1,Spain,230,1823,4,7,1823,11,13,4,7,11,13,1823-04-07,1823-11-13
1,1,France,220,1823,4,7,1823,11,13,4,7,11,13,1823-04-07,1823-11-13
2,4,Ottoman Empire,640,1828,4,26,1829,9,14,4,26,9,14,1828-04-26,1829-09-14
3,4,Russia,365,1828,4,26,1829,9,14,4,26,9,14,1828-04-26,1829-09-14
4,7,Mexico,70,1846,4,25,1847,9,14,4,25,9,14,1846-04-25,1847-09-14
5,7,United States of America,2,1846,4,25,1847,9,14,4,25,9,14,1846-04-25,1847-09-14
6,10,Tuscany,337,1848,3,29,1848,8,9,3,29,8,9,1848-03-29,1848-08-09
7,10,Italy,325,1848,3,24,1848,8,9,3,24,8,9,1848-03-24,1848-08-09
8,10,Austria,300,1848,3,24,1848,8,9,3,24,8,9,1848-03-24,1848-08-09
9,10,Modena,332,1848,4,9,1848,8,9,4,9,8,9,1848-04-09,1848-08-09
10,13,Prussia,255,1848,4,10,1848,8,26,4,10,8,26,1848-04-10,1848-08-26
11,13,Denmark,390,1848,4,10,1848,8,26,4,10,8,26,1848-04-10,1848-08-26
12,16,France,220,1849,4,30,1849,7,2,4,30,7,2,1849-04-30,1849-07-02
13,16,Two Sicilies,329,1849,5,8,1849,7,2,5,8,7,2,1849-05-08,1849-07-02
14,16,Austria,300,1849,5,8,1849,7,2,5,8,7,2,1849-05-08,1849-07-02
15,16,Papal States,327,1849,4,30,1849,7,2,4,30,7,2,1849-04-30,1849-07-02
16,19,Argentina,160,1851,7,19,1852,2,3,7,19,2,3,1851-07-19,1852-02-03
17,19,Brazil,140,1851,7,19,1852,2,3,7,19,2,3,1851-07-19,1852-02-03
18,22,Turkey,640,1853,10,23,1856,3,1,10,23,3,1,1853-10-23,1856-03-01
19,22,Italy,325,1855,1,10,1856,3,1,1,10,3,1,1855-01-10,1856-03-01
20,22,France,220,1854,3,31,1856,3,1,3,31,3,1,1854-03-31,1856-03-01
21,22,United Kingdom,200,1854,3,31,1856,3,1,3,31,3,1,1854-03-31,1856-03-01
22,22,Russia,365,1853,10,23,1856,3,1,10,23,3,1,1853-10-23,1856-03-01
23,25,United Kingdom,200,1856,10,25,1857,4,5,10,25,4,5,1856-10-25,1857-04-05
24,25,Iran,630,1856,10,25,1857,4,5,10,25,4,5,1856-10-25,1857-04-05
25,28,Sardinia/Piedmont,325,1859,4,29,1859,7,12,4,29,7,12,1859-04-29,1859-07-12
26,28,Austria,300,1859,4,29,1859,7,12,4,29,7,12,1859-04-29,1859-07-12
27,28,France,220,1859,5,3,1859,7,12,5,3,7,12,1859-05-03,1859-07-12
28,31,Morocco,600,1859,10,22,1860,3,25,10,22,3,25,1859-10-22,1860-03-25
29,31,Spain,230,1859,10,22,1860,3,25,10,22,3,25,1859-10-22,1860-03-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,908,Ninjas and Cocoye militias,,1998,12,15,1999,11,16,12,15,11,16,1998-12-15,1999-11-16
412,910,FKM & RMS,,1999,1,,2000,8,22,1,1,8,22,1999-01-01,2000-08-22
413,911,Muslim Fulani,,1999,5,,2000,5,31,5,1,5,31,1999-05-01,2000-05-31
414,912,GAM,,1999,5,3,2002,12,9,5,3,12,9,1999-05-03,2002-12-09
415,913,Oromo Lib. Front,,1999,5,30,1999,8,18,5,30,8,18,1999-05-30,1999-08-18
416,915,Chechnya,,1999,8,7,2003,10,3,8,7,10,3,1999-08-07,2003-10-03
417,916,MILF,,2000,4,23,2001,6,22,4,23,6,22,2000-04-23,2001-06-22
418,917,RDFG,,2000,9,11,2001,4,,9,11,4,1,2000-09-11,2001-04-01
419,918,FNL & FROLINA,,2001,3,21,2003,10,8,3,21,10,8,2001-03-21,2003-10-08
420,920,Army for the Liberation of Rwanda,,2001,5,21,2001,9,4,5,21,9,4,2001-05-21,2001-09-04
421,921,CPN,,2001,11,23,2003,1,29,11,23,1,29,2001-11-23,2003-01-29
422,922,LURD & MODEL,,2002,2,,2003,8,11,2,1,8,11,2002-02-01,2003-08-11
423,923,Nuer,,2002,8,,2003,1,,8,1,1,1,2002-08-01,2003-01-01
425,925,"MPCI, MPIGO, MJP",,2002,9,19,2004,11,16,9,19,11,16,2002-09-19,2004-11-16
426,926,MILF & ASG,,2003,2,11,2003,7,,2,11,7,1,2003-02-11,2003-07-01
427,927,SLA & JEM,,2003,2,26,2006,12,11,2,26,12,11,2003-02-26,2006-12-11
428,930,GAM,,2003,5,18,2003,11,18,5,18,11,18,2003-05-18,2003-11-18
429,931,CPN,,2003,8,27,2006,4,26,8,27,4,26,2003-08-27,2006-04-26
431,932,Waziri tribes,,2004,2,20,2006,9,5,2,20,9,5,2004-02-20,2006-09-05
432,933,Muslim Fulani,,2004,3,,2004,9,16,3,1,9,16,2004-03-01,2004-09-16
433,935,Zaidi Muslims,,2004,6,21,2005,4,8,6,21,4,8,2004-06-21,2005-04-08
434,936,MILF & NPA,,2005,1,17,2006,7,11,1,17,7,11,2005-01-17,2006-07-11
435,937,FUDC,,2005,12,18,2006,12,20,12,18,12,20,2005-12-18,2006-12-20
437,938,SCIC,,2006,3,6,2008,6,1,3,6,6,1,2006-03-06,2008-06-01
439,938,Eritrea,531,2006,10,19,2008,6,11,10,19,6,11,2006-10-19,2008-06-11
440,940,LTTE,,2006,10,11,2100,,,10,11,1,1,2006-10-11,
441,941,Zaidi Muslims,,2007,1,29,2007,6,16,1,29,6,16,2007-01-29,2007-06-16
37,334,Bali,,1849,4,2,1849,6,14,4,2,6,14,1849-04-02,1849-06-14
79,379,Afghanistan,,1879,9,3,1880,9,2,9,3,9,2,1879-09-03,1880-09-02
153,454,Palestinians,,1937,8,,1939,1,,8,1,1,1,1937-08-01,1939-01-01

In [94]:
dfWarDates = dfWarDates[['WarID', 'PolityName', 'StateID', 'StartDate', 'EndDate', 'StartYear', 'StartMonth', 'StartDay', 'EndYear', 'EndMonth', 'EndDay']]
dfWarDates

,WarID,PolityName,StateID,StartDate,EndDate,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,1,Spain,230,1823-04-07,1823-11-13,1823,4,7,1823,11,13
1,1,France,220,1823-04-07,1823-11-13,1823,4,7,1823,11,13
2,4,Ottoman Empire,640,1828-04-26,1829-09-14,1828,4,26,1829,9,14
3,4,Russia,365,1828-04-26,1829-09-14,1828,4,26,1829,9,14
4,7,Mexico,70,1846-04-25,1847-09-14,1846,4,25,1847,9,14
5,7,United States of America,2,1846-04-25,1847-09-14,1846,4,25,1847,9,14
6,10,Tuscany,337,1848-03-29,1848-08-09,1848,3,29,1848,8,9
7,10,Italy,325,1848-03-24,1848-08-09,1848,3,24,1848,8,9
8,10,Austria,300,1848-03-24,1848-08-09,1848,3,24,1848,8,9
9,10,Modena,332,1848-04-09,1848-08-09,1848,4,9,1848,8,9
10,13,Prussia,255,1848-04-10,1848-08-26,1848,4,10,1848,8,26
11,13,Denmark,390,1848-04-10,1848-08-26,1848,4,10,1848,8,26
12,16,France,220,1849-04-30,1849-07-02,1849,4,30,1849,7,2
13,16,Two Sicilies,329,1849-05-08,1849-07-02,1849,5,8,1849,7,2
14,16,Austria,300,1849-05-08,1849-07-02,1849,5,8,1849,7,2
15,16,Papal States,327,1849-04-30,1849-07-02,1849,4,30,1849,7,2
16,19,Argentina,160,1851-07-19,1852-02-03,1851,7,19,1852,2,3
17,19,Brazil,140,1851-07-19,1852-02-03,1851,7,19,1852,2,3
18,22,Turkey,640,1853-10-23,1856-03-01,1853,10,23,1856,3,1
19,22,Italy,325,1855-01-10,1856-03-01,1855,1,10,1856,3,1
20,22,France,220,1854-03-31,1856-03-01,1854,3,31,1856,3,1
21,22,United Kingdom,200,1854-03-31,1856-03-01,1854,3,31,1856,3,1
22,22,Russia,365,1853-10-23,1856-03-01,1853,10,23,1856,3,1
23,25,United Kingdom,200,1856-10-25,1857-04-05,1856,10,25,1857,4,5
24,25,Iran,630,1856-10-25,1857-04-05,1856,10,25,1857,4,5
25,28,Sardinia/Piedmont,325,1859-04-29,1859-07-12,1859,4,29,1859,7,12
26,28,Austria,300,1859-04-29,1859-07-12,1859,4,29,1859,7,12
27,28,France,220,1859-05-03,1859-07-12,1859,5,3,1859,7,12
28,31,Morocco,600,1859-10-22,1860-03-25,1859,10,22,1860,3,25
29,31,Spain,230,1859-10-22,1860-03-25,1859,10,22,1860,3,25
...,...,...,...,...,...,...,...,...,...,...,...
411,908,Ninjas and Cocoye militias,,1998-12-15,1999-11-16,1998,12,15,1999,11,16
412,910,FKM & RMS,,1999-01-01,2000-08-22,1999,1,,2000,8,22
413,911,Muslim Fulani,,1999-05-01,2000-05-31,1999,5,,2000,5,31
414,912,GAM,,1999-05-03,2002-12-09,1999,5,3,2002,12,9
415,913,Oromo Lib. Front,,1999-05-30,1999-08-18,1999,5,30,1999,8,18
416,915,Chechnya,,1999-08-07,2003-10-03,1999,8,7,2003,10,3
417,916,MILF,,2000-04-23,2001-06-22,2000,4,23,2001,6,22
418,917,RDFG,,2000-09-11,2001-04-01,2000,9,11,2001,4,
419,918,FNL & FROLINA,,2001-03-21,2003-10-08,2001,3,21,2003,10,8
420,920,Army for the Liberation of Rwanda,,2001-05-21,2001-09-04,2001,5,21,2001,9,4
421,921,CPN,,2001-11-23,2003-01-29,2001,11,23,2003,1,29
422,922,LURD & MODEL,,2002-02-01,2003-08-11,2002,2,,2003,8,11
423,923,Nuer,,2002-08-01,2003-01-01,2002,8,,2003,1,
425,925,"MPCI, MPIGO, MJP",,2002-09-19,2004-11-16,2002,9,19,2004,11,16
426,926,MILF & ASG,,2003-02-11,2003-07-01,2003,2,11,2003,7,
427,927,SLA & JEM,,2003-02-26,2006-12-11,2003,2,26,2006,12,11
428,930,GAM,,2003-05-18,2003-11-18,2003,5,18,2003,11,18
429,931,CPN,,2003-08-27,2006-04-26,2003,8,27,2006,4,26
431,932,Waziri tribes,,2004-02-20,2006-09-05,2004,2,20,2006,9,5
432,933,Muslim Fulani,,2004-03-01,2004-09-16,2004,3,,2004,9,16
433,935,Zaidi Muslims,,2004-06-21,2005-04-08,2004,6,21,2005,4,8
434,936,MILF & NPA,,2005-01-17,2006-07-11,2005,1,17,2006,7,11
435,937,FUDC,,2005-12-18,2006-12-20,2005,12,18,2006,12,20
437,938,SCIC,,2006-03-06,2008-06-01,2006,3,6,2008,6,1
439,938,Eritrea,531,2006-10-19,2008-06-11,2006,10,19,2008,6,11
440,940,LTTE,,2006-10-11,,2006,10,11,2100,,
441,941,Zaidi Muslims,,2007-01-29,2007-06-16,2007,1,29,2007,6,16
37,334,Bali,,1849-04-02,1849-06-14,1849,4,2,1849,6,14
79,379,Afghanistan,,1879-09-03,1880-09-02,1879,9,3,1880,9,2
153,454,Palestinians,,1937-08-01,1939-01-01,1937,8,,1939,1,

In [95]:
dfWarDates.drop_duplicates(inplace=True)
dfWarDates

/usr/local/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,WarID,PolityName,StateID,StartDate,EndDate,StartYear,StartMonth,StartDay,EndYear,EndMonth,EndDay
0,1,Spain,230,1823-04-07,1823-11-13,1823,4,7,1823,11,13
1,1,France,220,1823-04-07,1823-11-13,1823,4,7,1823,11,13
2,4,Ottoman Empire,640,1828-04-26,1829-09-14,1828,4,26,1829,9,14
3,4,Russia,365,1828-04-26,1829-09-14,1828,4,26,1829,9,14
4,7,Mexico,70,1846-04-25,1847-09-14,1846,4,25,1847,9,14
5,7,United States of America,2,1846-04-25,1847-09-14,1846,4,25,1847,9,14
6,10,Tuscany,337,1848-03-29,1848-08-09,1848,3,29,1848,8,9
7,10,Italy,325,1848-03-24,1848-08-09,1848,3,24,1848,8,9
8,10,Austria,300,1848-03-24,1848-08-09,1848,3,24,1848,8,9
9,10,Modena,332,1848-04-09,1848-08-09,1848,4,9,1848,8,9
10,13,Prussia,255,1848-04-10,1848-08-26,1848,4,10,1848,8,26
11,13,Denmark,390,1848-04-10,1848-08-26,1848,4,10,1848,8,26
12,16,France,220,1849-04-30,1849-07-02,1849,4,30,1849,7,2
13,16,Two Sicilies,329,1849-05-08,1849-07-02,1849,5,8,1849,7,2
14,16,Austria,300,1849-05-08,1849-07-02,1849,5,8,1849,7,2
15,16,Papal States,327,1849-04-30,1849-07-02,1849,4,30,1849,7,2
16,19,Argentina,160,1851-07-19,1852-02-03,1851,7,19,1852,2,3
17,19,Brazil,140,1851-07-19,1852-02-03,1851,7,19,1852,2,3
18,22,Turkey,640,1853-10-23,1856-03-01,1853,10,23,1856,3,1
19,22,Italy,325,1855-01-10,1856-03-01,1855,1,10,1856,3,1
20,22,France,220,1854-03-31,1856-03-01,1854,3,31,1856,3,1
21,22,United Kingdom,200,1854-03-31,1856-03-01,1854,3,31,1856,3,1
22,22,Russia,365,1853-10-23,1856-03-01,1853,10,23,1856,3,1
23,25,United Kingdom,200,1856-10-25,1857-04-05,1856,10,25,1857,4,5
24,25,Iran,630,1856-10-25,1857-04-05,1856,10,25,1857,4,5
25,28,Sardinia/Piedmont,325,1859-04-29,1859-07-12,1859,4,29,1859,7,12
26,28,Austria,300,1859-04-29,1859-07-12,1859,4,29,1859,7,12
27,28,France,220,1859-05-03,1859-07-12,1859,5,3,1859,7,12
28,31,Morocco,600,1859-10-22,1860-03-25,1859,10,22,1860,3,25
29,31,Spain,230,1859-10-22,1860-03-25,1859,10,22,1860,3,25
...,...,...,...,...,...,...,...,...,...,...,...
38,1546,Umar Tal,,1860-01-01,1862-03-16,1860,,,1862,3,16
39,1548,Regional governments,,1862-04-01,1864-01-01,1862,4,,1864,1,
40,1550,Guatemala,,1863-01-23,1863-11-15,1863,1,23,1863,11,15
41,1551,Aborigines,,1864-12-18,1865-12-18,1864,12,18,1865,12,18
42,1552,Orange Free State,,1865-06-09,1866-04-03,1865,6,9,1866,4,3
43,1553,Tigray,,1868-04-13,1872-01-21,1868,4,13,1872,1,21
44,1554,Blancos,,1870-03-05,1872-04-06,1870,3,5,1872,4,6
45,1556,Cetewayo faction,,1883-03-28,1884-06-04,1883,3,28,1884,6,4
46,1557,Oman,,1883-10-01,1884-01-01,1883,10,,1884,,
47,1558,Aborigines,,1884-08-01,1894-11-16,1884,8,,1894,11,16
48,1559,Ethiopia,,1885-05-01,1889-03-12,1885,5,,1889,3,12
49,1560,German East Africa Company,,1888-09-01,1889-05-01,1888,9,,1889,5,
50,1561,Rabah,,1893-01-01,1893-01-01,1893,,,1893,,
51,1567,Nejd,,1919-05-25,1919-05-25,1919,5,25,1919,5,25
52,1568,Nejd,,1924-09-04,1925-12-23,1924,9,4,1925,12,23
53,1570,Muslims,,1946-08-16,1947-08-01,1946,8,16,1947,8,1
54,1571,Telenganans,,1947-08-15,1948-09-12,1947,8,15,1948,9,12
55,1572,Arabs,,1947-11-29,1948-05-14,1947,11,29,1948,5,14
56,1573,Communists,,1948-04-03,1949-05-01,1948,4,3,1949,5,
57,1574,Hutu,,1959-10-19,1962-07-01,1959,10,19,1962,7,1
58,1577,Dhofar,,1968-09-01,1971-10-06,1968,9,,1971,10,6
59,1581,MPLA,,1974-10-15,1975-10-22,1974,10,15,1975,10,22
60,1582,Fretilin,,1975-08-11,1975-10-15,1975,8,11,1975,10,15
61,1594,Hemda,,1999-06-01,2005-03-01,1999,6,,2005,3,
37,334,Netherlands,210,1849-04-02,1849-06-14,1849,4,2,1849,6,14
79,379,United Kingdom,200,1879-09-03,1880-09-02,1879,9,3,1880,9,2
153,454,United Kingdom,200,1937-08-01,1939-01-01,1937,8,,1939,1,
37,334,Bali,,1849-04-02,1849-06-14,1849,4,2,1849,6,14
79,379,Afghanistan,,1879-09-03,1880-09-02,1879,9,3,1880,9,2
153,454,Palestinians,,1937-08-01,1939-01-01,1937,8,,1939,1,

In [96]:
dfWarDates.to_csv('FinalData/war_dates.csv', encoding='utf-8', index=False)